<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { $('.carousel').carousel() })
  </script>
<% end %>

<!-- TODO ??
<header class="jumbotron carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path 'hackcamp-coding.jpg' %>" alt="" />
      <div class="carousel-content">
        <h1>rake crawl:courts --trace</h1>
        <p class="lead">Reštart Hackcamp v&nbsp;Žiline.</p>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path 'hackcamp-supervising.jpg' %>" alt="" />
      <div class="carousel-content">
        <h1>Kontrola sťahovania dát</h1>
        <p class="lead">Reštart Hackcamp v&nbsp;Žiline.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="header" data-slide="prev"><%= icon_tag :'angle-left' %></a>
  <a class="carousel-control right" href="header" data-slide="next"><%= icon_tag :'angle-right' %></a>
</header>
-->

<!-- TODO ??
<header class="jumbotron masthead">
  <div class="pattern">
    <div class="container">
      <h1>
        <small>Máme pre Vás</small>
        <%= number_with_delimiter @count %>
        <small>súdnych dokumentov</small>
      </h1>
    </div>
  </div>
</header>
-->


<!-- TODO enable search field here! -->

<div class="search">
  <div class="container">
    <div class="row">
      <div class="offset4 span4">
        <%= form_tag nil, method: :get, class: :'form-search' do %>
          <div class="input-append">
            <%= search_field_tag :search, params[:search], class: :'search-query', disabled: true %>
            <%= button_tag icon_tag(:search), name: nil, class: :btn %>
          </div>
        <% end %>
      </div>
      <div class="span4">
        <%= link_to "Rozšírené vyhľadávanie", search_decrees_path %>
      </div>
    </div>
  </div>
</div>

