<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { $('.carousel').carousel({interval: 8000}) })
  </script>
<% end %>

<header class="jumbotron">
  <div class="search">
    <div class="container">
      <h1>
        Viac transparentnosti do<br/>
        slovenského súdnictva
      </h1>

      <div class="row">
        <div class="offset2 span8">
          <%= form_tag search_decrees_path, method: :get, class: :'form-search' do %>
            <div class="input-append">
              <%= search_field_tag :search, params[:q], name: :q, placeholder: 'Vyhľadávať v súdnych rozhodnutiach&hellip;'.html_safe, class: :'search-query' %>
              <%= button_tag icon_tag(:search), name: nil, class: :'search-submit btn btn-info' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel" class="carousel slide">
    <div class="carousel-inner pattern">
      <div class="item active">
        <div class="carousel-banner">
          <a class="banner-transparency-2-percent-2015" href="http://transparency.sk/podporte-nas/venujte-2-percenta"></a>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            Súdom na Slovensku<br/>
            nedôveruje až 67% ľudí
            <small>&mdash; Inštitút pre verejné otázky, jún 2012</small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            Trestné konanie na okresných súdoch<br/>
            trvá priemerne štyri a pol mesiaca
            <small>&mdash; Štatistická ročenka MSSR 2012</small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            Už šesť miliónov eur zaplatili okresné a krajské<br/>
            súdy sťažovateľom za súdne prieťahy od roku 2006
            <small>&mdash; nálezy Ústavného súdu</small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            Vyhľadávanie v <%= number_to_human(Decree.total, precision: 0, significant: false).downcase %> rozhodnutiach<br/>
            a <%= number_to_human(Hearing.total, precision: 0, significant: false).downcase %> pojednávaniach
            <small>&mdash; Otvorené Súdy</small>
          </h1>
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#carousel" data-slide="prev"><%= icon_tag :'angle-left' %></a>
    <a class="carousel-control right" href="#carousel" data-slide="next"><%= icon_tag :'angle-right' %></a>
  </div>
</header>
