<% content_for :scripts do %>
  <script type="text/javascript">
  // TODO
    //$(document).ready(function() { $('.carousel').carousel() })
  </script>
<% end %>

<header class="jumbotron">
  <div class="search">
    <div class="container">
<!--      
      <h1>
        <small>Vyhľadávajte v</small>
        <%= number_with_delimiter Decree.total %>
        <small>súdnych rozhodnutiach</small>
      </h1>
-->  
      <div class="row">
        <div class="offset2 span8">
          <%= form_tag search_decrees_path, method: :get, class: :'form-search' do %>
            <div class="input-append">
              <%= search_field_tag :search, params[:q], name: :q, placeholder: 'Vyhľadať v súdnom rozhodnutí&hellip;'.html_safe, class: :'search-query' %>
              <%= button_tag icon_tag(:search), name: nil, class: :'search-submit btn btn-inverse' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel" class="carousel slide">
    <div class="carousel-inner pattern">
      <div class="item active">
        <div class="carousel-content">
          <h1>
            Súdom na Slovensku<br/>
            nedôveruje až 67% ľudí
            <small>&mdash; Inštitút pre verejné otázky, jún 2012</small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            Trestné konanie na okresných súdoch<br/>
            trvá priemerne štyri a pol mesiaca?
            <small>&mdash; Štatistická ročenka MSSR 2012</small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            Za chybné konania zaplatili okresné a krajské súdy<br/>
            sťažovateľom od roku 2006 už šesť miliónov eur?
            <small>&mdash; nálezy Ústavného súdu</small>
          </h1>
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#carousel" data-slide="prev"><%= icon_tag :'angle-left' %></a>
    <a class="carousel-control right" href="#carousel" data-slide="next"><%= icon_tag :'angle-right' %></a>
  </div>
</header>

<!--
<header class="jumbotron masthead">
  <div class="pattern">
    <div class="container">
      <h1>
        <small>Máme pre Vás</small>
        <%= number_with_delimiter @count %>
        <small>súdnych dokumentov</small>
      </h1>
    </div>
  </div>
</header>
-->

<!--
<header class="jumbotron search">
  <div class="pattern">
    <div class="container">

      <h1>
        <small>Vyhľadávajte v</small>
        <%= number_with_delimiter @count %>
        <small>súdnych dokumentoch</small>
      </h1>

      <div class="row">
        <div class="offset2 span8">
          <%= form_tag search_decrees_path, method: :get, class: :'form-search' do %>
            <div class="input-append">
              <%= search_field_tag :search, params[:q], name: :q, placeholder: 'Vyhľadať v súdnom rozhodnutí&hellip;'.html_safe, class: :'search-query' %>
              <%= button_tag icon_tag(:search), name: nil, class: :'search-submit btn btn-inverse' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
-->
