<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { $('.carousel').carousel({interval: 8000}) })
  </script>
<% end %>

<header class="jumbotron">
  <div class="search">
    <div class="container">
      <h1>
        <%= t('home.headline') %>
      </h1>

      <div class="row">
        <div class="offset2 span8">
          <%= form_tag search_decrees_path, method: :get, class: :'form-search' do %>
            <div class="input-append">
              <%= search_field_tag :search, params[:q], name: :q, placeholder: t('home.search').html_safe, class: :'search-query' %>
              <%= button_tag icon_tag(:search), name: nil, class: :'search-submit btn btn-info' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel" class="carousel slide">
    <div class="carousel-inner pattern">
      <div class="item active">
        <div class="carousel-content">
          <h1>
            <%= t('home.fact1') %>
            <small>&mdash; <%= t('home.source1') %> </small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            <%= t('home.fact2') %>
            <small>&mdash; <%= t('home.source2') %> </small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            <%= t('home.fact3') %>
            <small>&mdash; <%= t('home.source3') %> </small>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="carousel-content">
          <h1>
            <%= t('home.fact4', decision: number_to_human(Decree.total, precision: 0, significant: false).downcase, hearing: number_to_human(Hearing.total, precision: 0, significant: false).downcase) %>
            <small>&mdash; <%= t('home.source4') %> </small>
          </h1>
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#carousel" data-slide="prev"><%= icon_tag :'angle-left' %></a>
    <a class="carousel-control right" href="#carousel" data-slide="next"><%= icon_tag :'angle-right' %></a>
  </div>
</header>
