<% provide :header, render(partial: 'header') %>

<section class="features">
  <div class="row">
    <div class="span3">
      <img class="feature-icon" src="<%= asset_path 'features-logo.png' %>" />
    </div>

    <div class="span9">
      <h1>
        <%= t '.open_courts' %>
        <small><%= t '.transparent_view' %></small>
      </h1>
      <p class="lead">
        <%= t '.open_courts_detail_html' %>
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span3">
      <%= icon_tag :hdd %>
    </div>

    <div class="span9">
      <h1>
        <%= t '.open_data' %>
        <small><%= t '.court_documents_html' %></small>
      </h1>
      <p class="lead">
        <%= t '.open_data_detail_html' %>
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span3">
      <%= icon_tag :github %>
    </div>

    <div class="span9">
      <h1>
        <%= t '.open_source' %>
        <small>Ruby&nbsp;on&nbsp;Rails</small>
      </h1>
      <p class="lead">
        <%= t '.open_source_detail_html' %>
      </p>
    </div>
  </div>
</section>

<section class="logos">
  <h1 class="centered">
    <%= t '.supporters' %>
  </h1>

  <hr/>

  <div class="row">
    <div class="span4">
      <a class="logo-transparency" href="http://transparency.sk" target="_blank">
        <img src="<%= asset_path 'logos/transparency-colored-280.png' %>" />
      </a>
    </div>

    <div class="span4">
      <a class="logo-restart" href="http://restartslovensko.sk" target="_blank">
        <img src="<%= asset_path 'logos/restart-colored-280.png' %>" />
      </a>
    </div>

    <div class="span4">
      <a class="logo-konrad-adenauer-stiftung" href="http://www.kas.de/" target="_blank">
        <img src="<%= asset_path 'logos/konrad-adenauer-stiftung-280.png' %>" />
      </a>
    </div>
  </div>

  <div class="row">
    <div class="offset1 span5">
      <a class="logo-pontis" href="http://nadaciapontis.sk" target="_blank">
        <img src="<%= asset_path 'logos/pontis-colored-280.png' %>" />
      </a>
    </div>

    <div class="span5">
      <a class="logo-iba" href="http://ibanet.org" target="_blank">
        <img src="<%= asset_path 'logos/iba-colored-140.png' %>" />
      </a>
    </div>
  </div>

  <hr/>
</section>
