<% provide :header, render(partial: 'header') %>

<section class="features">
  <div class="row">
    <div class="span3">
      <img class="feature-icon" src="<%= asset_path 'features-logo.png' %>" />
    </div>

    <div class="span9">
      <h1>
        Otvorené súdy
        <small>Transparentný pohľad</small>
      </h1>
      <p class="lead">
        Projekt, ktorý <strong>stransparentní pohľad</strong> na <strong>slovenské súdnictvo</strong>.
      </p>
      <h2>
        Pre koho?
      </h2>
      <p class="lead">
        Pre ľudí, ktorí majú radi <strong>všetky dôležité informácie</strong> na jednom mieste a&nbsp;chcú v nich <strong>efektívne vyhľadávať</strong>.
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span3">
      <%= icon_tag :hdd %>
    </div>

    <div class="span9">
      <h1>
        Otvorené dáta
        <small>Súdne&nbsp;dokumenty</small>
      </h1>
      <p class="lead">
        Ponúkame všetky <strong>súdne rozhodnutia a&nbsp;pojednávania</strong>, ktoré boli zverejnené na stránke
        <a href="http://justice.gov.sk" target="_blank">Ministerstva spravodlivosti</a> Slovenskej republiky.
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span3">
      <%= icon_tag :github %>
    </div>

    <div class="span9">
      <h1>
        Otvorený zdrojový kód
        <small>Ruby&nbsp;on&nbsp;Rails</small>
      </h1>
      <p class="lead">
        Zdrojové kódy projektu <a href="https://github.com/otvorenesudy">Otvorené súdy</a>
        sú voľne dostupné na Internete službou <a href="https://github.com/" target="_blank">GitHub</a>.
      </p>
    </div>
  </div>
</section>

<section class="logos">
  <h1 class="centered">
    Projekt podporili
  </h1>

  <hr/>
  
  <div class="row">
    <div class="offset3 span6">
      <a class="logo-transparency" href="http://transparency.sk" target="_blank">
        <img src="<%= asset_path 'logos/transparency-colored-280.png' %>" />
      </a>
    </div>
<!--
    <div class="span6">
      <a class="logo-restart" href="http://restartslovensko.sk/" target="_blank">
        <img src="<%= asset_path 'logos/restart-colored-280.png' %>" />
      </a>
    </div>
-->
  </div>
  
  <hr/>
</section>
