<div class="row">
  <div class="col">
    <div id="carousel" class="carousel carousel-fade slide mb-5" data-ride="carousel">
      <div class="carousel-inner mb-3">
        <div class="carousel-item active">
          <%= link_to image_tag(asset_path('slides/vytrvame-darujte-pastircak-2024.png'), alt: 'V snahe o lepšie Slovensko vytrváme', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.darujme.sk/vytrvame/?referral_tag_id=0c53dd1c-dacb-422c-93a8-8f3b0808fac0', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/2-percenta-2023.png'), alt: '2% pre Transparency International', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/2percenta', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/prokuratura.svg'), alt: 'Otvorená Prokuratúra', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://prokuratura.otvorenesudy.sk', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/rytieri.png'), alt: 'Rytieri a bojovníčky Transparency', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/rytieri', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/vazby-zacali-klesat.png'), alt: 'Počet rodín medzi sudcami začal konečne klesať', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/pocet-rodin-medzi-sudcami-zacal-konecne-klesat/', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/justicia-a-infozakon.svg'), alt: 'Justícia a infozákon'), 'https://transparency.sk/sk/akademia/temy/justicia', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/korupcia-zabija-spravodlivost.svg'), alt: 'Korupcia zabíja spravodlivosť'), 'https://transparency.darujme.sk/2319/?donation=40&periodicity=periodical', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/spravy-z-boja-proti-korupcii.svg'), alt: 'Správy z boja proti korupcii'), 'https://eepurl.com/doWD8X', class: 'd-block w-100', target: :_blank %>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-7 col-xl-6">
    <div class="feature h-100 p-4">
      <h1 class="text-info mb-4">
        <%= t('.feature.headline') %><br><%= t('.feature.footline') %>
      </h1>
      <h4 class="mb-3">
        <%= t('.feature.list', project: content_tag(:span, t('.feature.project'), class: 'text-uppercase').html_safe) %>
      </h4>
      <div class="d-flex align-items-center">
        <ol class="list-unstyled mb-0">
          <% t('.feature.items').each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5 col-xl-6 mt-4 mt-lg-0">
    <div class="row font-weight-bold text-center text-uppercase">
      <%= link_to icon_tag('courts', size: 60) + content_tag(:span, t('.squares.courts')), courts_path, class: 'square mx-3 mb-4' %>
      <%= link_to icon_tag('judges', size: 60) + content_tag(:span, t('.squares.judges')), judges_path, class: 'square mx-3 mb-4' %>
      <div class="d-block d-md-none d-lg-block d-xl-none w-100"></div>
      <%= link_to icon_tag('hearings', size: 60) + content_tag(:span, t('.squares.hearings')), hearings_path, class: 'square mx-3 mb-4' %>
      <div class="d-none d-md-block d-lg-none d-xl-block w-100"></div>
      <%= link_to icon_tag('decrees', size: 60) + content_tag(:span, t('.squares.decrees')), decrees_path, class: 'square mx-3 mb-4 mb-xl-0' %>
      <div class="d-block d-md-none d-lg-block d-xl-none w-100"></div>
      <%= link_to icon_tag('proceedings', size: 60) + content_tag(:span, t('.squares.proceedings')), proceedings_path, class: 'square mx-3 mb-4 mb-lg-0' %>
      <%= link_to icon_tag('judges', size: 60) + content_tag(:span, t('.squares.judges')), "https://prokuratura.otvorenesudy.sk", class: 'square mx-3 mb-4 mb-lg-0', target: :_blank %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="partners mt-lg-4 px-sm-4">
      <h4 class="mb-4"><%= t('.partners.supported_by') %></h4>
      <div class="d-flex flex-column flex-sm-row">
        <%= link_to brand_tag('websupport', width: 150, height: 50), 'https://websupport.sk', class: 'websupport mt-1 ml-2 ml-sm-0 mr-sm-4 mb-3 mb-sm-0' %>
        <%= link_to brand_tag('index-podnikatela', width: 245.05, height: 50), 'https://indexpodnikatela.sk', class: 'ip ml-2 ml-sm-0' %>
      </div>
    </div>
  </div>
</div>
