<div class="jumbotron">
  <div class="container">
    <h1 class="display-2"><%= t '.head' %></h1>

    <p class="lead"><%= t '.detail' %></p>

    <%= link_to t('.donate'), donation_url, class: 'btn btn-lg btn-outline-inverse', role: :button %>
  </div>
</div>

<div class="banner">
  <a href="https://www.transparency.sk/2percenta" target="_blank" class="banner">
    <%= image_tag 'banner.png' %>
  </a>
</div>

<div class="container">
  <%= render 'shared/flash_messages' %>

  <div class="features">
    <h1 class="display-4">
      <%= t '.feature_1.head' %>
      <small><%= t '.feature_1.detail' %></small>
    </h1>

    <p class="lead">
      <%= t '.feature_1.content' %>
    </p>

    <h1 class="display-4">
      <%= t '.feature_2.head' %>
      <small><%= t '.feature_2.detail' %></small>
    </h1>

    <p class="lead">
      <%= t '.feature_2.content', link: link_to(t('.feature_2.link'), 'http://justice.gov.sk') %>
    </p>

    <h1 class="display-4">
      <%= t '.feature_3.head' %>
      <small><%= t '.feature_3.detail' %></small>
    </h1>

    <p class="lead">
      <%= t '.feature_3.content', link: link_to(t('.feature_3.link'), organization_url) %>
    </p>
  </div>

  <div class="partners">
    <h1>
      <%= t '.partners' %>
    </h1>

    <div>
      <%= link_to image_tag(asset_path('partners/transparency-international-slovensko.svg'), alt: 'Transparency International Slovensko'), 'http://transparency.sk', class: 'partner-tis' %>
      <%= link_to image_tag(asset_path('partners/sme.svg'), alt: 'SME'), 'http://sme.sk', class: 'partner-sme' %>
      <%= link_to image_tag(asset_path('partners/konrad-adenauer-stiftung.svg'), alt: 'Konrad-Adenauer-Stiftung'), 'http://kas.de', class: 'partner-kas' %>
    </div>

    <div>
      <%= link_to image_tag(asset_path('partners/nadacia-pontis.svg'), alt: 'Nadácia Pontis'), 'http://nadaciapontis.sk', class: 'partner-np' %>
      <%= link_to image_tag(asset_path('partners/index-podnikatela.svg'), alt: 'Index Podnikateľa'), 'http://indexpodnikatela.sk', class: 'partner-ip' %>
    </div>
  </div>
</div>
