<%= provide :title, @title %>

<div class="row">
  <div class="col-xl-3 order-xl-last">
    <nav class="nav flex-column align-items-start border">
      <%= link_to t('.about'), static_page_path('about'), class: 'nav-link' %>
      <%= link_to t('.analyses'), 'https://transparency.sk/sk/tag/sudy', class: 'nav-link' %>
      <%= link_to t('.faq'), static_page_path('faq'), class: 'nav-link' %>
      <%= link_to t('.feedback'), static_page_path('feedback'), class: 'nav-link' %>
      <%= link_to t('.tos'), static_page_path('tos'), class: 'nav-link' %>
      <%= link_to t('.privacy'), static_page_path('privacy'), class: 'nav-link' %>
      <%= link_to t('.copyright'), static_page_path('copyright'), class: 'nav-link' %>
      <%= link_to t('.support_us'), support_us_url, class: 'nav-link' %>
      <%= link_to t('.contact'), static_page_path('contact'), class: 'nav-link' %>
      <%= link_to t('.api'), static_page_path('api'), class: 'nav-link' %>
    </nav>
  </div>

  <div class="col-xl-9 order-xl-first content mt-4 mt-xl-0 mb-0-last">
    <h1 class="display-2 text-uppercase mt-0"><%= @title %></h1>
    <%= locale_specific_spaces(render @template).html_safe %>
  </div>
</div>
