<%= provide :title, @title %>

<!-- TODO add links -->
<!--
<nav class="nav nav-inline">
  <%= link_to t('.about'), static_page_path('about') %>
  <%= link_to t('.faq'), static_page_path('faq') %>

  <%= link_to t('.donate'), donation_url %>

  <%= link_to t('.contact'), static_page_path('contact') %>
  <%= link_to t('.feedback'), static_page_path('feedback') %>

  <%= link_to t('.terms'), static_page_path('terms-of-use') %>
  <%= link_to t('.privacy'), static_page_path('privacy) %>
  <%= link_to t('.copyright'), static_page_path('copyright') %>

  <%= link_to t('.api'), 'https://api.otvorenesudy.sk' %>
</nav>
-->

<section id="<%= @slug %>" class="page">
  <div class="row">
    <div class="offset2 span8">
      <%= render(@template).html_safe %>
    </div>
  </div>
</section>
