<section id="user-confirmation">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: :'form-horizontal' }) do |f| %>
    <%= user_error_messages %>

    <legend>Preposlanie inštrukcií pre potvrdenie</legend>

    <div class="control-group">
      <%= f.label :email, class: :'control-label' %>

      <div class="controls">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn" type="submit">Preposlať inštrukcie</button>
      </div>
    </div>
  <% end %>
</section>

<%= render "devise/shared/links" %>
