<% provide :title, t('.title') %>

<%= render "devise/shared/links" %>

<section id="user-password" class="user">
  <div class="row">
    <div class="offset2 span8">
      <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post } do |f| %>
        <legend><%= yield :title %></legend>
        <p>
          <strong><%= t '.no_confirmation' %></strong>
        </p>
        <hr/>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: :span8 %>
        </p>
        <button type="submit" class="btn btn-primary btn-large"><%= t '.resend_instructions' %></button>
      <% end %>
    </div>
  </div>
</section>
