<% provide :title, "Nastavenia" %>

<section id="user-settings" class="user">
  <div class="row">
    <div class="offset2 span8">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
        <legend><%= yield :title %></legend>
        <p>
          <%= f.label :email, class: :'control-label' %>
          <%= f.email_field :email, autofocus: true, class: :span8 %>
        </p>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Zatiaľ neoverený e-mail: <%= resource.unconfirmed_email %></p>
        <% end %>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Prázdne, ak nechcete zmeniť.', class: :span8 %>
        </p>
        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: 'Prázdne, ak nechcete zmeniť.', class: :span8 %>
        </p>
        <p>
          <%= f.label :current_password %>  
          <%= f.password_field :current_password, placeholder: 'Vyplňte, pre potvrdenie zmien.', class: :span8 %>
        </p>
        <button type="submit" class="btn btn-inverse btn-large">Poslať inštrukcie</button>
      <% end %>
    </div>
  </div>
</section>

<section id="user-unregistration" class="user">
  <div class="row">
    <div class="offset2 span8">
      <legend>Zrušenie účtu</legend>
      <%= button_to "Zrušiť účet", registration_path(resource_name), data: { confirm: "Ste si istý?" }, method: :delete, class: :'btn btn-danger btn-large' %>
    </div>
  </div>
</section>
