<div class="span5">
  <div class="pull-right">
    <%= form_for search_path, method: :get do %>
      <%= search_sort_tag(@facets.params, @sort_fields) %>
      <% form_params(@facets.params.except :sort) do |name, value| %>
        <%= hidden_field_tag name, value %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="span1">
  <div class="pull-right">
    <div id="order" class="btn-group" data-toggle="buttons-radio">
      <%= search_order_tag @facets.params, :asc %>
      <%= search_order_tag @facets.params, :desc %>
    </div>
  </div>
</div>
