<div class="row m-t-3">
  <div class="col-xs-12 col-lg-6">
    <%= form_tag search_path, method: :get do %>
      <div class="input-group">
        <%= search_field_tag @facets[:q].name, params[@facets[:q].name], class: 'form-control', placeholder: t(@facets[:q].key)[:placeholder] %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-outline-primary"><%= icon_tag 'search-strong' %></button>
        </span>
      </div>
      <% search_form_params @facets.params.except :q do |name, value| %>
        <%= hidden_field_tag name, value %>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="pull-lg-right">
      <div class="hidden-lg-up m-t-1"></div>
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
              <%= t(".sort.#{@model.to_s.underscore}.#{(params[:sort] || @sort_fields.first).to_s.gsub(/\A_/, '')}") %>
            </button>
            <div class="dropdown-menu">
              <% (@sort_fields - [params[:sort].try(:to_sym) || @sort_fields.first]).each do |value| %>
                <%= link_to t(".sort.#{@model.to_s.underscore}.#{value.to_s.gsub(/\A_/, '')}"), search_path(params.merge sort: value), class: 'dropdown-item' %>
              <% end %>
            </div>
          </div>
          <%= link_to icon_tag('arrow-up'), search_path(params.merge order: :asc), class: "btn btn-outline-secondary#{' active' if @facets.params[:order] == :asc}" %>
          <%= link_to icon_tag('arrow-down'), search_path(params.merge order: :desc), class: "btn btn-outline-secondary#{' active' if @facets.params[:order] == :desc}" %>
        </div>
        <% unless @facets.query_params.empty? %>
          <%= link_to icon_tag('android-close'), search_path, class: 'btn btn-outline-secondary hidden-md-up', data: { toggle: 'tooltip', placement: 'top' }, title: t('.reset') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="hidden-sm-down col-md-6 push-lg-6">
    <div class="pull-xs-right m-t-1">
      <% unless @facets.query_params.empty? %>
        <%= link_to t('.reset'), search_path, class: 'btn btn-outline-secondary' %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-lg-6 pull-lg-6">
    <div class="m-t-1">
      <%= render 'search/subscribe' if @model.respond_to? :subscribe %>
    </div>
  </div>
</div>
