<div class="d-flex align-items-center justify-content-between">
  <h1 class="display-2 text-uppercase mb-3"><%= yield :title %></h1>
  <div class="btn-toolbar mb-3" role="toolbar">
    <% if @facets.query_params.any? %>
      <div class="btn-group btn-group-sm border mr-2" role="group">
        <%= link_to t('.reset'), search_path, class: 'btn btn-secondary btn-sm' %>
      </div>
    <% end %>
    <div class="btn-group btn-group-sm border" role="group">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t(".sort.#{@model.to_s.underscore}.#{(params[:sort] || @sort_fields.first).to_s.gsub(/\A_/, '')}") %>
        </button>
        <div class="dropdown-menu dropdown-menu-sm">
          <% (@sort_fields - [params[:sort].try(:to_sym) || @sort_fields.first]).each do |value| %>
            <%= link_to t(".sort.#{@model.to_s.underscore}.#{value.to_s.gsub(/\A_/, '')}"), search_path(params.merge sort: value), class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
      <%= link_to icon_tag('arrow-up', size: 12), search_path(params.merge order: :asc), class: "btn btn-secondary#{' active' if @facets.params[:order] == :asc} d-flex align-items-center border-left" %>
      <%= link_to icon_tag('arrow-down', size: 12), search_path(params.merge order: :desc), class: "btn btn-secondary#{' active' if @facets.params[:order] == :desc} d-flex align-items-center border-left" %>
    </div>
  </div>
</div>

<%= form_tag search_path.split('?', 2).first, method: :get, class: 'search-query-form mb-4' do %>
  <div class="input-group">
    <%= search_field_tag @facets[:q].name, params[@facets[:q].name], class: 'form-control search-query-input', placeholder: t(@facets[:q].key)[:placeholder] %>
    <div class="input-group-append">
      <%= link_to icon_tag('times'), search_path(params.except(@facets[:q].name)), class: 'btn search-query-reset' if @facets[:q].active? %>
      <button type="submit" class="btn search-query-submit"><%= icon_tag('search') %></button>
    </div>
  </div>
  <% search_form_params @facets.params.except :q do |name, value| %>
    <%= hidden_field_tag name, value %>
  <% end %>
  <%= hidden_field_tag :l, I18n.locale %>
<% end %>

<%# TODO %>
<%# if @model.respond_to? :subscribe %>
  <%#= render 'search/subscribe' %>
<%# end %>
