<div class="row">
  <div class="span6">
    <div class="search-controls pull-left">
      <%= render 'facets/fulltext_facet', facet: @facets[:q], translation: t(@facets[:q].key) %>
    </div>
  </div>

  <div class="span5">
    <div class="search-controls pull-right">
      <%= form_for search_path, method: :get do %>
        <%= search_sort_tag(@facets.params, @sort_fields) %>
        <% form_params(@facets.params.except :sort) do |name, value| %>
          <%= hidden_field_tag name, value %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="span1">
    <div class="search-controls pull-right">
      <div id="order" class="btn-group" data-toggle="buttons-radio">
        <%= search_order_tag @facets.params, :asc %>
        <%= search_order_tag @facets.params, :desc %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <% if @model.respond_to? :subscribe %>
      <%= render 'search/subscribe' %>
    <% end %>
    <% unless (@facets.params.keys - ['sort', 'order']).empty? %>
      <% if @model.respond_to? :subscribe %>
        <span class="search-separator">&middot;</span>
      <% end %>
      <%= icon_link_to :remove, "Zrušiť všetky obmedzenia", nil, join: :append, class: :'search-reset' %>
    <% end %>
  </div>

  <div class="span4">
    <%= render 'search/message' %>
  </div>
</div>
