<div class="text-lg-right text-small text-muted p-t-2">
  <% unless @count.zero? %>
    <%= @results.offset + 1 %> &ndash; <%= [@results.offset + @results.per_page, @count].min %>
    <%= t '.of_total' %> <%= translate_with_count @count, :result %>
  <% else %>
    <%= t '.not_found' %> <%= translate_with_count @count, :result %>
  <% end %>
  (<%= number_with_delimiter @results.time %> ms)
</div>
