<header>
  <div class="pattern">
    <div class="container">
      <h1>
        Otvorené vyhľadávanie
        <small>
          <%= translate_with_count Court.count,      :court %>,
          <%= translate_with_count Judge.count,      :judge %>,
          <%= translate_with_count Hearing.count,    :hearing %>,
          <%= translate_with_count Decree.count,     :decree %> a
          <%= translate_with_count Proceeding.count, :proceeding %>
        </small>
      </h1>
    </div>
  </div>
</header>

<div class="nav centered">
  <ul class="nav nav-pills">
    <li><%= link_to "Súdy",         search_courts_path %></li>
    <li><%= link_to "Sudcovia",     search_judges_path %></li>
    <li><%= link_to "Pojednávania", search_hearings_path %></li>
    <li><%= link_to "Rozhodnutia",  search_decrees_path %></li>
    <li><%= link_to "Konania",      search_proceedings_path %></li>
  </ul>
</div>

<div class="clearfix"></div>
