<header>
  <div class="pattern">
    <div class="container">
      <h1>
        <%= yield :headline %>
      </h1>
    </div>
  </div>
</header>

<div class="nav centered">
  <ul class="nav nav-pills">
    <li><%= link_to "Súdy",         search_courts_path %></li>
    <li><%= link_to "Sudcovia",     search_judges_path %></li>
    <li><%= link_to "Pojednávania", search_hearings_path %></li>
    <li><%= link_to "Rozhodnutia",  search_decrees_path %></li>
    <li><%= link_to "Konania",      search_proceedings_path %></li>
  </ul>
</div>

<div class="clearfix"></div>
