<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { new Search('#search-<%= @model.to_s.underscore.dasherize.pluralize %>', '<%= @model.to_s.underscore %>') })
  </script>
<% end %>

<% # TODO rethink this since the goal here is: %>
<% # for >= LG - facets float left and take only needed space, controls + results float right and fill available space %>
<% # for < LG - full width in order: controls, facets, results %>


<div id="search-<%= @model.to_s.underscore.dasherize.pluralize %>" class="clearfix">
  <div class="float-lg-right col-lg-9 mb-3 mb-lg-4 px-0">
    <%= render 'search/controls' %>
  </div>
  <div class="float-lg-left col-lg-3 mb-5 mb-lg-0 px-0 pr-lg-4">
    <%= render 'search/subscribe' if @model.respond_to? :subscribe %>
    <%= render 'facets/list' %>
  </div>
  <div class="float-lg-right col-lg-9 px-0">
    <%= render 'search/results' %>
  </div>
</div>
