<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { new Search('#search-<%= @model.to_s.downcase.dasherize.pluralize %>', '<%= @model.to_s.underscore %>') })
  </script>
<% end %>

<div id="search-<%= @model.to_s.downcase.dasherize.pluralize %>">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'facets/list' %>
    </div>

    <div class="col-lg-9">
      <%= render 'search/controls' %>
      <%= render 'search/results' %>
    </div>
  </div>
</div>
