<div class="search-message" data-searchd-total-hits="<%= @count %>">
  <% unless @count.zero? %>
    <%= @results.offset + 1 %> &ndash; <%= [@results.offset + @results.per_page, @count].min %>
    <%= t '.from_total' %> <%= translate_with_count(@count, :result) %>
  <% else %>
    <%= t '.not_found' %> <%= translate_with_count(@count, :result) %>
  <% end %>
  (<%= @results.time %> ms)
</div>
