<% if action_name == 'index' %>
  <h2 class="display-2 text-uppercase d-lg-none mb-3"><%= t '.headline' %></h2>
<% end %>

<% if @results.any? %>
  <%= render "#{@type.to_s.pluralize}/search/results", results: @results, offset: @results.offset %>
<% else %>
  <div class="alert alert-info mb-0" role="alert">
    <%= t '.no_results' %>
  </div>
<% end %>

<div class="d-flex flex-wrap align-items-center justify-content-between">
  <div class="small text-muted mr-3 mt-4">
    <% unless @count.zero? %>
      <%= t '.found', count: "#{@results.offset + 1} &ndash; #{[@results.offset + @results.per_page, @count].min}".html_safe, total: translate_with_count(@count, :result), time: number_with_delimiter(@results.time) %>
    <% else %>
      <%= t '.not_found', time: number_with_delimiter(@results.time) %>
    <% end %>
  </div>
  <nav class="d-flex align-items-center justify-content-end mt-4">
    <%= paginate @results, window: 4 %>
  </nav>
</div>
