<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { window.search = new Search("<%= @model.to_s.underscore.singularize %>", Config.search) })
  </script>
<% end %>

<div class="search">
  <%= render 'search/controls' %>

  <div class="row m-t-1">
    <div class="col-lg-4">
      <%= render 'facets/list' %>
    </div>

    <div class="col-lg-8">
      <%= render 'search/results' %>
    </div>

    <div class="col-xs-12">
      <%= paginate @results, window: 4 %>
    </div>
  </div>
</div>
