<!-- TODO mv from search to subscriptions/users -->

<%= icon_link_to :'info-sign', "Odoberať notifikácie", '#subscribe', class: :'search-subscribe', join: :append, :'data-toggle' => :modal %>

<div id="subscribe" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subscribe-label" aria-hidden="true">
  <div class="modal-header">
    <%= close_link nil, :'data-dismiss' => :modal, :'aria-hidden' => true %>
    <h3 id="subscribe-label">Odoberať notifikácie</h3>
  </div>
  <div class="modal-body">
    <% if user_signed_in? %>
      <p>
        <% unless @subscription.new_record? %>
          Pre aktuálne nastavenie vyhľadávania už odoberáte notifikácie.
        <% else %>
          Zaregistrujte si odoberanie notifikácií o nových výsledkoch vyhľadávania.
        <% end %>
      </p>
      <p>
        Systém Vás bude periodicky notifikovať formou e-mailu o nových výsledkoch vyhľadávania,
        ktoré vyhovujú aktuálnym nastaveniam vyhľadávania.
      </p>

      <%= form_for @subscription, method: @subscription.new_record? ? :post : :put, html: { id: :'subscribe-form' } do |f| %>
        <%= f.fields_for :query do |q| %>
          <%= q.hidden_field :model, value: @model.to_s %>
          <%= q.hidden_field :value, value: @facets.params %>
        <% end %>

        <%= f.fields_for :period do |p| %>
        <% Period.values.each do |_, period| %>
          <label class="radio inline">
            <%= p.hidden_field :id %>
            <%= p.radio_button :name, period.id, checked: @subscription.period == period %>
            <%= t "period.#{period.name}" %>
          </label>
        <% end %>
        <% end %>
      <% end %>
    <% else %>
      Pre odoberanie notifikácií o nových výsledkoch vyhľadávania sa musíte prihlásiť.
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Zatvoriť</button>

    <% if user_signed_in? %>
      <% unless @subscription.new_record? %>
        <button type="type" class="btn btn-inverse" form="subscribe-form">Aktualizovať</button>
        <%= link_to "Zrušiť", @subscription, role: :button, method: :delete, confirm: "Naozaj si želáte zrušiť odoberanie notifikácií?", class: :'btn btn-danger' %>
      <% else %>
        <button type="type" class="btn btn-inverse" form="subscribe-form">Odoberať</button>
      <% end %>
    <% else %>
      <%= link_to "Registrovať", new_registration_path(:user), role: :button, class: :'btn btn-success' %>
      <%= link_to "Prihlásiť", new_session_path(:user), role: :button, class: :'btn btn-inverse' %>
    <% end %>
  </div>
</div>
