<%= icon_link_to :'info-sign', t('.subscribe'), '#subscribe', class: :'search-subscribe', join: :append, :'data-toggle' => :modal %>

<div id="subscribe" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="subscribe-label" aria-hidden="true">
  <div class="modal-header">
    <%= close_link_to_modal :'aria-hidden' => true %>
    <h3 id="subscribe-label"><%= t '.subscribe' %></h3>
  </div>
  <div class="modal-body">
    <% if user_signed_in? %>
      <p>
        <% unless @subscription.new_record? %>
          <%= t '.search_subscribed' %>
        <% else %>
          <%= t '.subscribe_search' %>
        <% end %>
      </p>
      <p>
        <%= t '.subscribe_explain' %>
      </p>

      <%= form_for @subscription, method: @subscription.new_record? ? :post : :put, html: { id: :'subscribe-form', class: :'form-inline' } do |f| %>
        <%= f.fields_for :query do |q| %>
          <%= q.hidden_field :model, value: @model.to_s %>
          <%= q.hidden_field :value, value: Query.unwrap(@facets.query_params) %>
        <% end %>

        <% Period.values.each do |_, period| %>
          <label class="radio inline">
            <%= f.radio_button :period_id, period.id, name: :period_id, id: "period-#{period.name}", checked: @subscription.period == period %>
            <%= t "period.#{period.name}" %>
          </label>
        <% end %>
      <% end %>
    <% else %>
      <%= t '.login_required' %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t '.close' %></button>

    <% if user_signed_in? %>
      <% unless @subscription.new_record? %>
        <button type="submit" id="edit_subscription" class="btn btn-primary" form="subscribe-form"><%= t '.update' %></button>
        <%= link_to t('.cancel'), @subscription, role: :button, method: :delete, confirm: t('.cancel_confirm'), id: :delete_subscription, class: :'btn btn-danger' %>
      <% else %>
        <button type="submit" id="new_subscription" class="btn btn-primary" form="subscribe-form"><%= t '.subscribe_btn' %></button>
      <% end %>
    <% else %>
      <%= link_to t('.sign_up'), new_registration_path(:user), role: :button, class: :'btn btn-success' %>
      <%= link_to t('.login'), new_session_path(:user), role: :button, class: :'btn btn-primary' %>
    <% end %>
  </div>
</div>
