<% provide :title, "Rozšírené vyhľadávanie" %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        window.app = new OpenCourts.Search.App
        window.start()
    })
  </script>
<% end %>

<section id="search-view">
  <div class="row">
    <div id="search-panel" class="span4">
      <div id="category" class="category">
        <%= button_group_tag %w(Rozhodnutia Pojednávania) %>
      </div>

      <div class="category">
        <%= category_title 'Sudcovia' %>
        <%= category_input id: 'judges', placeholder: 'Meno sudcu' %>
        <%= category_list id: 'judges' %>
      </div>

      <div class="category">
        <%= category_title 'Súdy' %>
        <%= category_input id: :court, placeholder: 'Názov súdu' %>
        <%= category_list id: :court %>
      </div>

      <div class="category">
        <%= category_title 'Dátum' %>
        <%= category_list id: :date %>
      </div>

    </div>

    <div class="span8">
      <div class="row">
        <div id="search-info" class="span8"></div>
      </div>

      <div class="row">
        <div id="search-results" class="span8"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="search-pagination" class="span12"></div>
  </div>
</section>
