<header>
  <div class="pattern">
    <div class="container">
      <h1>
        Otvorené vyhľadávanie
        <small>
          <%= translate_with_count Court.total,      :court %>,
          <%= translate_with_count Judge.total,      :judge %>,
          <%= translate_with_count Hearing.total,    :hearing %>,<br/>
          <%= translate_with_count Decree.total,     :decree %> a
          <%= translate_with_count Proceeding.total, :proceeding %>
        </small>
      </h1>
    </div>
  </div>
</header>

Priemerný mesačný príjem začínajúceho sudcu na okresnom súde v roku 2012 bol 2500 eur, sudcu na Najvyššom súde 3600 eur.