<p>
  <span class="gutter centered"><%= icon_tag :legal %></span>
  Počet rozhodnutí Ústavného súdu voči sudcovi – vydané <%= indicators['S1'] %> a prieťahy pred pridelením veci <%= indicators['S2'] %>.
</p>

<p>
  <span class="gutter centered"><%= icon_tag :tasks %></span>
  Pre sudcu máme výkonnostné dáta za <%= indicators['S3'] %>:
</p>

<div>
  <ul class="unstyled">
    <% if indicators['S3_2011'] %>
      <li><strong>2011</strong> &ndash; <%= indicators['S3_2011'].map { |court| link_to_court(court) }.to_sentence.html_safe %></li>
    <% end %>

    <% if indicators['S3_2012'] %>
      <li><strong>2012</strong> &ndash; <%= indicators['S3_2012'].map { |court| link_to_court(court) }.to_sentence.html_safe %></li>
    <% end %>

    <% if indicators['S3_2013'] %>
      <li><strong>2013</strong> &ndash; <%= indicators['S3_2013'].map { |court| link_to_court(court) }.to_sentence.html_safe %></li>
    <% end %>
  </ul>
</div>

<p>
  <span class="gutter centered"><%= icon_tag :inbox %></span>
  <%= assigned_agendas_indicator(indicators) %>.&nbsp;
  <%= decrees_agendas_indicator(indicators) %>.
</p>

<p>
  <span class="gutter centered"><%= icon_tag :time %></span>
  Sudca v sledovanom období odpracoval <%= indicators['S6'] %> dní a v priemere mu za 100 dní bolo pridelených <%= indicators['S7'] %> prípadov v hlavných agendách.
</p>

<br />

<h4>Indikátory kvality</h4>
<hr />

<p>
  <span class="gutter centered"><%= icon_tag :'thumbs-up-alt' %></span>
  <%= indicators['S8'] %>
</p>

<% if indicators['S9'] %>
  <p>
    <a href="#" data-target="#additional-quality-indicators" data-toggle="collapse">Zobraziť podrobnejšie</a>
  </p>

  <div id="additional-quality-indicators" class="collapse out hide-after-show">
    <div>
      <ul class="unstyled">
        <li>Počet rozhodnutí o odvolaniach &ndash; <%= indicators['S8a'] %>
        <li>Počet potvrdených odvolaní &ndash; <%= indicators['S8b'] %>
      </ul>
    </div>

    <p>
      <span class="gutter centered"><%= icon_tag :'thumbs-down-alt' %></span>

      <%= indicators['S9'] %>
      <%= tooltip_tag icon_tag(:question), 'Indikátor nie je presný. O rozhodnutiach sudcu rozhoduje odvolací súd nie nevyhnutne v rovnakom roku. Čím viac dát o práci sudcu máme, tým je indikátor presnejší.' %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :'ban-circle' %></span>

      <%= indicators['S10'] %>
      <%= tooltip_tag icon_tag(:question), 'Indikátor nie je presný. O rozhodnutiach sudcu rozhoduje odvolací súd nie nevyhnutne v rovnakom roku. Čím viac dát o práci sudcu máme, tým je indikátor presnejší.' %>
    </p>
  </div>
<% end %>

<br />

<h4>Indikátory efektivity</h4>
<hr />

<p>
  <span class="gutter centered"><%= icon_tag :tasks %></span>
  <%= indicators['S11'] %>

  <%= tooltip_tag icon_tag(:question), 'Indikátor je vypočítaný ako podiel medzi nevybavenými vecami na konci roka a rozhodnutými vecami počas roka 2013. Čím je toto číslo nižšie, tým schopnejší je sudca vybavovať včas to, čo mu prichádza.' %>
</p>

<% if indicators['S12'] && indicators['S13'] && indicators['S14']  %>
  <p>
    <a href="#" data-target="#additional-indicators-of-quality" data-toggle="collapse">Zobraziť podrobnejšie</a>
  </p>

  <div id="additional-indicators-of-quality" class="collapse out hide-after-show">
    <p>
      <span class="gutter centered"><%= icon_tag :inbox %></span>
      <%= indicators['S12'] %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :inbox %></span>
      <%= indicators['S13'] %>

      <%= popover_tag icon_tag(:question), "Vec, nevybavená dlhšie ako 6 mesiacov v prípade maloletých a dlhšie ako 1 rok v ostatných prípadoch.", title: "Reštančná vec", trigger: :hover %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :inbox %></span>
      <%= indicators['S14'] %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :'bar-chart' %></span>
      <%= indicators['S15'] %>
    </p>
  </div>
<% end %>

<% if indicators.values_at('S16a', 'S16b', 'S16c', 'S16d', 'S16e', 'S16f', 'S16g', 'S16h').any? %>
  <br/>

  <p>
    <span class="gutter centered"><%= icon_tag :pushpin %></span>
    <a href="#" data-target="#indicators-notes" data-toggle="collapse">Poznámky k dátam</a> získaných zo štatistických výkazov sudcov.
  </p>

  <div id="indicators-notes" class="collapse out">
    <ul class="unstyled">
      <% indicators.values_at('S16a', 'S16b', 'S16c', 'S16d', 'S16e', 'S16f', 'S16g', 'S16h').compact.sort.each do |value| %>
         <li><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>
