<p>
  <span class="gutter centered"><%= icon_tag :legal %></span>
  <%= t '.decrees_count_html', total_released_decrees: indicators['S1'], total_delayed_decrees: indicators['S2'] %>
</p>

<p>
  <span class="gutter centered"><%= icon_tag :tasks %></span>
  <b><%= t '.performance_date' %> <%= indicators['S3'] %>:</b>
</p>

<div>
  <ul class="unstyled">
    <% if indicators['S3_2011'] %>
      <li><strong>2011</strong> &ndash; <%= indicators['S3_2011'].map { |court| link_to_court(court) }.to_sentence.html_safe %></li>
    <% end %>

    <% if indicators['S3_2012'] %>
      <li><strong>2012</strong> &ndash; <%= indicators['S3_2012'].map { |court| link_to_court(court) }.to_sentence.html_safe %></li>
    <% end %>

    <% if indicators['S3_2013'] %>
      <li><strong>2013</strong> &ndash; <%= indicators['S3_2013'].map { |court| link_to_court(court) }.to_sentence.html_safe %></li>
    <% end %>
  </ul>
</div>

<p>
  <span class="gutter centered"><%= icon_tag :inbox %></span>
  <%= assigned_agendas_indicator(indicators) %>.&nbsp;
  <%= decrees_agendas_indicator(indicators) %>.
</p>

<p>
  <span class="gutter centered"><%= icon_tag :time %></span>
  <%= t '.judge_results', days_worked: indicators['S6'], cases_assigned: indicators['S7'] %>
</p>

<br />

<h4><%= t '.quality_indicators' %></h4>
<hr />

<p>
  <span class="gutter centered"><%= icon_tag :'thumbs-up-alt' %></span>
  <%= indicators['S8'] %>
</p>

<% if indicators['S9'] %>
  <p>
    <a href="#" data-target="#additional-quality-indicators" data-toggle="collapse"><%= t '.show_details' %></a>
  </p>

  <div id="additional-quality-indicators" class="collapse out hide-after-show">
    <div>
      <ul class="unstyled">
        <li><%= t '.apellate_decrees' %> &ndash; <%= indicators['S8a'] %>
        <li><%= t '.confirmed_decrees' %> &ndash; <%= indicators['S8b'] %>
      </ul>
    </div>

    <p>
      <span class="gutter centered"><%= icon_tag :'thumbs-down-alt' %></span>

      <%= indicators['S9'] %>
      <%= tooltip_tag icon_tag(:question), 'Indikátor nie je presný. O rozhodnutiach sudcu rozhoduje odvolací súd nie nevyhnutne v rovnakom roku. Čím viac dát o práci sudcu máme, tým je indikátor presnejší.' %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :'ban-circle' %></span>

      <%= indicators['S10'] %>
      <%= tooltip_tag icon_tag(:question), 'Indikátor nie je presný. O rozhodnutiach sudcu rozhoduje odvolací súd nie nevyhnutne v rovnakom roku. Čím viac dát o práci sudcu máme, tým je indikátor presnejší.' %>
    </p>
  </div>
<% end %>

<br />

<h4><%= t '.efficiency_identifiers' %></h4>
<hr />

<p>
  <span class="gutter centered"><%= icon_tag :tasks %></span>
  <%= indicators['S11'] %>
  <%= tooltip_tag icon_tag(:question), 'Indikátor je vypočítaný ako podiel medzi nevybavenými vecami na konci roka a rozhodnutými vecami počas roka 2013. Čím je toto číslo nižšie, tým schopnejší je sudca vybavovať včas to, čo mu prichádza.' %>
</p>

<% if indicators['S12'] && indicators['S13'] && indicators['S14']  %>
  <p>
    <a href="#" data-target="#additional-indicators-of-quality" data-toggle="collapse"><%= t '.show_details' %></a>
  </p>

  <div id="additional-indicators-of-quality" class="collapse out hide-after-show">
    <p>
      <span class="gutter centered"><%= icon_tag :inbox %></span>
      <%= indicators['S12'] %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :inbox %></span>
      <%= indicators['S13'] %>

      <%= popover_tag icon_tag(:question), "Vec, nevybavená dlhšie ako 6 mesiacov v prípade maloletých a dlhšie ako 1 rok v ostatných prípadoch.", title: "Reštančná vec", trigger: :hover %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :inbox %></span>
      <%= indicators['S14'] %>
    </p>

    <p>
      <span class="gutter centered"><%= icon_tag :'bar-chart' %></span>
      <%= indicators['S15'] %>
    </p>
  </div>
<% end %>

<% if indicators.values_at('S16a', 'S16b', 'S16c', 'S16d', 'S16e', 'S16f', 'S16g', 'S16h').reject(&:blank?).any? %>
  <br/>

  <p>
    <span class="gutter centered"><%= icon_tag :pushpin %></span>
    <a href="#" data-target="#indicators-notes" data-toggle="collapse"><%= t '.data_notes_html' %>
  </p>

  <div id="indicators-notes" class="collapse out">
    <ul class="unstyled">
      <% indicators.values_at('S16a', 'S16b', 'S16c', 'S16d', 'S16e', 'S16f', 'S16g', 'S16h').compact.sort.each do |value| %>
         <li><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>
