<h2 class="h4 text-uppercase my-4">
  <%= t '.headline' %>
</h2>

<% if @judge.indicators_2021 %>
  <p>
    <%= t('.evaluation', evaluation: content_tag(:span, @judge.indicators_2021['Celkové hodnotenie'], class: 'font-weight-bold')) %>
    <br/>
    <%= t(".dominant_agenda.#{@judge.indicators_2021['Dominantná agenda']}") %>
  </p>

  <h2 class="h4 text-uppercase my-4">
    <%= t '.quality.headline' %>
  </h2>

<% else %>
  <p class="mb-0">
    <%= t '.none' %>
  </p>
<% end %>
