<h2 class="h4 text-uppercase my-4">
  <%= t '.headline' %>
</h2>

<% if @judge.indicators_2013 %>
  <% if I18n.locale == :en %>
    <div class="alert alert-warning" role="alert">
      Please note that some content pertaining judge indicators may not be translated.
    </div>
  <% end %>

  <% if @judge.indicators_2013.statistical %>
    <%= render 'judges/indicators_2013/basic', judge: judge, indicators: judge.indicators_2013.statistical %>
  <% end %>

  <% if @judge.indicators_2013.numerical && @latest_indicators == :indicators_2013 && @judge.indicators_2013.numerical.to_hash.values[2..9].compact.size == 8 %>
    <%= render 'judges/indicators_2013/numerical', judge: judge, facets: facets, others: others %>
  <% end %>

  <% if @judge.indicators_2013.statistical %>
    <%= render 'judges/indicators_2013/statistical', judge: judge, indicators: judge.indicators_2013.statistical %>
    <%= render 'judges/indicators_2013/notes', judge: judge, indicators: judge.indicators_2013.statistical %>
  <% end %>
<% else %>
  <p class="mb-0">
    <%= t '.none' %>
  </p>
 <% end %>
