<h2 class="m-t-2 m-b-1">
  <%= t '.headline' %>
</h2>

<% if @judge.indicators %>
  <% if I18n.locale == :en %>
    <div class="alert alert-info m-t-2" role="alert">
      Please note that some content pertaining judge indicators may not be translated.
    </div>
  <% end %>

  <% if @judge.indicators.statistical %>
    <%= render 'judges/indicators/basic', judge: judge, indicators: judge.indicators.statistical %>
  <% end %>

  <% if @judge.indicators.numerical && @judge.indicators.numerical.to_hash.values[2..9].compact.size == 8 %>
    <%= render 'judges/indicators/numerical', judge: judge, indicators: judge.indicators.numerical %>
  <% end %>

  <% if @judge.indicators.statistical %>
    <%= render 'judges/indicators/statistical', judge: judge, indicators: judge.indicators.statistical %>
  <% end %>

  <% if @judge.indicators.statistical %>
    <%= render 'judges/indicators/notes', judge: judge, indicators: judge.indicators.statistical %>
  <% end %>
<% else %>
  <p class="m-t-1">
    <%= t '.none' %>
  </p>
<% end %>
