<p>
  <%= link_to_collapse t('.notes'), '#notes' %> <%= t '.addition' %>
</p>
<div id="notes" class="collapse">
  <ul class="list-unstyled ml-3">
    <% @judge.substantiation_notes_by_year.each do |year, note| %>
      <li>
        <%= t '.report_for' %> <%= year %> &ndash; <%= note.sub(/\.?\z/, '.') %>
      </li>
    <% end %>
  </ul>
</div>
