<% provide :title, "Sudcovia" %>

<section id="judges">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <small><%= page_entries_info @judges %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'judges', judges: @judges %>
      <%= paginate @judges %>
    </div>
  </div>
</section>

<section id="judges-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <small class="muted">
          Informácie o sudcoch boli získané z portálu
          <%= external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::Request::JudgeList.url, class: :muted %>
        </small>
      </div>
    </div>
  </div>
</section>
