<% provide :title, t('.title') %>

<section id="judges">
  <div class="page-header">
    <h1>
      <%= t '.judges' %>
      <small><%= page_entries_info @judges %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'judges', judges: @judges %>
      <%= paginate @judges %>
    </div>
  </div>
</section>

<section id="judges-resources" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.information_origin' %> <%= external_link_to t('.ministry_of_justice'), JusticeGovSk::Request::JudgeList.url, class: :muted, icon: true %>
        <br/>
        <%= t '.additional_info' %>
      </small>
    </div>
  </div>
</section>
