<% provide :title, title(@judge.name, 'Sudca') %>

<section id="judge-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= @judge.name %>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <% @employments.each do |employment| %>
        <p>
          <span class="gutter centered muted">
            <%= judge_activity_tag employment.active, tooltip: !employment.active.nil? %>
          </span>
          <% case employment.active %>
          <% when true %>
            Aktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% when false %>
            Neaktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% end %>
          <% if employment.judge_position %>
            <%= @judge.probably_woman ? 'pracovníčka' : 'pracovník' if employment.judge_position.value.start_with? 'poverená' %>
            <%= employment.judge_position.value %>
          <% else %>
            <% if @judge.probably_superior_court_officer? %>
              <%= employment.active == nil ? 'P' : 'p' %>ravdepodobne <%= tooltip_tag "VSÚ", "Vyšší súdny úradník" %>
            <% else %>
              <%= employment.active == nil ? 'N' : 'n' %>eznámy pracovník
            <% end %>
          <% end %>
          na súde 
          <%= link_to_court employment.court %>,
          <%= 'zatiaľ ne' if Hearing.during_employment(employment).none? %>evidujeme
          <%= number_with_translation(Hearing.during_employment(employment).count, key: :hearing) %> a
          <%= number_with_translation(Decree.during_employment(employment).count,  key: :decree) %>.
          <% if employment.note %>
            <br/>
            <span class="gutter centered muted"><%= icon_tag :pushpin %></span>
            Poznámka: <%= employment.note %>
          <% end %>
        </p>
      <% end %>

      <% @designations.each do |designation| %>
        <p>
          <span class="gutter centered muted">
            <%= judge_designation_date_tag designation %>
          </span>
          Sudca bol vymenovaný do funkcie pred
          <%= judge_designation_date_distance designation %><%= ", #{designation.type.value.sub(/^\D{0,1}/) { |c| c.downcase }}" if designation.type %>.
        </p>
      <% end %>

      <% if File.readable? @judge.curriculum_path %>
        <p>
          <span class="gutter centered muted">
            <%= icon_tag :'file-alt' %>
          </span>

          <%= link_to "Životopis sudcu", curriculum_judge_path(@judge), target: :_blank %>, ktorý bol zverejnený vo výberovom konaní.
        </p>
      <% end %>

      <% if @related_persons.any? %>
        <p>
          <span class="gutter centered muted">
            <%= icon_tag :user %>
          </span>
          Blízke osoby uvedené v majetkových priznaniach sudcu:
        </p>
        <ul>
          <% @related_persons.each do |person| %>
            <li><%= "#{person.function} " if person.function %><%= link_to_related_person(person) %><%= ", #{link_to_institution(person.institution)}".html_safe if person.institution %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">

        <ul class="nav nav-tabs">
          <li class="active">
            <%= tab_link_to_with_count "Rozhodnutia", "#decrees", @judge.decrees.count %>
          </li>
          <li>
            <%= tab_link_to_with_count "Budúce pojednávania", "#upcoming-hearings", @judge.hearings.upcoming.count %>
          </li>
          <li>
            <%= tab_link_to_with_count "Minulé pojednávania", "#past-hearings", @judge.hearings.past.count %>
          </li>
          <li>
            <a href="#media" data-toggle="tab">V médiach</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="decrees" class="tab-pane active">
            <%= render 'decrees', decrees: @decrees, query: { judges: [@judge.name] } %>
          </div>

          <div id="upcoming-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @upcoming_hearings, query: { judges: [@judge.name] } %>
          </div>

          <div id="past-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @past_hearings, query: { judges: [@judge.name], historical: 'true' } %>
          </div>

          <div id="media" class="tab-pane">
            <%= render 'shared/context_search' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="judge-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o sudcovi boli získané <%= @judge.listed ? 'zo' : 'z' %> <%= external_link_to @judge.listed ? 'zoznamu' : 'dokumentu', @judge.uri, class: :muted %>,
        ktorého posledná aktualizácia bola vykonaná <%= time_tag @judge.updated_at.to_date, format: :default %>.
      </small>
    </div>
  </div>
</section>
