<% provide :title, @judge.name %>

<section id="judge-profile">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <small>
        <%= t :hearing, count: number_with_delimiter(@judge.hearings.count) %> a
        <%= t :decree,  count: number_with_delimiter(@judge.decrees.count) %>.
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <% @employments.each do |employment| %>
        <p>
          <%= judge_activity_tag employment %>
          <%= employment.judge_position.value.upcase_first %>
          na súde 
          <%= link_to_court employment.court %>,
          <%= 'zatiaľ ne' if Hearing.during_employment(employment).none? %>evidujeme
          <%= t :hearing, count: number_with_delimiter(Hearing.during_employment(employment).count) %> a
          <%= t :decree, count: number_with_delimiter(Decree.during_employment(employment).count) %>.
        </p>
      <% end %>
    </div>
  </div>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">

        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#hearings" data-toggle="tab">Pojednávania</a>
          </li>
          <li><a href="#decrees" data-toggle="tab">Rozhodnutia</a></li>
        </ul>

        <div class="tab-content">
         <div id="hearings" class="tab-pane active">
           <%= render partial: 'hearings/tab', locals: { query: { judges: @judge.name } } %>
          </div>

          <div id="decrees" class="tab-pane">
            <%= render partial: 'decrees/tab', locals: { query: { judges: @judge.name } } %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="judge-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <small class="muted">
          Informácie o sudcovi boli získané zo <%= external_link_to 'zdroja', JusticeGovSk::Request::JudgeList.url, class: :muted %>,
          ktorého posledná aktualizácia bola zistená <%= time_tag @judge.updated_at.to_date, format: :default %>.
        </small>
      </div>
    </div>
  </div>
</section>
