<% provide :title, @judge.name %>

<section id="judge-profile">
  <div class="page-header">
    <h1>
      <%= yield :title %>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <% @employments.each do |employment| %>
        <p>
          <%= judge_activity_tag employment.active unless employment.active.nil? %>
          <% case employment.active  %>
          <% when true %>
            Aktívny
          <% when false %>
            Neaktívny
          <% end %>
          <% if employment.judge_position %>
            <%= employment.judge_position.value %>
          <% else %>
            <%= employment.active == nil ? 'N' : 'n' %>eznámy pracovník
          <% end %>
          na súde 
          <%= link_to_court employment.court %>,
          <%= 'zatiaľ ne' if Hearing.during_employment(employment).none? %>evidujeme
          <%= number_with_translation(Hearing.during_employment(employment).count, key: :hearing) %> a
          <%= number_with_translation(Decree.during_employment(employment).count,  key: :decree) %>.
        </p>
      <% end %>
    </div>
  </div>
</section>

<section id="judge-context-results">
  <%= render 'context_search' %>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">

        <ul class="nav nav-tabs">
          <li class="active">
            <%= tab_link_to_with_count "Rozhodnutia", "#decrees", @judge.decrees.count %>
          </li>
          <li>
            <%= tab_link_to_with_count "Budúce pojednávania", "#upcoming-hearings", @judge.hearings.upcoming.count %>
          </li>
          <li>
            <%= tab_link_to_with_count "Minulé pojednávania", "#past-hearings", @judge.hearings.past.count %>
          </li>
        </ul>

        <div class="tab-content">
          <div id="decrees" class="tab-pane active">
            <%= render 'decrees', decrees: @decrees, query: { judges: @judge.name } %>
          </div>

          <div id="upcoming-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @upcoming_hearings, query: { judges: @judge.name } %>
          </div>

          <div id="past-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @past_hearings, query: { judges: @judge.name, historical: 'true' } %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="judge-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <small class="muted">
          Informácie o sudcovi boli získané zo <%= external_link_to 'zdroja', @judge.uri, class: :muted %>,
          ktorého posledná aktualizácia bola zistená <%= time_tag @judge.updated_at.to_date, format: :default %>.
        </small>
      </div>
    </div>
  </div>
</section>
