<% provide :title, title(@judge.name, 'Sudca') %>

<section id="judge-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= @judge.name %>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'shared/social', classes: 'social-vertical pull-right' %>

      <% if @judge.employments.at_court_by_type(CourtType.supreme).any? || @judge.employments.at_court_by_type(CourtType.regional).any? %>
        <p class="text-error">
          <span class="gutter centered"><%= icon_tag :'warning-sign' %></span>
          Údaje o činnosti sudcu sú neúplné. Preberaným dátam z portálu Ministerstva spravodlivosti chýba informácia o zložení senátov.
        </p>
      <% end %>

      <% @employments.each do |employment| %>
        <p>
          <span class="gutter centered">
            <%= judge_activity_tag employment.active, tooltip: !employment.active.nil? %>
          </span>
          <% case employment.active %>
          <% when true %>
            Aktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% when false %>
            Neaktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% end %>
          <% if employment.judge_position %>
            <%= (employment.active == nil ? 'P' : 'p') + (@judge.probably_woman ? 'racovníčka' : 'racovník') if employment.judge_position.charged? %>
            <%= @judge.probably_woman? && employment.judge_position.value == 'sudca' ? 'sudkyňa' : employment.judge_position.value %>
          <% else %>
            <% if @judge.probably_superior_court_officer? %>
              <%= employment.active == nil ? 'P' : 'p' %>ravdepodobne <%= tooltip_tag "VSÚ", "Vyšší súdny úradník" %>
            <% else %>
              <%= employment.active == nil ? 'N' : 'n' %>eznám<%= @judge.probably_woman ? 'a pracovníčka' : 'y pracovník' %>
            <% end %>
          <% end %>
          na súde 
          <%= link_to_court employment.court %>,
          <%= 'zatiaľ ne' if Hearing.during_employment(employment).exact.size.zero? %>evidujeme
          <%= translate_with_count(Hearing.during_employment(employment).exact.size, :hearing) %> a
          <%= translate_with_count(Decree.during_employment(employment).exact.size, :decree) %>.
          <% if employment.note %>
            <br/>
            <span class="gutter centered"><%= icon_tag :pushpin %></span>
            Poznámka: <%= employment.note %>
          <% end %>
        </p>
      <% end %>

      <% @designations.each do |designation| %>
        <p>
          <span class="gutter centered"><%= judge_designation_date_tag designation %></span>
          Sudca bol vymenovaný do funkcie pred
          <%= judge_designation_date_distance designation %><%= ", #{designation.type.value.sub(/^\D{0,1}/) { |c| c.downcase }}" if designation.type %>.
        </p>
      <% end %>

      <% if File.readable? @judge.curriculum_path %>
        <p>
          <span class="gutter centered"><%= icon_tag :'file-text-alt' %></span>
          <%= external_link_to "Životopis", curriculum_judge_path(@judge) %>, ktorý bol zverejnený vo výberovom konaní.
        </p>
      <% end %>

      <% if File.readable? @judge.cover_letter_path %>
        <p>
          <span class="gutter centered"><%= icon_tag :'file-text-alt' %></span>
          <%= external_link_to "Motivačný list", cover_letter_judge_path(@judge) %>, ktorý bol zverejnený vo výberovom konaní.
        </p>
      <% end %>

      <% if @judge.indicators.statistical %>
        <%= render 'indicators', judge: @judge, indicators: @judge.indicators.statistical %>
      <% end %>

      <% if @judge.indicators.numerical %>
        <br/>
        <%= render 'chart', judge: @judge, indicators: @judge.indicators.numerical %>
      <% end %>

      <% if @statistical_summaries.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :legal %></span>
          Počet rozhodnutí Ústavného súdu voči sudcovi &ndash; vydané <%= @judge.released_constitutional_decrees_total %> a prieťahy pred pridelením veci <%= @judge.delayed_constitutional_decrees_total %>.
        </p>

        <% if @judge.appeal_court_acceptance_rate? %>
          <p>
            <span class="gutter centered"><%= icon_tag :'thumbs-up-alt' %></span>
            Rozhodnutie sudcu je v prípade odvolaní potvrdené vyšším súdom v
            <%= number_to_percentage(@judge.appeal_court_acceptance_rate * 100, precision: 1) %>.
            <%= popover_tag icon_tag(:question), "#{@statistical_summaries.by_prominent_court_type(@judge).order('year desc').map { |summary| "#{summary.year}, #{summary.court.name}" }.join '<br/>'}", title: "Vypočítané z pôsobení sudcu", trigger: :hover %>
          </p>
        <% end %>

        <% if @judge.unresolved_issues_counts? %>
          <p>
            <span class="gutter centered"><%= icon_tag :inbox %></span>
            Nevybavených prípadov mal sudca <%= @judge.unresolved_issues_counts.map { |year, count| "na konci roka #{year} o #{count.abs} #{count > 0 ? 'viac' : 'menej'}" }.to_sentence.html_safe %> ako na jeho začiatku.
          </p>
        <% end %>

        <% if @judge.unfinished_issues_counts? %>
          <p>
            <span class="gutter centered"><%= icon_tag :inbox %></span>
            Reštančných prípadov mal sudca <%= @judge.unfinished_issues_counts.map { |year, count| "na konci roka #{year} o #{count.abs} #{count > 0 ? 'viac' : 'menej'}" }.to_sentence.html_safe %> ako na jeho začiatku.
          </p>
        <% end %>

        <% if @judge.unfinished_issues_rate? %>
          <p>
            <span class="gutter centered"><%= icon_tag :'tasks' %></span>
            Podiel reštančných vecí z celkového počtu nevybavených vecí je <%= @judge.unfinished_issues_rate.map { |year, rate| "#{number_to_percentage(rate * 100, precision: 1)} ku koncu roka #{year}" }.to_sentence.html_safe %>.
            <%= popover_tag icon_tag(:question), "Vec, nevybavená dlhšie ako 6 mesiacov<br/>v&nbsp;prípade maloletých a&nbsp;dlhšie ako 1 rok<br/>v&nbsp;ostatných prípadoch.", title: "Reštančná vec", trigger: :hover %>
          </p>
        <% end %>
      <% end %>

      <% if @judge.incomes_by_year.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :euro %></span>
          Príjmy a iné pôžitky sudcu uvedené v majetkových priznaniach za roky:
          <%= @judge.incomes_by_year.map { |year, _| link_to year, "#income-#{year}", :'data-parent' => :'#incomes', :'data-toggle' => :collapse }.to_sentence.html_safe %>.
        </p>
        <div id="incomes">
          <% @judge.incomes_by_year.each do |year, incomes| %>
            <div class="accordion-group">
              <div id="income-<%= year %>" class="collapse">
                <p>
                  <span class="gutter centered"><%= icon_tag :euro %></span>
                  Príjmy a iné pôžitky sudcu uvedené v majetkovom priznaní sudcu za rok <%= year %>:
                </p>
                <ul class="unstyled">
                  <% incomes.each do |income| %>
                    <li><%= icon_tag :'credit-card' %> <%= income.description.upcase_first %> &ndash; <%= number_to_currency income.value, precision: 2 %>.</li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @judge.related_people_by_year.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :group %></span>
          Blízke osoby uvedené v majetkových priznaniach sudcu za roky:
          <%= @judge.related_people_by_year.map { |year, _| link_to year, "#related-people-#{year}", :'data-parent' => :'#related-people', :'data-toggle' => :collapse }.to_sentence.html_safe %>.
        </p>
        <div id="related-people">
          <% @judge.related_people_by_year.each do |year, people| %>
            <div class="accordion-group">
              <div id="related-people-<%= year %>" class="collapse">
                <p>
                  <span class="gutter centered"><%= icon_tag :group %></span>
                  Blízke osoby uvedené v majetkových priznaniach sudcu za rok <%= year %>:
                </p>
                <ul class="unstyled">
                  <% people.each do |person| %>
                    <li><%= icon_tag :user %> <%= "#{person.function.upcase_first} " if person.function %><%= link_to_related_person(person) %><%= ", #{link_to_institution(person.institution)}".html_safe if person.institution %>.</li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @judge.substantiation_notes_by_year.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :pushpin %></span>
          <a href="#" data-target="#substantiation-notes" data-toggle="collapse">Poznámky k dátam</a> získaných zo štatistických výkazov sudcov.
        </p>
        <div id="substantiation-notes" class="collapse out">
          <ul class="unstyled">
            <% @judge.substantiation_notes_by_year.each do |year, note| %>
              <li><%= icon_tag :'file-text-alt' %> Výkaz za rok <%= year %> &ndash; <%= note %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <%= tab_link_to_with_count 'Rozhodnutia', '#decrees', @decrees.size, track_data(:'judge-decrees') %>
          </li>
          <li><%= tab_link_to_with_count 'Budúce pojednávania', '#upcoming-hearings', @upcoming_hearings.size, track_data(:'judge-upcoming-hearings') %></li>
          <li><%= tab_link_to_with_count 'Minulé pojednávania', '#historical-hearings', @historical_hearings.size, track_data(:'judge-historical-hearings') %></li>
          <li><%= tab_link_to_with_count 'V médiách', '#media', @results.size, track_data(:'judge-media') %></li>
        </ul>

        <div class="tab-content">
          <div id="decrees" class="tab-pane active">
            <%= render 'decrees', decrees: @decrees.limit(10), query: { judges: @judge.name } %>
          </div>

          <div id="upcoming-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @upcoming_hearings.limit(10), query: { judges: @judge.name } %>
          </div>

          <div id="historical-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @historical_hearings.limit(10), query: { judges: @judge.name, historical: true } %>
          </div>

          <div id="media" class="tab-pane">
            <%= render 'media', results: @results %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="judge-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o sudcovi boli získané <%= @judge.listed ? 'zo' : 'z' %> <%= external_link_to @judge.listed ? 'zoznamu' : 'dokumentu', @judge.uri, class: :muted, icon: true %>,
        ktorého posledná aktualizácia bola vykonaná <%= time_tag @judge.updated_at.to_date, format: :default %>.
        <br/>
        Tieto informácie mohli byť ďalej doplnené o dáta získané z majetkových priznaní a štatistických výkazov sudcu.
      </small>
    </div>
  </div>
</section>
