<% provide :title, title(@judge.name, 'Sudca') %>

<section id="judge-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= @judge.name %>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'shared/social', classes: 'social-vertical pull-right' %>
      
      <% @employments.each do |employment| %>
        <p>
          <span class="gutter centered">
            <%= judge_activity_tag employment.active, tooltip: !employment.active.nil? %>
          </span>
          <% case employment.active %>
          <% when true %>
            Aktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% when false %>
            Neaktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% end %>
          <% if employment.judge_position %>
            <%= (employment.active == nil ? 'P' : 'p') + (@judge.probably_woman ? 'racovníčka' : 'racovník') if employment.judge_position.charged? %>
            <%= employment.judge_position.value %>
          <% else %>
            <% if @judge.probably_superior_court_officer? %>
              <%= employment.active == nil ? 'P' : 'p' %>ravdepodobne <%= tooltip_tag "VSÚ", "Vyšší súdny úradník" %>
            <% else %>
              <%= employment.active == nil ? 'N' : 'n' %>eznám<%= @judge.probably_woman ? 'a pracovníčka' : 'y pracovník' %>
            <% end %>
          <% end %>
          na súde 
          <%= link_to_court employment.court %>,
          <%= 'zatiaľ ne' if Hearing.during_employment(employment).none? %>evidujeme
          <%= translate_with_count(Hearing.during_employment(employment).count, :hearing) %> a
          <%= translate_with_count(Decree.during_employment(employment).count, :decree) %>.
          <% if employment.note %>
            <br/>
            <span class="gutter centered"><%= icon_tag :pushpin %></span>
            Poznámka: <%= employment.note %>
          <% end %>
        </p>
      <% end %>

      <% @designations.each do |designation| %>
        <p>
          <span class="gutter centered">
            <%= judge_designation_date_tag designation %>
          </span>
          Sudca bol vymenovaný do funkcie pred
          <%= judge_designation_date_distance designation %><%= ", #{designation.type.value.sub(/^\D{0,1}/) { |c| c.downcase }}" if designation.type %>.
        </p>
      <% end %>

      <% if File.readable? @judge.curriculum_path %>
        <p>
          <span class="gutter centered">
            <%= icon_tag :'file-text-alt' %>
          </span>
          <%= link_to "Životopis sudcu", curriculum_judge_path(@judge), target: :_blank %>, ktorý bol zverejnený vo výberovom konaní.
        </p>
      <% end %>

      <% if File.readable? @judge.cover_letter_path %>
        <p>
          <span class="gutter centered">
            <%= icon_tag :'file-text-alt' %>
          </span>
          <%= link_to "Motivačný list", cover_letter_judge_path(@judge), target: :_blank %>, ktorý bol zverejnený vo výberovom konaní.
        </p>
      <% end %>

      <% @property_declarations.select { |declaration| declaration.related_persons.any? }.each do |declaration| %>
        <p>
          <span class="gutter centered">
            <%= icon_tag :user %>
          </span>
          Blízke osoby uvedené v majetkovom priznaní sudcu za rok <%= declaration.year %>:
        </p>
        <ul>
          <% declaration.related_persons.each do |person| %>
            <li><%= "#{person.function} " if person.function %><%= link_to_related_person(person) %><%= ", #{link_to_institution(person.institution)}".html_safe if person.institution %></li>
          <% end %>
        </ul>
      <% end %>
      
      <% if @statistical_summaries.any? %>
        <p>
          <span class="gutter centered">
            <%= icon_tag :legal %>
          </span>
          Počet rozhodnutí Ústavného súdu voči sudcovi &ndash; vydané <%= @judge.released_constitutional_decrees_total %> a prieťahy pred pridelením veci <%= @judge.delayed_constitutional_decrees_total %>.
        </p>

        <% if @judge.substantiation_notes.any? %>
          <p>
            <span class="gutter centered">
              <%= icon_tag :pushpin %>
            </span>
            <a href="#" data-target="#substantiation-notes" data-toggle="collapse">Zobraziť poznámky</a>            
            k dátam získaných zo štatistických výkazov sudcov.
          </p>
          <div id="substantiation-notes" class="collapse out">
            <ul>
              <% @judge.substantiation_notes.each do |note| %>
                <li><%= note %></li>
              <% end %>
            </ul>
          </div>
        <% end %>        
      <% end %>
    </div>
  </div>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <%= tab_link_to_with_count 'Rozhodnutia', '#decrees', @decrees.count %>
          </li>
          <li><%= tab_link_to_with_count 'Budúce pojednávania', '#upcoming-hearings', @judge.hearings.upcoming.count %></li>
          <li><%= tab_link_to_with_count 'Minulé pojednávania', '#historical-hearings', @judge.hearings.historical.count %></li>
          <li><%= tab_link_to_with_count 'V médiách', '#media', @results.count %></li>
        </ul>

        <div class="tab-content">
          <div id="decrees" class="tab-pane active">
            <%= render 'decrees', decrees: @decrees, query: { judges: @judge.name } %>
          </div>

          <div id="upcoming-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @upcoming_hearings, query: { judges: @judge.name } %>
          </div>

          <div id="historical-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @historical_hearings, query: { judges: @judge.name, historical: true } %>
          </div>

          <div id="media" class="tab-pane">
            <%= render 'media', results: @results %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="judge-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o sudcovi boli získané <%= @judge.listed ? 'zo' : 'z' %> <%= external_link_to @judge.listed ? 'zoznamu' : 'dokumentu', @judge.uri, class: :muted %>,
        ktorého posledná aktualizácia bola vykonaná <%= time_tag @judge.updated_at.to_date, format: :default %>.
      </small>
    </div>
  </div>
</section>
