<% provide :title, @judge.name %>

<h1 class="m-t-3 m-b-1">
  <%= yield :title %>
  <%= judge_activity_icon_tag @judge, @judge.active?, placement: 'right' %>
</h1>

<ol class="list-unstyled">
  <% @employments.each do |employment| %>
    <li>
      <%= judge_activity_by_employment(employment).upcase_first %>
      <%= judge_position_by_employment(employment) %>
      <%= t '.at_court' %> <%= link_to_court employment.court %>,
      <%= t '.register', count: Hearing.during_employment(employment).exact.size %>
      <%= translate_with_count(Hearing.during_employment(employment).exact.size, :hearing) %>
      <%= two_words_connector %>&nbsp;<%= translate_with_count(Decree.during_employment(employment).exact.size, :decree) %>.
      <% if employment.note %>
        <br/>
        <%= t '.note' %>: <%= employment.note.sub(/\.?\z/, '.') %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= render 'designations' if @designations.any? %>
<%= render 'relatives' if @judge.related_people_by_year.any? %>
<%= render 'notes' if @judge.substantiation_notes_by_year.any? %>

<div class="clearfix m-b-2"></div>

<ul class="nav nav-tabs" role="tablist">
  <%= tab_link_tag t('.indicators', year: 2015), 'indicators-2015', class: ('active' if @judge.indicators_2015.present?) %>
  <%= tab_link_tag t('.indicators', year: 2013), 'indicators-2013', class: ('active' if !@judge.indicators_2015.present?) %>
  <%= tab_link_tag t('.decrees'), 'decrees' %>
  <%= tab_link_tag t('.upcoming_hearings'), 'upcoming-hearings' %>
  <%= tab_link_tag t('.historical_hearings'), 'historical-hearings' %>
  <%= tab_link_tag t('.media'), 'media' %>
</ul>

<div class="tab-content tab-with-chart">
  <%= render_tab({ partial: 'indicators_2015', tab: 'indicators-2015', class: ('active' if @judge.indicators_2015.present?) }, judge: @judge, others: @others_2015, facets: @facets_2015) %>
  <%= render_tab({ partial: 'indicators_2013', tab: 'indicators-2013', class: ('active' if !@judge.indicators_2015.present?) }, judge: @judge, others: @others_2013, facets: @facets_2013) %>
  <%= render_tab({ partial: 'decrees' }, decrees: @decrees.limit(10), query: { judges: @judge.name }) %>
  <%= render_tab({ partial: 'hearings', tab: 'upcoming-hearings' }, prefix: 'upcoming', hearings: @upcoming_hearings.limit(10), query: { judges: @judge.name }) %>
  <%= render_tab({ partial: 'hearings', tab: 'historical-hearings' }, prefix: 'historical', hearings: @historical_hearings.limit(10), query: { judges: @judge.name, historical: true }) %>
  <%= render_tab({ partial: 'media' }, media: @media) %>
</div>

<p class="text-small text-muted m-t-3">
  <%= s t ".resource_note.#{@judge.listed ? 'listed' : 'unlisted'}.description", document: link_to(t(".resource_note.#{@judge.listed ? 'listed' : 'unlisted'}.document"), @judge.uri), update: time_tag(@judge.updated_at.to_date, format: :default) %>
  <%= s t '.resource_note.supplement' %>
</p>
