<% provide :title, title(@judge.name, t('.judge')) %>

<section id="judge-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= @judge.name %>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'shared/social', classes: 'social-vertical pull-right' %>

      <% if @judge.employments.at_court_by_type(CourtType.supreme).any? || @judge.employments.at_court_by_type(CourtType.regional).any? %>
        <p class="text-error">
          <span class="gutter centered"><%= icon_tag :'warning-sign' %></span>
          <%= t '.incomplete_data' %>
        </p>
      <% end %>

      <% @employments.each do |employment| %>
        <p>
          <span class="gutter centered">
            <%= judge_activity_tag employment.active, tooltip: !employment.active.nil? %>
          </span>
          <% case employment.active %>
          <% when true %>
            Aktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% when false %>
            Neaktívn<%= @judge.probably_woman ? 'a' : 'y' %>
          <% end %>
          <% if employment.judge_position %>
            <%= (employment.active == nil ? 'P' : 'p') + (@judge.probably_woman ? 'racovníčka' : 'racovník') if employment.judge_position.charged? %>
            <%= @judge.probably_woman? && employment.judge_position.value == 'sudca' ? 'sudkyňa' : employment.judge_position.value %>
          <% else %>
            <% if @judge.probably_superior_court_officer? %>
              <%= employment.active == nil ? 'P' : 'p' %>ravdepodobne <%= tooltip_tag "VSÚ", "Vyšší súdny úradník" %>
            <% else %>
              <%= employment.active == nil ? 'N' : 'n' %>eznám<%= @judge.probably_woman ? 'a pracovníčka' : 'y pracovník' %>
            <% end %>
          <% end %>
          <%= t '.at_court' %>
          <%= link_to_court employment.court %>,
          <%= 'zatiaľ ne' if Hearing.during_employment(employment).exact.size.zero? %>evidujeme
          <%= translate_with_count(Hearing.during_employment(employment).exact.size, :hearing) %> a
          <%= translate_with_count(Decree.during_employment(employment).exact.size, :decree) %>.
          <% if employment.note %>
            <br/>
            <span class="gutter centered"><%= icon_tag :pushpin %></span>
            <%= t '.note' %>: <%= employment.note %>
          <% end %>
        </p>
      <% end %>

      <% @designations.each do |designation| %>
        <p>
          <span class="gutter centered"><%= judge_designation_date_tag designation %></span>
          <%= t '.nominated_before' %>
          <%= judge_designation_date_distance designation %><%= ", #{designation.type.value.sub(/^\D{0,1}/) { |c| c.downcase }}" if designation.type %>.
        </p>
      <% end %>

      <% if @judge.related_people_by_year.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :group %></span>
          <%= t '.close_ones_income_years' %>:
          <%= @judge.related_people_by_year.map { |year, _| link_to year, "#related-people-#{year}", :'data-parent' => :'#related-people', :'data-toggle' => :collapse }.to_sentence.html_safe %>.
        </p>
        <div id="related-people">
          <% @judge.related_people_by_year.each do |year, people| %>
            <div class="accordion-group">
              <div id="related-people-<%= year %>" class="collapse">
                <p>
                  <span class="gutter centered"><%= icon_tag :group %></span>
                  <%= t '.close_ones_income_year' %> <%= year %>:
                </p>
                <ul class="unstyled">
                  <% people.each do |person| %>
                    <li><%= icon_tag :user %> <%= "#{person.function.upcase_first} " if person.function %><%= link_to_related_person(person) %><%= ", #{link_to_institution(person.institution)}".html_safe if person.institution %>.</li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @judge.substantiation_notes_by_year.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :pushpin %></span>
          <a href="#" data-target="#substantiation-notes" data-toggle="collapse"><%= t '.note_about_data_part_1' %></a> <%= t '.note_about_data_part_2' %>
        </p>
        <div id="substantiation-notes" class="collapse out">
          <ul class="unstyled">
            <% @judge.substantiation_notes_by_year.each do |year, note| %>
              <li><%= icon_tag :'file-text-alt' %> <%= t '.report_for_year' %> <%= year %> &ndash; <%= note %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if File.readable? @judge.curriculum_path %>
        <p>
          <span class="gutter centered"><%= icon_tag :'file-text-alt' %></span>
          <%= external_link_to t('.cv'), curriculum_judge_path(@judge) %>, <%= t '.published_at_selection' %>
        </p>
      <% end %>

      <% if File.readable? @judge.cover_letter_path %>
        <p>
          <span class="gutter centered"><%= icon_tag :'file-text-alt' %></span>
          <%= external_link_to ('.motivation_letter'), cover_letter_judge_path(@judge) %>, <%= t '.published_at_selection' %>
        </p>
      <% end %>

      <% if @judge.indicators %>
        <% if @judge.indicators.statistical %>
          <%= render 'indicators', judge: @judge, indicators: @judge.indicators.statistical %>
        <% end %>

        <% if @judge.indicators.numerical && @judge.indicators.numerical.to_hash.values[2..9].compact.size == 8 %>
          <br/>

          <%= render 'judges/indicators/chart', judge: @judge, indicators: @judge.indicators.numerical %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <%= tab_link_to_with_count t('.decrees'), '#decrees', @decrees.size, track_data(:'judge-decrees') %>
          </li>
          <li><%= tab_link_to_with_count t('.future_hearings'), '#upcoming-hearings', @upcoming_hearings.size, track_data(:'judge-upcoming-hearings') %></li>
          <li><%= tab_link_to_with_count t('.past_hearings'), '#historical-hearings', @historical_hearings.size, track_data(:'judge-historical-hearings') %></li>
          <li><%= tab_link_to_with_count t('.in_media'), '#media', @results.size, track_data(:'judge-media') %></li>
        </ul>

        <div class="tab-content">
          <div id="decrees" class="tab-pane active">
            <%= render 'decrees', decrees: @decrees.limit(10), query: { judges: @judge.name } %>
          </div>

          <div id="upcoming-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @upcoming_hearings.limit(10), query: { judges: @judge.name } %>
          </div>

          <div id="historical-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @historical_hearings.limit(10), query: { judges: @judge.name, historical: true } %>
          </div>

          <div id="media" class="tab-pane">
            <%= render 'media', results: @results %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="judge-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.court_data_from' %> <%= @judge.listed ? t('.from_long') : t('.from_short') %> <%= external_link_to @judge.listed ? t('.list') : t('.document'), @judge.uri, class: :muted, icon: true %>,
        <%= t '.last_updated_on' %> <%= time_tag @judge.updated_at.to_date, format: :default %>.
        <br/>
        <%= t '.additional_info' %>
      </small>
    </div>
  </div>
</section>
