<div id="<%= facet.id %>" data-id="<%= facet.name %>" class="facet">
    <h4>
      <%= translation[:title] if translation[:title] %>
      <% if facet.collapsible? %>
        <i class="icon-circle" data-toggle="collapse" data-target="#<%= facet.id %>-content"></i>
      <% end %>
    </h4>

    <div id="<%= facet.id %>-content" class="facet-content<%= " collapse#{' in' unless facet.collapsed?}" if facet.collapsible? %>">
      <% if translation[:placeholder] %>
        <%= facet_input facet, placeholder: translation[:placeholder] %>
      <% end %>

      <%= render 'facets/facet_results', facet: facet %>
  </div>
</div>
