<div id="<%= facet.id %>" class="facet" data-id="<%= facet.name %>">
  <% if @collapsible_facet_names.include? facet.name %>
    <h4 class="collapsible" data-toggle="collapse" data-target="#<%= facet.id %>-content">
      <%= translation[:title] if translation[:title] %>
      <%= icon_tag :circle %>
    </h4>
  <% else %>
    <h4>
      <%= translation[:title] if translation[:title] %>
    </h4>
  <% end %>

  <div id="<%= facet.id %>-content" class="facet-content<%= " collapse#{' in' unless @collapsed_facet_names.include? facet.name}" if @collapsible_facet_names.include? facet.name %>">
    <% if translation[:placeholder] %>
      <%= facet_suggest_input facet, placeholder: translation[:placeholder] %>
    <% end %>

    <%= render 'facets/facet_results', facet: facet, visible: facet.results.first(10), other: facet.results[10..-1] || [] %>
  </div>
</div>
