<ul id="<%= facet.id %>-list" class="unstyled">
  <% visible.each do |result| %>
    <%= render 'facets/facet_result', facet: facet, result: result %>
  <% end %>
</ul>

<% if other.any? %>
  <div id="<%= facet.id %>-fold" class="facet-fold collapse out">
    <ul class="unstyled">
      <% other.each do |result| %>
        <%= render 'facets/facet_result', facet: facet, result: result %>
      <% end %>
    </ul>
  </div>

  <%= collapse_facet_link facet %>
<% end %>

