<div id="<%= facet.id %>" class="facet" data-id="<%= facet.name %>">
  <% if @collapsible_facets.include? facet.name %>
    <h6 class="facet-title<%= ' collapsed' if @collapsed_facets.include? facet.name %>" data-toggle="collapse" data-target="#<%= facet.id %>-content">
      <%= translation[:title] %>
    </h6>
  <% else %>
    <h6 class="facet-title">
      <%= translation[:title] %>
    </h6>
  <% end %>

  <div id="<%= facet.id %>-content" class="facet-content<%= " collapse#{' show' unless @collapsed_facets.include? facet.name}" if @collapsible_facets.include? facet.name %>">
    <%= facet_suggest_input_tag facet, placeholder: translation[:placeholder] if translation[:placeholder] %>

    <div class="facet-results">
      <%= render "facets/#{facet.type}_results", facet: facet, visible: facet.results.first(10), other: facet.results[10..-1] || [] %>
    </div>
  </div>
</div>
