<% translation = t facet.key %>

<div id="<%= facet.id %>" data-id="<%= facet.name %>" class="facet">
  <% if translation[:title] %>
    <h4>
      <%= translation[:title] %>
      <% if facet.collapsible? %>
        <i class="icon-circle" data-toggle="collapse" data-target="#<%= facet.id %>-content"></i>
      <% end %>
    </h4>
  <% end %>

  <div id="<%= facet.id %>-content" class="facet-content<%= " collapse#{' in' unless facet.collapsed?}" if facet.collapsible? %>">
    <% if translation[:placeholder] %>
      <%= facet_input :'data-id' => facet.name, placeholder: translation[:placeholder] %>
    <% end %>

    <%= facet_list id: "#{facet.id}-list", :'data-id' => facet.name %>
  </div>
</div>
