<div id="<%= facet.id %>" class="facet" data-id="<%= facet.name %>">
  <h4>
    <%= translation[:title] if translation[:title] %>
    <% if facet.collapsible? %>
      <i class="icon-circle" data-toggle="collapse" data-target="#<%= facet.id %>-content"></i>
    <% end %>
  </h4>

  <div id="<%= facet.id %>-content" class="facet-content<%= " collapse#{' in' unless facet.collapsed?}" if facet.collapsible? %>">
    <div class="form-inline">
      <% facet.multi.each do |key| %>
        <% if translation[key][:prepend] %>
          <%= multi_facet_prepend_input facet, prepend: translation[key][:prepend], placeholder: translation[key][:placeholder] %>
        <% else %>
          <%= multi_facet_input facet, placeholder: translation[key][:placeholder] %>
        <% end %>
      <% end %>
    </div>

    <%= render 'facets/facet_results', facet: facet %>
  </div>
</div>
