<div id="<%= facet.id %>" class="facet" data-id="<%= facet.name %>">
  <% if @collapsible_facet_names.include? facet.name %>
    <h4 class="collapsible" data-toggle="collapse" data-target="#<%= facet.id %>-content">
      <%= translation[:title] if translation[:title] %>
      <%= icon_tag :circle %>
    </h4>
  <% else %>
    <h4>
      <%= translation[:title] if translation[:title] %>
    </h4>
  <% end %>

  <div id="<%= facet.id %>-content" class="facet-content<%= " collapse#{' in' unless @collapsed_facet_names.include? facet.name }" if @collapsible_facet_names.include? facet.name %>">
    <% facet.multi.each do |key| %>
      <%= facet_multi_input facet, prefix: translation[key][:prefix], placeholder: translation[key][:placeholder] %>
    <% end %>

    <div class="clearfix"></div>

    <%= render 'facets/results', facet: facet, visible: facet.results.first(10), other: facet.results[10..-1] || [] %>
  </div>
</div>
