<% if visible.any? %>
  <ul id="<%= facet.id %>-list" class="facet-list">
    <% visible.each do |result| %>
      <%= render 'facets/result', facet: facet, result: result, link: link %>
    <% end %>
  </ul>

  <% if other.any? %>
    <ul id="<%= facet.id %>-list-continuation" class="facet-list collapse">
      <% other.each do |result| %>
        <%= render 'facets/result', facet: facet, result: result, link: link %>
      <% end %>
    </ul>

    <%= link_to_facet_results_continuation facet %>
  <% end %>
<% else %>
  <span class="text-muted"><%= t(facet.key)[:not_found] %></span>
<% end %>
