<div id="<%= facet.id %>" class="facet">
  <h6 class="facet-title">
    <%= t 'judges.indicators.numerical.additional_judges' %>
  </h6>

  <div id="<%= facet.id %>-content" class="facet-content">
    <div class="small text-muted mb-3">
      <%= t 'judges.indicators.numerical.judges_note.content' %>
    </div>

    <%= facet_suggest_input_tag facet, path: suggest_path(facet.params.merge id: @judge.id), placeholder: translation[:placeholder] %>

    <div class="facet-results">
      <%= render 'judges/indicators/facets/name_results', facet: facet, visible: facet.results.first(10), other: facet.results[10..-1] || [] %>
    </div>
  </div>
</div>
