<h3 class="h4 text-uppercase mt-4">
  <%= t '.headline' %>
</h3>

<p>
  <%= t '.confirmation_ratio', ratio: number_to_percentage(indicators['Q1'], precision: 1), average: number_to_percentage(indicators['Q1.mean'], precision: 1) %>
</p>

<ul class="list-unstyled ml-3">
  <li><%= t '.appeal_decrees_count' %> &ndash; <%= indicators['sum.appeals'] %></li>
  <li><%= t '.confirmed_decrees_count' %> &ndash; <%= indicators['affirmed'] %></li>
</ul>

<p>
  <%= t '.appeal_ratio', ratio: number_to_percentage(indicators['Q2'], precision: 1), average: number_to_percentage(indicators['Q2.mean'], precision: 1) %>
  <%= help_tag '.decrees_count_accuracy_note' %>
</p>

<p>
  <%= t '.total_ratio', ratio: number_to_percentage(indicators['Q3'], precision: 1), average: number_to_percentage(indicators['Q3.mean'], precision: 1) %>
  <%= help_tag '.decrees_count_accuracy_note' %>
</p>
