<h4 id="judge-indicators-chart-headline">Grafické porovnanie</h4>
<hr/>

<div id="judge-indicators-chart" class="row">
  <div class="span9">
    <canvas class="chart" width="600" height="500"></canvas>
  </div>

  <div class="span3">
    <div class="legend"></div>

    <hr/>

    <%= render 'judges/indicators/name_facet', facet: @facets[:name], translation: {} %>
  </div>
</div>

<%= icon_link_to :tasks, 'Zobraziť pokročilé filtre', '#', :'data-target' => '#judge-indicators-facets', :'data-toggle' => :collapse %>

<div id="judge-indicators-facets" class="row collapse">
  <br />

  <div class="span4">
    <%= render 'judges/indicators/terms_facet', facet: @facets[:positions], translation: t(@facets[:positions].key), options: { label: true } %>
  </div>

  <div class="span4">
    <%= render 'judges/indicators/terms_facet', facet: @facets[:decree_agenda], translation: t(@facets[:decree_agenda].key), options: { label: true } %>
  </div>

  <div class="span4">
    <%= render 'judges/indicators/terms_facet', facet: @facets[:courts], translation: t(@facets[:courts].key), options: { label: true } %>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    window.judgeChart = new JudgeChart("<%= escape_javascript(judge.name) %>", <%= escape_javascript(indicators.to_hash.values[2..9].to_json) %>, <%= escape_javascript(Judge::Indicators.numerical_average.values.to_json) %>)

    <% @judges_for_indicators.each do |color, judge| %>
      judgeChart.addDataset("<%= escape_javascript(judge.name) %>", <%= escape_javascript(judge.indicators.numerical.to_hash.values[2..9].to_json) %>, <%= escape_javascript(color.to_json) %>)
    <% end %>

    judgeChart.build()

    $(document).ready(function() {
      var suggest = new Search.Suggest('#judge-indicators-chart')

      suggest.register()

      var suggest = new Search.Suggest('#judge-indicators-facets')

      suggest.register()
    })
  </script>
<% end %>
