<div id="indicators-judge-name" class="facet" data-id="<%= facet.name %>">
  <h4>
    <%= t('judges.indicators.name_facet_title') %>
    <br />
    <small><%= t('judges.indicators.name_facet_subtitle') %></small>
  </h4>

  <div id="<%= facet.id %>-content" class="facet-content">
    <%= facet_suggest_input facet, placeholder: t('judges.indicators.name_facet_placeholder'), :'data-suggest-path' => indicators_suggest_judge_path(params) %>

    <div class="facet-results">
      <%= render 'judges/indicators/name_facet_results', facet: facet, visible: facet.results.first(10), other: facet.results[10..-1] || [] %>
    </div>
  </div>
</div>

