<div id="indicators-<%= facet.id %>" class="facet" data-id="<%= facet.name %>">
  <h4><%= translation[:title] %></h4>

  <div id="<%= facet.id %>-content" class="facet-content">
    <% if translation[:placeholder] %>
      <%= facet_suggest_input_tag facet, placeholder: translation[:placeholder], :'data-suggest-path' => indicators_suggest_judge_path(params) %>
    <% end %>

    <div class="facet-results">
      <%= render 'judges/indicators/terms_facet_results', facet: facet, visible: facet.results.first(10), other: facet.results[10..-1] || [], options: options %>
    </div>
  </div>
</div>
