<%= provide :title, t('.title') %>

<% if @hearing_subscriptions.any? || @decree_subscriptions.any? %>
  <% if @hearing_subscriptions.any? %>
    <section class="subscriptions">
      <div class="row">
        <div class="offset2 span8">
          <%= render 'subscriptions/hearings', subscriptions: @hearing_subscriptions %>
        </div>
      </div>
    </section>
  <% end %>
  <% if @decree_subscriptions.any? %>
    <section class="subscriptions">
      <div class="row">
        <div class="offset2 span8">
          <%= render 'subscriptions/decrees', subscriptions: @decree_subscriptions %>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
  <section class="subscriptions">
    <div class="row">
      <div class="offset2 span8">
        <div class="page-header">
          <h1 class="centered">
            <small><%= yield :title %></small>
          </h1>
        </div>

        <p class="lead centered">
          <%= t '.set_notifications_part_1' %>
        </p>
        <p class="lead centered">
          <%= link_to t('.hearings'), search_hearings_path, class: :'btn btn-primary btn-large' %>
          <%= t '.or' %>
          <%= link_to t('.decrees'), search_decrees_path, class: :'btn btn-primary btn-large' %>
        </p>
        <p class="lead centered">
          <%= t '.set_notifications_part_2' %>.
        </p>
      </div>
    </div>
  </section>
<% end %>
