<%= provide :title, t('.title') %>

<h1 class="text-uppercase my-4"><%= yield :title %></h1>

<p>
  <%= t '.subscribe_introduction' %>
  <%= link_to t('.hearings'), hearings_path, class: 'btn btn-outline-primary mx-1' %>
  <%= t '.subscribe_or' %>
  <%= link_to t('.decrees'), decrees_path, class: 'btn btn-outline-primary mx-1' %>
  <%= t '.subscribe_detail' %>
</p>

<% if @hearing_subscriptions.any? %>
  <hr class="my-4" />
  <%= render 'subscriptions/hearings', subscriptions: @hearing_subscriptions %>
<% end %>

<% if @decree_subscriptions.any? %>
  <hr class="my-4" />
  <%= render 'subscriptions/decrees', subscriptions: @decree_subscriptions %>
<% end %>
