<% provide :title, "Zmena hesla" %>

<%= render "devise/shared/links" %>

<section id="user-password" class="user">
  <div class="row">
    <div class="offset2 span8">
      <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f| %>
        <legend><%= yield :title %></legend>
        <p>
          <%= f.label :password, 'Nové heslo' %>
          <%= f.password_field :password, autofocus: true, class: :span8 %>
        </p>
        <p>
          <%= f.label :password_confirmation, 'Potvrdenie nového hesla' %>
          <%= f.password_field :password_confirmation, class: :span8 %>
        </p>
        <%= f.hidden_field :reset_password_token %>
        <button type="submit" class="btn btn-inverse btn-large">Zmeniť heslo</button>
      <% end %>
    </div>
  </div>
</section>
