<% provide :title, t('.title') %>

<%= render "devise/shared/links" %>

<section id="user-password" class="user">
  <div class="row">
    <div class="offset2 span8">
      <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f| %>
        <legend><%= yield :title %></legend>
        <p>
          <%= f.label :password, t('.new_pass') %>
          <%= f.password_field :password, autofocus: true, class: :span8 %>
        </p>
        <p>
          <%= f.label :password_confirmation, t('.new_pass_confirmation') %>
          <%= f.password_field :password_confirmation, class: :span8 %>
        </p>
        <%= f.hidden_field :reset_password_token %>
        <button type="submit" class="btn btn-primary btn-large"><%= t '.change_pass' %></button>
      <% end %>
    </div>
  </div>
</section>
