<% provide :title, t('.title') %>

<div class="row justify-content-between">
  <div class="col-md-7 col-lg-6 col-xl-5">
    <h1 class="text-uppercase mb-4"><%= yield :title %></h1>
    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { class: nil, method: :post } do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <%= f.hidden_field :reset_password_token %>
      <button type="submit" class="btn btn-outline-primary btn-lg mt-3 mb-4 mb-md-0"><%= t '.send_instructions' %></button>
    <% end %>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= render 'devise/side' %>
  </div>
</div>
