<div class="sme">
  <nav class="nav nav-inline">
    <%= link_to image_tag(asset_path('partners/sme.svg'), alt: 'SME'), 'http://sme.sk', class: 'nav-link' %>
    <%= link_to t('.sme.price_of_state'), 'http://cenastatu.sme.sk', class: 'nav-link' %>
    <%= link_to t('.sme.municipalities'), 'http://obce.sme.sk', class: 'nav-link' %>
    <%= link_to t('.sme.schools'), 'http://skoly.sme.sk', class: 'nav-link' %>
    <%= link_to t('.sme.procurements'), 'http://tender.sme.sk', class: 'nav-link' %>
    <%= link_to t('.sme.universities'), 'http://vysokeskoly.sme.sk', class: 'nav-link' %>
  </nav>
</div>

<!--
<div class="social">
  <nav class="nav nav-inline">
    <%= link_to icon_tag('social-facebook'), 'https://facebook.com/otvorenesudy', class: 'nav-link' %>
    <%= link_to icon_tag('social-twitter'), 'https://twitter.com/otvorenesudy', class: 'nav-link' %>
    <%= link_to icon_tag('social-github'), 'https://github.com/otvorenesudy', class: 'nav-link' %>
  </nav>
</div>
-->
