<%= search_list_tag results, offset: offset do |procedure| %>
  <li>
    <h4>
      <%= link_to selection_path(procedure) do %>
        <%= selection_procedure_headline(procedure, limit: 65) %>
      <% end %>
      <br/>
      <small>
        <%= t '.selection_procedure' %> <%= procedure.closed_at.future? ? t('.will_close') : t('.was_closed')  %> <%= t 'on_day' %>
        <%= time_tag procedure.closed_at.to_date, format: :long %>
      </small>
    </h4>

    <div class="search-result-content">
      <%= t '.status' %> &ndash; <%= procedure.state %>
      <br/>

      <%= t '.organization' %> &ndash; <%= procedure.court ? link_to_court(procedure.court) : procedure.organization_name %>
      <br/>

      <% if procedure.candidates.any? %>
        <%= translate_without_count(procedure.candidates.size, :candidate).upcase_first %> &ndash;
        <% if procedure.candidates.size > 2 %>
          <%= procedure.candidates.order(:rank, :name).limit(2).map { |person| person.judge ? link_to_judge(person.judge) : person.name }.join(', ').html_safe %>&hellip;
          (<%= translate_with_count(procedure.candidates.size, :candidate) %>)
        <% else %>
          <%= procedure.candidates.order(:rank, :name).map { |person| person.judge ? link_to_judge(person.judge) : person.name }.to_sentence.html_safe %>
        <% end %>
        <br/>
      <% end %>
    </div>
  </li>
<% end %>
