<div class="row">
  <div class="col-lg-8">
    <% if @court.phone || @court.fax %>
      <h2 class="h4 text-uppercase mt-4"><%= t '.contact' %></h2>

      <% if @court.phone %>
        <div class="row align-items-center">
          <div class="col-5 col-sm-4 col-md-3"><%= t 'courts.office.phone' %></div>
          <div class="col-7 col-sm-8 col-md-9"><%= phone_to @court.phone %></div>
        </div>
      <% end %>

      <% if @court.fax %>
        <div class="row align-items-center">
          <div class="col-5 col-sm-4 col-md-3"><%= t '.fax' %></div>
          <div class="col-7 col-sm-8 col-md-9"><%= phone_to @court.fax %></div>
        </div>
      <% end %>
    <% end %>

    <% if @court.media_person || @court.media_phone %>
      <h3 class="h6 text-uppercase mt-4"><%= t '.media' %></h3>

      <% if @court.media_person %>
        <div class="row align-items-center">
          <div class="col-5 col-sm-4 col-md-3"><%= t '.media_person' %></div>
          <div class="col-7 col-sm-8 col-md-9"><%= @court.media_person %></div>
        </div>
      <% end %>

      <% if @court.media_phone %>
        <div class="row align-items-center">
          <div class="col-5 col-sm-4 col-md-3"><%= t '.media_phone' %></div>
          <div class="col-7 col-sm-8 col-md-9"><%= phone_to @court.media_phone %></div>
        </div>
      <% end %>
    <% end %>

    <% if @court.data_protection_email %>
      <h3 class="h6 text-uppercase mt-4"><%= t '.data_protection' %></h3>
      
      <div class="row align-items-center">
        <div class="col-5 col-sm-4 col-md-3"><%= t '.data_protection_email' %></div>
        <div class="col-7 col-sm-8 col-md-9 text-truncate"><%= email_to @court.data_protection_email %></div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4">
    <div class="bg-light border mt-4 p-3">
      <h2 class="h4 text-uppercase m-1 mb-3"><%= t '.address' %></h2>
      <address class="m-1 mt-3">
        <%= @court.name %><br/>
        <%= @court.street %><br/>
        <%= @court.municipality.zipcode %> <%= @court.municipality.name %><br/>
        <%= t '.country' %>
      </address>
    </div>
  </div>
</div>

<%= render 'office', office: @court.information_center if @court.information_center %>
<%= render 'office', office: @court.registry_center if @court.registry_center %>
<%= render 'office', office: @court.business_registry_center if @court.business_registry_center %>

<% if @court.other_contacts.present? %>
  <% @court.other_contacts.each do |contact| %>
    <%= render 'contact_office', contact: contact %>
  <% end %>
<% end%>