<div class="row">
  <div class="span8">
    <h2>Kontakt <%= icon_tag :'phone-sign' %></h2>

    <div class="row">
      <div class="span2">Tel. číslo:</div>
      <div class="span6"><%= @court.phone %></div>
    </div>
    <div class="row">
      <div class="span2">Fax:</div>
      <div class="span6"><%= @court.fax %></div>
    </div>

    <br/>

    <h3>Kontakt pre médiá</h3>

    <div class="row">
      <div class="span2">Kontaktná osoba:</div>
      <div class="span6"><%= @court.media_person %></div>
    </div>
    <div class="row">
      <div class="span2">Tel. číslo:</div>
      <div class="span6"><%= @court.media_phone %></div>
    </div>
  </div>

  <div class="span4">
    <h2>Adresa <%= icon_tag :'envelope-alt' %></h2>

    <address class="well">
      <strong><%= @court.name %></strong>
      <br/>
      <%= @court.street %>
      <br/>
      <%= @court.municipality.zipcode %> <%= @court.municipality.name %>
      <br/>
      Slovenská republika
    </address>
  </div>
</div>

<hr/>

<h2>Mapa <%= icon_tag :'map-marker' %></h2>

<div class="row">
  <div class="span12">
    <%= court_map @court, info: true, zoom: 16 %>
  </div>
</div>
