<%= sortable_table_tag class: 'table table-striped' do %>
  <thead>
    <tr>
      <%= sortable_th_tag t('.court'),    class: 'span6' %>
      <%= sortable_th_tag t('.address'), class: 'span6' %>
      <%= sortable_th_tag tooltip_tag(t('.judges'),     t('.judges_count')), sorter: :digit %>
      <%= sortable_th_tag tooltip_tag(t('.hearings'), t('.hearings_count')), sorter: :digit %>
      <%= sortable_th_tag tooltip_tag(t('.decrees'),  t('.decrees_count')),  sorter: :digit %>
    </tr>
  </thead>
  <tbody>
    <% courts.each do |court| %>
      <tr>
        <td>
          <strong><%= link_to_court court %></strong>
        </td>
        <td>
          <%= court.address %>
        </td>
        <td class="number" data-value="<%= court.judges.size %>">
          <%= number_with_delimiter court.judges.size %>
        </td>
        <td class="number" data-value="<%= court.hearings.size %>">
          <%= number_with_delimiter court.hearings.size %>
        </td>
        <td class="number" data-value="<%= court.decrees.size %>">
          <%= number_with_delimiter court.decrees.size %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
