<%= sortable_table_tag class: 'table table-striped' do %>
  <thead>
    <tr>
      <%= sortable_th_tag "Súd",    class: 'span6' %>
      <%= sortable_th_tag "Adresa", class: 'span6' %>
      <%= sortable_th_tag tooltip_tag("Sudcovia",     "Počet zamestnaných sudcov"), sorter: :digit %>
      <%= sortable_th_tag tooltip_tag("Pojednávania", "Počet súdnych pojednávaní"), sorter: :digit %>
      <%= sortable_th_tag tooltip_tag("Rozhodnutia",  "Počet súdnych rozhodnutí"),  sorter: :digit %>
    </tr>
  </thead>
  <tbody>
    <% courts.each do |court| %>
      <tr>
        <td>
          <strong><%= link_to_court court %></strong>
        </td>
        <td>
          <%= court.address %>
        </td>
        <td class="number" data-value="<%= court.judges.size %>">
          <%= number_with_delimiter court.judges.size %>
        </td>
        <td class="number" data-value="<%= court.hearings.size %>">
          <%= number_with_delimiter court.hearings.size %>
        </td>
        <td class="number" data-value="<%= court.decrees.size %>">
          <%= number_with_delimiter court.decrees.size %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
