<table class="table table-striped">
  <thead>
    <tr>
      <%= sortable_th_tag "Súd",    class: 'span5' %>
      <%= sortable_th_tag "Adresa", class: 'span7' %>
      <%= sortable_th_tag { tooltip_tag "Sudcovia",     "Počet zamestnaných sudcov" } %>
      <%= sortable_th_tag { tooltip_tag "Pojednávania", "Počet súdnych pojednávaní" } %>
      <%= sortable_th_tag { tooltip_tag "Rozhodnutia",  "Počet súdnych rozhodnutí"  } %>
    </tr>
  </thead>
  <tbody>
    <% courts.each do |court| %>
      <tr>
        <td data-value="<%= court.name %>">
          <strong><%= link_to_court court %></strong>
        </td>
        <td data-value="<%= court.address %>">
          <%= court.address %>
        </td>
        <td class="number" data-value="<%= court.judges.count %>">
          <%= number_with_delimiter court.judges.count %>
        </td>
        <td class="number" data-value="<%= court.hearings.count %>">
          <%= number_with_delimiter court.hearings.count %>
        </td>
        <td class="number" data-value="<%= court.decrees.count %>">
          <%= number_with_delimiter court.decrees.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
