<div class="page-header">
  <h2>
    <%= link_to_court court %>
  </h2>
</div>

<div class="row">
  <div class="span8">
    <div class="justified">
      <% if court.chair || court.vicechair %>
        <% if court.chair %>
          <strong><%= judge_at_court_position(court.chair, court).upcase_first %></strong> <%= t('.of_court_is')%> <strong><%= link_to_judge court.chair %></strong><%= court.vicechair ? t('.and') : '.' %>
        <% end %>
        <% if court.vicechair %>
          <% unless court.chair %>
            <strong><%= judge_at_court_position(court.vicechair, court).upcase_first %></strong> <%= t('.of_court')%>
          <% else %>
            <strong><%= judge_at_court_position(court.vicechair, court) %></strong>
          <% end %>
          je <strong><%= link_to_judge court.vicechair %></strong>.
        <% end %>
      <% end %>
      <% if court.judges.any? %>
        <%= t('.at_court_work')%> <strong><%= translate_with_count(court.judges.size, :judge) %></strong>.
      <% end %>
      <%= t('.for_court')%> <%= t('.not_yet') if court.hearings.size.zero? %><%= t('.register')%>
      <strong><%= translate_with_count(court.hearings.size, :hearing) %></strong>
      a&nbsp;<strong><%= translate_with_count(court.decrees.size, :decree) %></strong>.
    </div>
  </div>
  <div class="span4">
    <address class="well well-small">
      <span class="muted pull-right"><%= icon_tag :envelope %></span>
      <strong><%= court.street %></strong>
      <br/>
      <%= court.municipality.zipcode %> <%= court.municipality.name %>
      <br/>
      <%= t('.slovak_republic')%>
    </address>
  </div>
</div>
