<div class="page-header">
  <h2>
    <%= link_to_court court %>
  </h2>
</div>

<div class="row">
  <div class="span8">
    <div class="justified">
      <% if court.chair || court.vicechair %>
        <% if court.chair %>
          <strong><%= judge_at_court_position(court.chair, court).upcase_first %></strong> súdu je <strong><%= link_to_judge court.chair %></strong><%= court.vicechair ? ' a'.html_safe : '.' %>
        <% end %>
        <% if court.vicechair %>
          <% unless court.chair %>
            <strong><%= judge_at_court_position(court.vicechair, court).upcase_first %></strong> súdu
          <% else %>
            <strong><%= judge_at_court_position(court.vicechair, court) %></strong>
          <% end %>
          je <strong><%= link_to_judge court.vicechair %></strong>.
        <% end %>
      <% end %>
      <% if court.judges.any? %>
        Na súde pracuje <strong><%= t :judge, count: court.judges.count %></strong>.
      <% end %>
      Pre súd <%= 'zatiaľ ne' if court.hearings.none? %>evidujeme
      <strong><%= t :hearing, count: court.hearings.count %></strong>
      a&nbsp;<strong><%= t :decree, count: court.decrees.count %></strong>.
    </div>
  </div>
  <div class="span4">
    <address class="well well-small">
      <span class="muted pull-right"><%= icon_tag :envelope %></span>
      <strong><%= court.street %></strong>
      <br/>
      <%= court.municipality.zipcode %> <%= court.municipality.name %>
      <br/>
      Slovenská republika
    </address>
  </div>
</div>
