<header>
  <div class="pattern">
    <div class="container">
      <h1>
        <%= yield :title %>
        <small>
          <%= number_with_translation(Court.count,   key: :court) %>,
          <%= number_with_translation(Judge.count,   key: :judge) %>,
          <%= number_with_translation(Hearing.count, key: :hearing) %> a
          <%= number_with_translation(Decree.count,  key: :decree) %>
        </small>
      </h1>
    </div>
  </div>
</header>
