<header>
  <div class="pattern">
    <div class="container">
      <h1>
        <%= yield :title %>
        <small>
          <%= t :court,   count: number_with_delimiter(Court.count) %>,
          <%= t :judge,   count: number_with_delimiter(Judge.count) %>,
          <%= t :hearing, count: number_with_delimiter(Hearing.count) %> a
          <%= t :decree,  count: number_with_delimiter(Decree.count) %>
        </small>
      </h1>
    </div>
  </div>
</header>
