<header>
  <div class="pattern">
    <div class="container">
      <h1>
        <%= yield :title %>
        <small>
          <%= t :court,   count: Court.count %>,
          <%= t :judge,   count: Judge.count %>,
          <%= t :hearing, count: Hearing.count %> a
          <%= t :decree,  count: Decree.count %>
        </small>
      </h1>
    </div>
  </div>
</header>
