<% if @court.chairs.any? %>
  <h2 class="h4 text-uppercase mt-4">
    <%= t ".#{"chairman".pluralize(@court.chairs.count)}" %>
  </h2>

  <p>
    <%= @court.chairs.map { |chair| link_to_judge chair }.to_sentence.html_safe %>
  </p>
<% end %>

<% if @court.vicechairs.any? %>
  <h2 class="h4 text-uppercase mt-4">
    <%= t ".#{"vice_chairman".pluralize(@court.vicechairs.count)}" %>
  </h2>

  <p>
    <%= @court.vicechairs.map { |vicechair| link_to_judge vicechair }.to_sentence.html_safe %>
  </p>
<% end %>

<% if @court.judicial_council_chairs.any? %>
  <h2 class="h4 text-uppercase mt-4">
    <%= t ".#{"judicial_council_chairman".pluralize(@court.judicial_council_chairs.count)}" %>
  </h2>

  <p>
    <%= @court.judicial_council_chairs.map { |chair| link_to_judge chair }.to_sentence.html_safe %>
  </p>
<% end %>

<% if @court.judicial_council_members.any? %>
  <h2 class="h4 text-uppercase mt-4">
    <%= t ".#{"judicial_council_member".pluralize(@court.judicial_council_members.count)}" %>
  </h2>

  <p>
    <%= @court.judicial_council_members.map { |member| link_to_judge member }.to_sentence.html_safe %>
  </p>
<% end %>

<h2 class="h4 text-uppercase mt-4">
  <%= t '.judges' %>
</h2>

<% if @judges.active.listed.any? %>
  <p>
    <%= t('.explanation.listed')%>
  </p>

  <%= render 'courts/judges/list', court: @court, judges: @judges.active.listed %>
<% end %>

<% if @judges.inactive_or_unlisted.any? %>
  <p class="mt-4">
    <%= t '.explanation.other' %>
  </p>

  <%= render 'courts/judges/list', court: @court, judges: @judges.inactive_or_unlisted %>
<% end %>
