<% if @court.chair || @court.vicechair %>
  <h2 class="m-t-2 m-b-1">
    <%= t '.chairs' %>
  </h2>

  <p>
    <% if @court.chair %>
      <%= judge_position_at_court(@court.chair, @court).upcase_first %> <%= t '.of_court' %> <%= t '.is' %>
      <%= link_to_judge @court.chair %><%= @court.vicechair ? " #{two_words_connector}" : '.' %>
    <% end %>
    <% if @court.vicechair %>
      <% unless @court.chair %>
        <%= judge_position_at_court(@court.vicechair, @court).upcase_first %> <%= t '.of_court' %>
      <% else %>
        <%= judge_position_at_court(@court.vicechair, @court) %>
      <% end %>
      <%= t '.is' %> <%= link_to_judge @court.vicechair %>.
    <% end %>
  </p>
<% end %>

<h2 class="m-t-2 m-b-1">
  <%= t '.judges' %>
</h2>

<% if @judges.active.listed.any? %>
  <p>
    <%= t('.explanation.listed')%>
  </p>

  <%= render 'courts/judges/list', court: @court, judges: @judges.active.listed %>
<% end %>

<% if @judges.inactive_or_unlisted.any? %>
  <p class="m-t-3">
    <%= t '.explanation.other' %>
  </p>

  <%= render 'courts/judges/list', court: @court, judges: @judges.inactive_or_unlisted %>
<% end %>
