<h2><%= t('.court_leadership')%></h2>

<div class="row">
  <div class="span12">
    <p>
      <% if @court.chair %>
        <%= judge_position_at_court(@court.chair, @court).upcase_first %> <%= t 'results.of_court_is' %> <%= link_to_judge @court.chair %><%= @court.vicechair ? " #{t('and')}" : '.' %>
      <% end %>
      <% if @court.vicechair %>
        <% unless @court.chair %>
          <%= judge_position_at_court(@court.vicechair, @court).upcase_first %> <%= t 'results.of_court' %>
        <% else %>
          <%= judge_position_at_court(@court.vicechair, @court) %>
        <% end %>
        <%= t 'results.is' %> <%= link_to_judge @court.vicechair %>.
      <% end %>
    </p>
  </div>
</div>

<hr/>

<h2><%= t('.judges')%></h2>

<div class="row">
  <div class="span12">
    <% if @judges.active.listed.any? %>
      <p>
        <%= t('.judges_table')%>
      </p>

      <%= render 'judge_list', court: @court, judges: @judges.active.listed %>
    <% end %>

    <% if @judges.not_active_or_not_listed.any? %>
      <br/>

      <p>
      <%= t '.table_explained' %>
      </p>

      <%= render 'judge_list', court: @court, judges: @judges.not_active_or_not_listed %>
    <% end %>
  </div>
</div>
