<h2>Vedenie súdu</h2>

<div class="row">
  <div class="span12">
    <p>
      <% if @court.chair %>
        <%= judge_at_court_position(@court.chair, @court).upcase_first %> súdu je <%= link_to_judge @court.chair %><%= @court.vicechair ? ' a'.html_safe : '.' %>
      <% end %>
      <% if @court.vicechair %>
        <% unless @court.chair %>
          <%= judge_at_court_position(@court.vicechair, @court).upcase_first %> súdu
        <% else %>
          <%= judge_at_court_position(@court.vicechair, @court) %>
        <% end %>
        je <%= link_to_judge @court.vicechair %>.
      <% end %>
    </p>
  </div>
</div>

<hr/>

<h2>Sudcovia</h2>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th data-sorter='false'><%= tooltip_tag icon_tag(:adjust), 'Status', :left, :hover, class: :'muted undecorated' %></th>
          <th class="span2">Tituly</th>
          <th class="span7">Meno</th>
          <th class="span3">Pozícia</th>
          <th><%= tooltip_tag "Pojednávania", "Počet súdnych pojednávaní" %></th>
          <th><%= tooltip_tag "Rozhodnutia",  "Počet súdnych rozhodnutí" %></th>
        </tr>
      </thead>
      <tbody>
        <% @judges.each do |judge| %>
          <tr>
            <td>
              <%= judge_activity_tag judge.active_at?(@court) %>
            </td>
            <td>
              <%= judge_titles judge, adjust_by_activity_at: @court %>
            </td>
            <td>
              <%= link_to_judge judge, adjust_by_activity_at: @court, format: '%f %m %l, %a' %>
            </td>
            <td>
              <% judge.employments.at_court(@court).each do |employment| %>
                <p><%= judge_position employment %></p>
              <% end %>
            </td>
            <td class="number">
              <% judge.employments.at_court(@court).each do |employment| %>
                <p><%= judge_hearings_count_by_employment employment %></p>
              <% end %>
            </td>
            <td class="number">
              <% judge.employments.at_court(@court).each do |employment| %>
                <p><%= judge_decrees_count_by_employment employment %></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
