<h2>Vedenie súdu</h2>

<div class="row">
  <div class="span12">
    <p>
      <% if @court.chair %>
        <%= judge_at_court_position(@court.chair, @court).upcase_first %> súdu je <%= link_to_judge @court.chair %><%= @court.vicechair ? ' a' : '.' %>
      <% end %>
      <% if @court.vicechair %>
        <% unless @court.chair %>
          <%= judge_at_court_position(@court.vicechair, @court).upcase_first %> súdu
        <% else %>
          <%= judge_at_court_position(@court.vicechair, @court) %>
        <% end %>
        je <%= link_to_judge @court.vicechair %>.
      <% end %>
    </p>
  </div>
</div>

<hr/>

<h2>Sudcovia</h2>

<div class="row">
  <div class="span12">
    <% if @judges.active.listed.any? %>
      <p>
        Tabuľka sudcov, ktorí aktívne pôsobia na súde.
      </p>
      
      <%= render 'judge_list', court: @court, judges: @judges.active.listed %>
    <% end %>
    
    <% if @judges.not_active_or_not_listed.any? %>
      <br/>

      <p>
        Tabuľka sudcov, ktorí pôsobili na súde a ostatných úradníkov, ktorí
        boli uvedení pri súdnych pojednávaniach alebo rozhodnutiach.
      </p>
      
      <%= render 'judge_list', court: @court, judges: @judges.not_active_or_not_listed %>
    <% end %>
  </div>
</div>
