<h2><%= t '.headline' %></h2>

<% if results.any? %>
  <div class="alert alert-warning">
    <%= icon_tag :'warning-sign' %>
    <%= t '.clarification' %>
  </div>

  <%= render 'shared/context_search_results', results: results, offset: 0 %>
<% else %>
  <%= t '.no_mentions' %>
<% end %>
