<div class="row">
  <div class="span12">
    <h2><%= name %></h2>
  </div>

  <div class="span8">
    <% if office.phone? %>
      <div class="row">
        <div class="span2">
          <span class="gutter centered"><%= icon_tag :phone %></span>
          <%= t '.phone_number' %>:
        </div>
        <div class="span6">
          <%= court_phone office %>
        </div>
      </div>
    <% end %>

    <% if office.email? %>
      <div class="row">
        <div class="span2">
          <span class="gutter centered"><%= icon_tag :'envelope-alt' %></span>
          E-mail:
        </div>
        <div class="span6">
          <%= court_email office %>
        </div>
      </div>
    <% end %>

    <% if office.note? %>
      <div class="row">
        <div class="span2">
          <span class="gutter centered"><%= icon_tag :pushpin %></span>
          <%= t '.note' %>:
        </div>
        <div class="span6">
          <%= office.note %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span4">
    <table class="table table-condensed table-bordered table-striped">
      <thead>
        <th colspan="2">
          <%= t '.opening_hours' %> <%= icon_tag :time %>
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="span1"><%= t '.monday' %>:</td>
          <td class="span2"><%= office.hours_monday %></td>
        </tr>
        <tr>
          <td class="span1"><%= t '.Tuesday' %>:</td>
          <td class="span2"><%= office.hours_tuesday %></td>
        </tr>
        <tr>
          <td class="span1"><%= t '.Wednesday' %>:</td>
          <td class="span2"><%= office.hours_wednesday %></td>
        </tr>
        <tr>
          <td class="span1"><%= t '.Thursday' %>:</td>
          <td class="span2"><%= office.hours_thursday %></td>
        </tr>
        <tr>  
          <td class="span1"><%= t '.Friday' %>:</td>
          <td class="span2"><%= office.hours_friday %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
