<div class="row">
  <div class="span12">
    <h2><%= name %></h2>
  </div>

  <div class="span8">
    <% if office.phone? %>
      <p><%= icon_tag :phone %> Tel. číslo: <%= court_phone office %></p>
    <% end %>

    <% if office.email? %>
      <p><%= icon_tag :'envelope-alt' %> E-mail: <%= court_email office %></p>
    <% end %>

    <% if office.note? %>
      <p><%= icon_tag :'paper-clip' %> Poznámka: <%= office.note %></p>
    <% end %>
  </div>

  <div class="span4">
    <table class="table table-condensed table-bordered table-striped">
      <thead>
        <th colspan="2">
          Otváracie hodiny <%= icon_tag :time %>
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="span1">Pondelok:</td>
          <td class="span2"><%= office.hours_monday %></td>
        </tr>
        <tr>
          <td class="span1">Utorok:</td>
          <td class="span2"><%= office.hours_tuesday %></td>
        </tr>
        <tr>
          <td class="span1">Streda:</td>
          <td class="span2"><%= office.hours_wednesday %></td>
        </tr>
        <tr>
          <td class="span1">Štvrtok:</td>
          <td class="span2"><%= office.hours_thursday %></td>
        </tr>
        <tr>  
          <td class="span1">Piatok:</td>
          <td class="span2"><%= office.hours_friday %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
