<hr class="my-4" />

<div class="row">
  <div class="col-lg-8">
    <h2 class="h4 text-uppercase">
      <%= t "courts.office.type.#{office.type.name}" %>
    </h2>

    <% if office.phone? %>
      <div class="row">
        <div class="col-5 col-sm-4 col-md-3"><%= t '.phone' %></div>
        <div class="col-7 col-sm-8 col-md-9"><%= phone_to office.phone %></div>
      </div>
    <% end %>

    <% if office.email? %>
      <div class="row">
        <div class="col-5 col-sm-4 col-md-3"><%= t '.email' %></div>
        <div class="col-7 col-sm-8 col-md-9 text-truncate"><%= email_to office.email %></div>
      </div>
    <% end %>

    <% if office.note? %>
      <div class="row">
        <div class="col-5 col-sm-4 col-md-3"><%= t '.note' %></div>
        <div class="col-7 col-sm-8 col-md-9"><%= sanitize(office.note).gsub(/\n/, '<br>').html_safe %></div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4">
    <table class="table mt-4 mt-lg-0 mb-0">
      <thead>
        <th class="py-2" colspan="2" scope="col"><%= t '.hours' %></th>
      </thead>
      <tbody>
        <tr>
          <td class="w-30 py-1"><%= t('date.day_names')[1] %>:</td>
          <td class="w-70 py-1"><%= office.hours_monday %></td>
        </tr>
        <tr>
          <td class="w-30 py-1"><%= t('date.day_names')[2] %>:</td>
          <td class="w-70 py-1"><%= office.hours_tuesday %></td>
        </tr>
        <tr>
          <td class="w-30 py-1"><%= t('date.day_names')[3] %>:</td>
          <td class="w-70 py-1"><%= office.hours_wednesday %></td>
        </tr>
        <tr>
          <td class="w-30 py-1"><%= t('date.day_names')[4] %>:</td>
          <td class="w-70 py-1"><%= office.hours_thursday %></td>
        </tr>
        <tr>
          <td class="w-30 py-1"><%= t('date.day_names')[5] %>:</td>
          <td class="w-70 py-1"><%= office.hours_friday %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
