<p>
  <%= t '.average_durations_by_agendas' %>
</p>
<ul class="list-inline" role="tablist">
  <% @court.average_proceeding_durations.each do |agenda| %>
    <li class="list-inline-item">
      <%= link_to_collapse agenda.name, "#proceedings-#{agenda.acronym}", role: 'tab' %>
    </li>
  <% end %>
</ul>
<div id="proceedings">
  <% @court.average_proceeding_durations.each do |agenda| %>
    <div id="proceedings-<%= agenda.acronym %>" class="collapse ml-3" data-parent="#proceedings" role="tabpanel">
      <p>
        <%= t '.overall' %> <%= rank_with_order Court::AverageProceedingDurations::Ranking.rank_with_order(@court, agenda.acronym), asc: t('.fastest'), desc: t('.slowest') %>
        <%= t '.court_of' %> <%= Court::AverageProceedingDurations::Ranking.courts.size %>
        <%= t '.district_courts_in' %> <%= agenda.name %>:
      </p>
      <ul class="list-unstyled ml-3 mb-0 pb-3">
        <% agenda.data.each do |data| %>
          <li>
            <%= t '.average_duration_by_year', year: data[:year], value: number_with_precision(data[:value], precision: 1) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
