<% provide :title, t('.title') %>
<% provide :header, render(partial: 'header') %>

<div class="nav centered">
  <ul class="nav nav-pills">
    <li><%= icon_link_to :'list-alt', t('.regional_courts'), '#regional-courts' %></li>
    <li><%= icon_link_to :'list-alt', t('.district_courts'), '#district-courts' %></li>
    <li><%= icon_link_to :'map-marker', t('.courts_map'), map_courts_path %></li>
  </ul>
</div>

<div class="clearfix"></div>

<% if @constitutional %>
  <section id="constitutional-court">
    <%= render 'featured_court', court: @constitutional %>
  </section>
<% end %>

<% if @supreme %>
  <section id="supreme-court">
    <%= render 'featured_court', court: @supreme %>
  </section>
<% end %>

<% if @specialized %>
  <section id="specialized-court">
    <%= render 'featured_court', court: @specialized %>
  </section>
<% end %>

<section id="regional-courts">
  <div class="page-header">
    <h1>
      <%= t '.regional_courts' %>
      <small><%= t '.regional_courts_count', regional_courts_count: @regional.size %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'courts', courts: @regional %>
    </div>
  </div>
</section>

<section id="district-courts">
  <div class="page-header">
    <h1>
      <%= t '.district_courts' %>
      <small><%= t '.district_courts_count', district_courts_count: @district.size %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'courts', courts: @district %>
    </div>
  </div>
</section>

<section id="courts-resources" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.data_source' %>
        <%= external_link_to t('.ministry_of_justice'), JusticeGovSk::Request::CourtList.url, class: :muted, icon: true %>
      </small>
    </div>
  </div>
</section>
