<% provide :title, "Súdy Slovenskej Republiky" %>
<% provide :header, render(partial: 'header') %>

<div class="nav centered">
  <ul class="nav nav-pills">
    <li><%= icon_link_to :'list-alt', "Krajské súdy", '#regional-courts' %></li>
    <li><%= icon_link_to :'list-alt', "Okresné súdy", '#district-courts' %></li>
    <li><%= icon_link_to :'map-marker', "Mapa súdov", map_courts_path %></li>
  </ul>
</div>

<div class="clearfix"></div>

<section id="constitutional-court">
  <%= render 'featured_court', court: @constitutional %>
</section>

<section id="highest-court">
  <%= render 'featured_court', court: @highest %>
</section>

<section id="specialized-court">
  <%= render 'featured_court', court: @specialized %>
</section>

<section id="regional-courts">
  <div class="page-header">
    <h1>
      Krajské súdy
      <small>Na Slovensku je <%= @regional.count %> krajských súdov.</small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'courts', courts: @regional %>
    </div>
  </div>
</section>

<section id="district-courts">
  <div class="page-header">
    <h1>
      Okresné súdy
      <small>Na Slovensku je <%= @district.count %> okresných súdov.</small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'courts', courts: @district %>
    </div>
  </div>
</section>

<section id="courts-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <small class="muted">
          Informácie o súdoch boli získané z portálu
          <%= external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::Request::CourtList.url, class: :muted %>
        </small>
      </div>
    </div>
  </div>
</section>
