<% provide :title, "Mapa súdov Slovenskej Republiky" %>

<section id="courts-map">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <br/>
      <small>Na Slovensku sídli <%= @courts.size %> súdov na <%= @groups.size %> rôznych miestach.</small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span12">
      <p>
        <%= icon_tag :'map-marker' %>
        Kliknutím na vyznačený bod na mape sa zobrazia základné informácie o súde.
      </p>

      <%= courts_map @groups %>
    </div>
  </div>
</section>
