<% provide :title, t('.title') %>

<div class="container">
  <h1 class="m-t-3 m-b-1">
    <%= yield :title %>
    <small class="d-block text-muted">
      <%= t '.note', courts: @courts.size, places: @courts.group_by(&:coordinates).size %>
    </small>
  </h1>

  <p class="text-info">
    <%= t '.hint' %>
  </p>
</div>

<%= courts_map @courts, class: 'm-b-3', zoom: 8 %>

<div class="container">
  <%= render 'shared/global_banners' %>
</div>
