<% provide :title, "Mapa súdov Slovenskej Republiky" %>

<section id="courts-map">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <br/>
      <small>Na Slovensku sídli <%= @courts.count %> súdov na <%= @groups.count %> rôznych miestach.</small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span10">
      <div class="well well-small">
        <%= icon_tag 'map-marker' %>
        Kliknutím na vyznačený bod na mape sa zobrazia základné informácie o súde.
      </div>
    </div>
    
    <div class="span2">
      <div class="well well-small center">
        <%= icon_link_to 'list-alt', "Zoznam súdov", courts_path %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <%= courts_map @groups, class: :global %>
    </div>
  </div>
</section>
