<% provide :title, @court.name %>

<section id="court-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <br/>
      <small><%= @court.address %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'shared/social', classes: 'social-vertical pull-right' %>

      <p>
        <span class="gutter centered"><%= icon_tag :user %></span>
        Na súde <%= @judges.any? ? 'pracuje' : 'nepracujú' %>
        <%= translate_with_count(@judges.count, :judge) %>.
        Pre súd <%= 'zatiaľ ne' if @court.hearings.none? %>evidujeme
        <%= translate_with_count(@court.hearings.count, :hearing) %>
        a&nbsp;<%= translate_with_count(@court.decrees.count, :decree) %>.
      </p>

      <% if @expenses.any? %>
        <p>
          <span class="gutter centered"><%= icon_tag :legal %></span>
          Celkovo <%= rank Court::Expenses.rank @court %> najviac pokutovaný súd zo <%= Court::Expenses.courts.count %> súdov.
        </p>
        <p>
          <span class="gutter centered"><%= icon_tag :legal %></span>
          <% unless @court.expenses_total.zero? %>
            <a href="#" data-target="#expenses" data-toggle="collapse">Pokuty od Ústavného súdu</a>
          <% else %>
            Pokuty od Ústavného súdu
          <% end %>
          Slovenskej republiky za neskoré a nesprávne rozhodnutia v rokoch
          <%= @expenses.first.year %> &ndash; <%= @expenses.last.year %>
          boli <%= number_to_currency(@court.expenses_total, precision: 0) %>.
        </p>
        <% unless @court.expenses_total.zero? %>
          <div id="expenses" class="collapse out">
            <ul class="unstyled">
              <% @expenses.reverse.reject { |expense| expense.value.zero? }.each do |expense| %>
                <li><%= icon_tag :'credit-card' %> Pokuta za rok <%= expense.year %> bola <%= number_to_currency expense.value, precision: 0 %>.</li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <% if @court.average_proceeding_lengths? %>
        <p>
          <span class="gutter centered"><%= icon_tag :time %></span>
          Priemerné dĺžky trvania konaní v rámci súdu podľa agiend:
        </p>
        <ul class="unstyled inline">
          <% @court.average_proceeding_lengths.each do |agenda| %>
            <li><a href="#average-proceeding-length-<%= agenda.acronym %>" data-parent="#average-proceeding-lengths" data-toggle="collapse"><%= agenda.name %></a></li>
          <% end %>
        </ul>
        <div id="average-proceeding-lengths">
          <% @court.average_proceeding_lengths.each do |agenda| %>
            <div class="accordion-group">
              <div id="average-proceeding-length-<%= agenda.acronym %>" class="collapse<%= ' in' if agenda.acronym == :T %>">
                <p>
                  <span class="gutter centered"><%= icon_tag :time %></span>
                  Priemerná dĺžka trvania konania v agende <%= agenda.name %>:
                </p>
                <ul class="unstyled">
                  <% agenda.data.each do |data| %>
                    <li>Priemerná dĺžka za rok <%= data[:year] %> je <%= number_with_precision data[:value], precision: 1 %> mesiaca.</li>
                  <% end %>

                  <li>Celkovo <%= rank Court::AverageProceedingLengths::Ranking.rank(@court, agenda.acronym) %> najrýchlejší súd v rámci tejto agendy.</li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="court-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#contact" data-toggle="tab" data-track="court-contact">Kontakt</a>
          </li>
          <!-- TODO rm         
          <li><a href="#offices" data-toggle="tab">Pracoviská</a></li>
          -->
          <li><%= tab_link_to_with_count 'Sudcovia', '#judges', @judges.count, track_data('court-judges') %></li>
          <li><%= tab_link_to_with_count 'Rozhodnutia', '#decrees', @court.decrees.count, track_data('court-decrees') %></li>
          <li><%= tab_link_to_with_count 'Pojednávania', '#hearings', @court.hearings.count, track_data('court-hearings') %></li>
          <li><%= tab_link_to_with_count 'V médiách', '#media', @results.count, track_data('court-media') %></li>
        </ul>

        <div class="tab-content">
          <div id="contact" class="tab-pane active">
            <%= render 'contact' %>
          </div>
          <!-- TODO rm
          <div id="offices" class="tab-pane">
            <%= render 'offices' %>
          </div>
          -->
          <div id="judges" class="tab-pane">
            <%= render 'judges', judges: @judges %>
          </div>

          <div id="decrees" class="tab-pane">
            <%= render 'decrees', decrees: @decrees, query: { court: @court.name } %>
          </div>

          <div id="hearings" class="tab-pane">
            <%= render 'hearings', hearings: @hearings, query: { court: @court.name } %>
          </div>

          <div id="media" class="tab-pane">
            <%= render 'media', results: @results %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="court-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o súde boli získané z <%= external_link_to 'dokumentu', @court.uri, class: :muted %>,
        ktorého posledná aktualizácia bola vykonaná <%= time_tag @court.updated_at.to_date, format: :default %>.
      </small>
    </div>
  </div>
</section>
