<% provide :title, @court.name %>

<section id="court-profile">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <br/>
      <small><%= @court.address %></small>
    </h1>
  </div>
</section>

<section id="court-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#contact" data-toggle="tab">Kontakt</a>
          </li>
          <li><a href="#offices" data-toggle="tab">Pracoviská</a></li>
          <li><a href="#judges" data-toggle="tab">Sudcovia</a></li>
          <li><a href="#hearings" data-toggle="tab">Pojednávania</a></li>
          <li><a href="#decrees" data-toggle="tab">Rozhodnutia</a></li>
        </ul>

        <div class="tab-content">
          <div id="contact" class="tab-pane active">
            <%= render 'contact' %>
          </div>

          <div id="offices" class="tab-pane">
            <%= render 'offices' %>
          </div>

          <div id="judges" class="tab-pane">
            <%= render 'judges', judges: @judges %>
          </div>

          <div id="hearings" class="tab-pane">
            <%= render 'hearings', hearings: @hearings %>
          </div>

          <div id="decrees" class="tab-pane">
            <%= render 'decrees', decrees: @decrees %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section id="court-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <small class="muted">
          Informácie o súde boli získané zo <%= external_link_to 'zdroja', @court.uri, class: :muted %>,
          ktorého posledná aktualizácia bola zistená <%= time_tag @court.updated_at.to_date, format: :default %>.
        </small>
      </div>
    </div>
  </div>
</section>
