<% provide :title, @court.name %>

<h1 class="text-uppercase my-4">
  <%= yield :title %>
  <small class="d-block h6 font-weight-bold mt-2 mb-0">
    <%= @court.address %>
  </small>
</h1>

<p>
  <%= t '.at_court' %> <%= t '.work', count: @judges.active.listed.size, judges: translate_with_count(@judges.active.listed.size, :judge) %>.
</p>
<p>
  <%= t '.for_court'%> <%= t '.register', count: @court.hearings.size %>
  <%= translate_with_count @court.hearings.size, :hearing %>
  <%= two_words_connector %>&nbsp;<%= translate_with_count @court.decrees.size, :decree %>.
</p>

<%= render 'expenses' if @expenses.any? %>
<%= render 'proceedings' if @court.average_proceeding_durations? %>

<ul class="nav nav-tabs mt-4" role="tablist">
  <%= tab_link_tag t('.contact'), 'contact', class: 'active', tabindex: -1 %>
  <%= tab_link_tag t('.judges'), 'judges' %>
  <%= tab_link_tag t('.decrees'), 'decrees' %>
  <%= tab_link_tag t('.hearings'), 'hearings' %>
</ul>

<div class="tab-content">
  <%= render_tab partial: 'contact', class: 'active' %>
  <%= render_tab 'judges', judges: @judges %>
  <%= render_tab 'decrees', decrees: @decrees.limit(10), query: { court: @court.name } %>
  <%= render_tab 'hearings', hearings: @hearings.limit(10), query: { court: @court.name } %>
</div>

<p class="small text-muted mt-4 mb-0">
  <%= s t '.resource_note.description', document: link_to(t('.resource_note.document'), @court.uri, target: '_blank'), update: time_tag(@court.updated_at.to_date, format: :default) %>
</p>
