<ol class="search-results" start="<%= offset + 1 %>">
  <% results.each do |hearing| %>
    <li>
      <h4>
        <%= link_to "#{hearing_type hearing.type} #{hearing.file_number}", hearing_path(hearing.id) %>
        <br/>
        <small>
          Pojednávanie <%= hearing.date.past? ? "prebehlo" : "prebehne" %> dňa &ndash;
          <%= hearing_date hearing.date %>
        </small>
      </h4>

      <div class="search-result-content">
        <div class="search-result-identifiers pull-right">
            <%= tooltip_tag hearing.case_number, "Spisová značka", placement: :right %><br/>
            <%= tooltip_tag hearing.file_number, "Identifikačné číslo súdneho spisu", placement: :right %>
        </div>
        
        <% if hearing.court %>
          Súd &ndash; <%= link_to_court hearing.court %>
        <% end %>
        <% if hearing.judges.normal.any? %>
          <br/>
          <%= translate_without_count(hearing.judges.count, :judge).upcase_first %> &ndash; <%= links_to_judges hearing.judges.normal %>
        <% end %>

<!-- TODO consider adding other attributes such as:

          <% if hearing.form %>
            <br/>
            Forma úkonu &ndash; <%= hearing.form.value %>.
          <% end %>
          <% if hearing.subject %>
            <br/>
            Predmet &ndash; <%= hearing.subject.value %>.
          <% end %>

-->
        <% if hearing.proposers.any? %>
          <br/>
          <%= translate_without_count(hearing.proposers.count, :proposer).upcase_first %> &ndash; <%= hearing.proposers.pluck(:name).join ', ' %>
        <% end %>
        <% if hearing.opponents.any? %>
          <br/>
          <%= translate_without_count(hearing.opponents.count, :opponent).upcase_first %> &ndash; <%= hearing.opponents.pluck(:name).join ', ' %>
        <% end %>
        <% if hearing.defendants.any? %>
          <br/>
          <%= translate_without_count(hearing.defendants.count, :defendant).upcase_first %> &ndash; <%= hearing.defendants.pluck(:name).join ', ' %>
        <% end %>

        <div class="clearfix"></div>
      </div>        
    </li>
  <% end %>
</ol>
