<% provide :title, hearing_title(@hearing) %>

<h1 class="text-uppercase my-4">
  <%= hearing_headline @hearing, limit: 49, tooltip: true %>
  <small class="d-block h6 font-weight-bold mt-2 mb-0">
    <%= t '.hearing' %> <%= t @hearing.historical ? '.past' : '.future' %>
    <%= @hearing.date ? hearing_date(@hearing.date) : t('.unknown') %>
  </small>
</h1>

<div class="row">
  <div class="col-xl-8 mb-0-last">
    <% if @court %>
      <p>
        <%= hearing_type @hearing.type %> <%= t @hearing.historical ? '.took_place' : '.will_take_place' %>
        <%= t '.at_court', court: link_to_court(@court) %><%= s t '.in_room', room: @hearing.room if @hearing.room %>.
      </p>
    <% end %>
    <% if @hearing.section || @hearing.special_type %>
      <p>
        <% if @hearing.section %>
          <%= t '.section' %> &ndash; <%= @hearing.section.value %><%= ', ' if @hearing.special_type %>
        <% end %>
        <% if @hearing.special_type %>
          <%= @hearing.section ? t('.special_type').downcase_first : t('.special_type') %> &ndash; <%= @hearing.special_type %>
        <% end %>
      </p>
    <% end %>
    <% if @hearing.form %>
      <p><%= t '.form' %> &ndash; <%= link_to_hearings_search @hearing.form.value, params: { form: @hearing.form.value } %></p>
    <% end %>
    <% if @hearing.subject %>
      <p><%= t '.subject' %> &ndash; <%= link_to_hearings_search @hearing.subject.value, params: { subject: @hearing.subject.value } %></p>
    <% end %>
    <% if @hearing.commencement_date? %>
      <p><%= t '.commencement_date' %> &ndash; <%= hearing_date @hearing.commencement_date %></p>
    <% end %>
    <% unless @hearing.selfjudge.nil? %>
      <p><%= t '.single_judge' %> &ndash; <%= t('polar')[@hearing.selfjudge] %></p>
    <% end %>
    <% if @hearing.note %>
      <p><%= t '.note' %> &ndash; <%= @hearing.note %></p>
    <% end %>
    <p>
      <%= t '.resource' %> &ndash; <%= link_to t('.document'), @hearing.uri %> <span class="text-muted">(<%= t '.document_note' %>)</span>
    </p>
  </div>

  <div class="col-xl-4">
    <ul class="list-unstyled bg-light border mb-0 p-3">
      <li class="d-flex justify-content-between mx-2">
        <span><%= tooltip_tag t('case_number.acronym'), t('case_number.full'), placement: 'left' %>:</span>
        <%= @hearing.case_number ? link_to_hearings_search(@hearing.case_number, params: { case_number: @hearing.case_number }) : t('case_number.missing') %>
      </li>
      <li class="d-flex justify-content-between mx-2">
        <span><%= tooltip_tag t('file_number.acronym'), t('file_number.full'), placement: 'left' %>:</span>
        <%= @hearing.file_number ? link_to_hearings_search(@hearing.file_number, params: { file_number: @hearing.file_number }) : t('file_number.missing') %>
      </li>
    </ul>

    <% if @hearing.proceeding %>
      <%= link_to t('.in_proceeding'), @hearing.proceeding, class: 'btn btn-outline-primary d-block mt-3' %>
    <% end %>

    <% if current_user&.admin? && !@hearing.anonymized? %>
      <%= link_to t('.anonymize'), anonymize_hearing_path(@hearing), class: 'btn btn-outline-danger d-block mt-3', method: :delete %>
    <% end %>
  </div>
</div>

<% if @proposers.any? %>
  <h2 class="h4 text-uppercase mt-4"><%= t '.proposers' %></h2>

  <ul class="list-unstyled">
    <% @proposers.each do |proposer| %>
      <li><%= proposer.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @opponents.any? %>
  <h2 class="h4 text-uppercase mt-4"><%= t '.opponents' %></h2>

  <ul class="list-unstyled">
    <% @opponents.each do |opponent| %>
      <li><%= opponent.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @defendants.any? %>
  <h2 class="h4 text-uppercase mt-4"><%= t '.defendants' %></h2>

  <ul class="list-unstyled">
    <% @defendants.each do |defendant| %>
      <li>
        <%= defendant.name %>
        <% if defendant.accusations.any? %>
          <ul class="list-unstyled ml-3 mb-2">
            <% defendant.accusations.each do |accusation| %>
              <li>
                <% if accusation.paragraphs.any? %>
                  <%= accusation.paragraphs.pluck(:description).join ', ' %>,
                <% end %>
                <%= accusation.value %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @judges.any? %>
  <h2 class="h4 text-uppercase mt-4"><%= t '.judges' %></h2>

  <% if @judges.chaired.any? %>
    <p>
      <%= t '.chairman' %>
      <% if @judges.chaired.exact.any? %>
        <%= links_to_judges @judges.chaired.exact %>.
      <% else %>
        <%= judge_processed_names @judges.chaired.inexact %>
      <% end %>
    </p>
  <% end %>

  <% if @judges.normal.any? %>
    <p>
      <% if @judges.normal.exact.any? %>
        <%= links_to_judges @judges.normal.exact %>
      <% else %>
        <%= judge_processed_names @judges.normal.inexact %>
      <% end %>
    </p>
  <% end %>
<% end %>

<p class="small text-muted mt-4 mb-0">
  <%= s t '.resource_note.description', document: link_to(t('.resource_note.document'), @hearing.uri), update: time_tag(@hearing.updated_at.to_date, format: :default) %>
  <%= s t '.link_note.description', document: link_to(t('.link_note.document'), @hearing.uri) %>
</p>
