<% provide :title, hearing_title(@hearing) %>

<h1 class="m-t-3 m-b-1">
  <%= hearing_headline @hearing, limit: 45, tooltip: true %>
  <small class="d-block text-muted">
    <%= t '.hearing' %> <%= t @hearing.historical ? '.past' : '.future' %>
    <%= @hearing.date ? hearing_date(@hearing.date) : t('.unknown') %>
  </small>
</h1>

<div class="row">
  <div class="col-lg-7">
    <% if @court %>
      <p>
        <%= hearing_type @hearing.type %> <%= t @hearing.historical ? '.took_place' : '.will_take_place' %>
        <%= t '.at_court', court: link_to_court(@court) %><%= s t '.in_room', room: @hearing.room if @hearing.room %>.
      </p>
    <% end %>
    <% if @hearing.section || @hearing.special_type %>
      <p>
        <% if @hearing.section %>
          <%= t '.section' %> &ndash; <%= @hearing.section.value %><%= ', ' if @hearing.special_type %>
        <% end %>

        <% if @hearing.special_type %>
          <%= @hearing.section ? t('.special_type').downcase_first : t('.special_type') %> &ndash; <%= @hearing.special_type %>
        <% end %>
      </p>
    <% end %>

    <% if @hearing.form %>
      <p><%= t '.form' %> &ndash; <%= link_to_hearings_search @hearing.form.value, params: { form: @hearing.form.value } %></p>
    <% end %>
    <% if @hearing.subject %>
      <p><%= t '.subject' %> &ndash; <%= link_to_hearings_search @hearing.subject.value, params: { subject: @hearing.subject.value } %></p>
    <% end %>

    <% if @hearing.commencement_date? %>
      <p><%= t '.commencement_date' %> &ndash; <%= hearing_date @hearing.commencement_date %></p>
    <% end %>
    <% unless @hearing.selfjudge.nil? %>
      <p><%= t '.single_judge' %> &ndash; <%= t('polar')[@hearing.selfjudge] %></p>
    <% end %>

    <% if @hearing.note %>
      <p><%= t '.note' %> &ndash; <%= @hearing.note %></p>
    <% end %>

    <p class="m-b-0">
      <%= t '.resource' %> &ndash; <%= link_to t('.document'), @hearing.uri %> <span class="text-muted">(<%= t '.document_note' %>)</span>
    </p>

    <div class="hidden-lg-up m-b-3"></div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-block">
        <ul class="list-unstyled m-b-0">
          <li>
            <%= tooltip_tag t('case_number.acronym'), t('case_number.full'), placement: 'left' %>:
            <span class="pull-xs-right"><%= @hearing.case_number ? link_to_hearings_search(@hearing.case_number, params: { case_number: @hearing.case_number }) : t('case_number.missing') %></span>
          </li>
          <li>
            <%= tooltip_tag t('file_number.acronym'), t('file_number.full'), placement: 'left' %>:
            <span class="pull-xs-right"><%= @hearing.file_number ? link_to_hearings_search(@hearing.file_number, params: { file_number: @hearing.file_number }) : t('file_number.missing') %></span>
          </li>
        </ul>
      </div>
    </div>

    <% if @hearing.proceeding %>
      <div class="text-lg-center">
        <%= t '.show_within' %> <%= link_to t('.proceeding'), @hearing.proceeding %>
      </div>
    <% end %>
  </div>
</div>

<% if @proposers.any? %>
  <h2 class="m-t-3"><%= t '.proposers' %></h2>

  <ul class="list-unstyled">
    <% @proposers.each do |proposer| %>
      <li><%= proposer.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @opponents.any? %>
  <h2 class="m-t-3"><%= t '.opponents' %></h2>

  <ul class="list-unstyled">
    <% @opponents.each do |opponent| %>
      <li><%= opponent.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @defendants.any? %>
  <h2 class="m-t-3"><%= t '.defendants' %></h2>

  <ul class="list-unstyled">
    <% @defendants.each do |defendant| %>
      <li>
        <%= defendant.name %>
        <% if defendant.accusations.any? %>
          <ul class="list-unstyled p-l-1">
            <% defendant.accusations.each do |accusation| %>
              <li>
                <% if accusation.paragraphs.any? %>
                  <%= accusation.paragraphs.pluck(:description).join ', ' %>,
                <% end %>
                <%= accusation.value %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @judges.any? %>
  <h2 class="m-t-3"><%= t '.judges' %></h2>

  <% if @judges.chaired.any? %>
    <p>
      <%= t '.chairman' %>
      <% if @judges.chaired.exact.any? %>
        <%= links_to_judges @judges.chaired.exact %>.
      <% else %>
        <%= judge_processed_names @judges.chaired.inexact %>
      <% end %>
    </p>
  <% end %>

  <% if @judges.normal.any? %>
    <p>
      <% if @judges.normal.exact.any? %>
        <%= links_to_judges @judges.normal.exact %>
      <% else %>
        <%= judge_processed_names @judges.normal.inexact %>
      <% end %>
    </p>
  <% end %>
<% end %>

<p class="text-small text-muted m-t-3">
  <%= s t '.resource_note.description', document: link_to(t('.resource_note.document'), @hearing.uri), update: time_tag(@hearing.updated_at.to_date, format: :default) %>
  <%= s t '.link_note.description', document: link_to(t('.link_note.document'), @hearing.uri) %>
</p>
