<% provide :title, hearing_title(@hearing) %>

<section id="hearing-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= hearing_headline @hearing, limit: 47, tooltip: true %>
      <br/>
      <small>
        Pojednávanie <%= @hearing.historical ? "prebehlo" : "prebehne" %> dňa &ndash;
        <%= hearing_date @hearing.date %>
      </small>
    </h1>
  </div>

  <%-# All hearing types -%>

  <div class="row">
    <div class="span8">
      <% if @court %>
        <p>Pojednávanie sa <%= @hearing.historical ? "konalo" : "bude konať" %> na súde <%= link_to_court @court %><%= ", v miestnosti #{@hearing.room}" if @hearing.room %>.</p>
      <% end %>
      <% if @hearing.section || @hearing.special_type %>
        <p>
          <% if @hearing.section %>
            Úsek &ndash; <%= @hearing.section.value %>
          <% end %>

          <%-# Civil hearings only -%>

          <% if @hearing.special_type %>
            Typ &ndash; <%= @hearing.special_type %>
          <% end %>
        </p>
      <% end %>

      <%-# All hearing types -%>

      <% if @hearing.form %>
        <p>Forma úkonu &ndash; <%= link_to_hearings_search @hearing.form.value, params: { form: @hearing.form.value } %></p>
      <% end %>
      <% if @hearing.subject %>
        <p>Predmet &ndash; <%= link_to_hearings_search @hearing.subject.value, params: { subject: @hearing.subject.value } %></p>
      <% end %>

      <%-# Special hearings only -%>

      <% if @hearing.commencement_date? %>  
        <p>Dátum započatia &ndash; <%= hearing_date @hearing.commencement_date %></p>
      <% end %>
      <% unless @hearing.selfjudge.nil? %>
        <p>Samosudca &ndash; <%= @hearing.selfjudge ? 'áno' : 'nie' %></p>
      <% end %>

      <%-# All hearing types -%>

      <% if @hearing.note %>
        <p>Poznámka &ndash; <%= @hearing.note %></p>
      <% end %>

      <p><%= external_link_to 'Pôvodný dokument', @hearing.uri %> (odkaz už <%= tooltip_tag 'nemusí', 'Viď poznámku na konci tohto dokumentu' %> byť platný)</p>
    </div>

    <%-# All hearing types -%>

    <div class="span4">
      <div class="well well-small">
        <p>
          <%= tooltip_tag "SZ", "Spisová značka", placement: :left %>:
          <span class="pull-right"><%= @hearing.case_number %></span>
        </p>
        <p>
          <%= tooltip_tag "IČS", "Identifikačné číslo súdneho spisu", placement: :left %>:
          <span class="pull-right"><%= @hearing.file_number %></span>
        </p>
      </div>

      <% if @hearing.proceeding %>
        <div class="centered">
          Zobraziť v rámci <%= icon_link_to :paste, "súdneho konania", @hearing.proceeding, join: :append %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%-# Civil hearings only -%>

<% if @proposers.any? %>
  <section id="hearing-proposers">
    <h2>Navrhovatelia</h2>

    <div class="row">
      <div class="span12">
        <ul>
          <% @proposers.each do |proposer| %>
            <li><%= proposer.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<% if @opponents.any? %>
  <section id="hearing-opponents">
    <h2>Odporcovia</h2>

    <div class="row">
      <div class="span12">
        <ul>
          <% @opponents.each do |opponent| %>
            <li><%= opponent.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<%-# Criminal and Special hearings only -%>

<% if @defendants.any? %>
  <section id="hearing-defendants">
    <h2>Obžalovaní</h2>

    <div class="row">
      <div class="span12">
        <ul>
          <% @defendants.each do |defendant| %>
            <li>
              <%= defendant.name %>
              <% if defendant.accusations.any? %>
                <ul>
                  <% defendant.accusations.each do |accusation| %>
                    <li>
                      <% if accusation.paragraphs.any? %>
                        <%= accusation.paragraphs.pluck(:description).join ', ' %>,
                      <% end %>
                      <%= accusation.value %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<%-# All hearing types -%>

<% if @judges.any? %>
  <section id="hearing-judges">
    <h2>Sudcovia</h2>

    <%-# Special hearings only -%>

    <% if @judges.chaired.any? %>    
      <div class="row">
        <div class="span12">
          Funkciu predsedu senátu zastáva <%= links_to_judges @judges.chaired %>.
        </div>
      </div>
    <% end %>

    <%-# Civil and Criminal hearings only -%>

    <% if @judges.normal.any? %>
      <div class="row">
        <div class="span12">
          <%= links_to_judges @judges.normal %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<section id="hearing-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o súdnom pojednávaní boli získané z <%= external_link_to 'dokumentu', @hearing.uri, class: :muted %>,
        ktorého posledná aktualizácia bola vykonaná <%= time_tag @hearing.updated_at.to_date, format: :default %>.
        <br/>
        Odkaz na <%= external_link_to 'pôvodný dokument', @hearing.uri, class: :muted %> už nemusí byť platný,
        pretože portál Ministerstva spravodlivosti mohol zverejniť dokument pod týmto odkazom iba na určitú dobu.
        <% if File.readable? @hearing.resource_path %>
          <br/>
          Z toho dôvodu poskytujeme odkaz na pôvodný <%= link_to_hearing_resource @hearing, icon_tag(:'file-alt', label: 'spracovaný dokument', join: :append), class: :icon %> v surovej forme.
        <% end %>
      </small>
    </div>
  </div>
</section>
