<h3 class="h4 text-uppercase my-4">
  <%= t '.headline' %>
</h3>

<div id="indicators-chart-2017">
  <div class="row">
    <div class="col-xl-3 order-xl-1">
      <div class="facet">
        <h6 class="facet-title">
          <%= t '.legend' %>
        </h6>
        <%= indicators_chart_legend_tag %>
      </div>

      <%= render 'judges/indicators/facets/name_facet', facet: facets[:name], translation: t(facets[:name].key) %>

      <div class="facet">
        <h6 class="facet-title">
          <%= t '.advanced_comparison' %>
        </h6>
        <div class="facet-content">
          <div class="facet-results">
            <%= link_to_collapse [t('.show_filters'), t('.hide_filters')], '#indicators-facets-2017', class: 'text-secondary', collapsed: params.slice(*%i(decree_agenda_2017 positions similar_courts)).none? %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 order-xl-3">
      <div id="indicators-facets-2017" class="row collapse<%= ' show' if params.slice(*%i(positions decree_agenda_2017 similar_courts)).any? %> mt-0 mt-xl-3">
        <div class="col-xl-4">
          <hr class="d-xl-none" />
          <%= render 'judges/indicators/facets/terms_facet', facet: facets[:positions], translation: t(facets[:positions].key) %>
        </div>
        <div class="col-xl-4">
          <hr class="d-xl-none" />
          <%= render 'judges/indicators/facets/terms_facet', facet: facets[:decree_agenda_2017], translation: t(facets[:decree_agenda_2017].key) %>
        </div>
        <div class="col-xl-4">
          <hr class="d-xl-none" />
          <%= render 'judges/indicators/facets/terms_facet', facet: facets[:similar_courts], translation: t(facets[:similar_courts].key) %>
        </div>
      </div>
    </div>

    <div class="col-xl-9 order-xl-2">
      <div class="table-responsive-sm my-4">
        <%= indicators_chart_canvas_tag judge, indicators_repository: Judge::Indicators2017, year: 2017, others: others %>
      </div>
      <div class="small text-center text-muted w-80 mx-auto mb-0">
        <%= s t '.filters_note.content' %>
      </div>
    </div>
  </div>
</div>
