<% provide :title, title(@title) %>

<div class="row">
  <div class="col-lg-6">
    <h1 class="display-4 m-t-3 m-b-1 text-danger">
      <%= @title %>
    </h1>

    <p class="lead">
      <%= @description %><br/>
      <%= t 'unicorn.message' %>
    </p>
  </div>

  <div class="col-xs-8 offset-xs-4 col-lg-6 offset-lg-0">
    <img class="img-fluid m-t-3 m-b-1" src="<%= asset_path 'unicorn.svg' %>" alt="<%= t 'unicorn.title' %>" />
  </div>
</div>
