<ol class="list-unstyled">
  <% subscriptions.each do |subscription| %>
    <li class="m-b-2">
      <h4>
        <%= t '.title' %> <%= t subscription.query.model.underscore.to_sym, count: :other %>
      </h4>

      <p class="text-muted">
        <%= t '.registered_at' %> <%= time_tag subscription.created_at, format: :default %>
      </p>

      <% if subscription.query.value.any? %>
        <ul class="list-unstyled m-y-1">
          <% subscription.query.value.each do |name, values| %>
            <li>
              <%= t "#{model.facets[name].key}.title" %> &ndash;
              <%= Array.wrap(values).join ', ' %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="m-b-1">
          <%= t '.no_restrictions' %>
        </p>
      <% end %>

      <%= form_for subscription, method: :put, html: { class: 'form-inline' } do |f| %>
        <%= f.fields_for :query do |q| %>
          <%= q.hidden_field :model, value: subscription.query.model.to_s %>
          <%= q.hidden_field :value, value: Query.unwrap(subscription.query.value) %>
        <% end %>

        <div class="form-group m-r-1">
          <div class="btn-group" data-toggle="buttons">
            <% Period.values.each do |_, period| %>
              <label class="btn btn-outline-secondary<%= ' active' if subscription.period == period %>">
                <%= f.radio_button :period_id, period.id, name: 'period_id', checked: subscription.period == period, autocomplete: 'off' %>
                <%= t "period.#{period.name}" %>
              </label>
            <% end %>
          </div>
        </div>

        <%= link_to_search subscription.query.model, t('.search'), params: subscription.query.value, class: 'btn btn-outline-info' %>
        <button type="submit" class="btn btn-outline-primary"><%= t '.update' %></button>
        <%= link_to t('.delete'), subscription, method: :delete, class: 'btn btn-outline-danger', role: :button %>
      <% end %>
    </li>
  <% end %>
</ol>
