<section id="new-session">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
    <legend>Prihlásenie</legend>

    <div class="control-group">
      <%= f.label :email, class: 'control-label', placeholder: 'email' %>

      <div class="controls">
        <%= f.email_field :email, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, class: 'control-label', placeholder: 'Heslo' %>

      <div class="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <div class="controls">
          <%= f.check_box :remember_me %> Zapamätaj si ma
        </div>
      </div>
    <% end -%>

    <div class="control-group">
      <div class="controls">
        <button class="btn" type="submit">Prihlásiť</button>
      </div>
    </div>
  <% end %>
</section>

<%= render "devise/shared/links" %>
