<% provide :title, "Prihlásenie" %>

<%= render "devise/shared/links" %>

<section id="user-session" class="user">
  <div class="row">
    <div class="offset2 span8">
      <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
        <legend><%= yield :title %></legend>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: :span8 %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, class: :span8 %>
        </p>
        <%= f.hidden_field :remember_me, value: 1 if devise_mapping.rememberable? %>
        <button type="submit" class="btn btn-inverse btn-large">Prihlásiť</button>
      <% end %>
    </div>
  </div>
</section>
