<%# TODO redesign and translate %>

<div class="footer">
  <p>
    <%= t '.best_regards' %>,<br/>
    <%= t '.team' %> <%= link_to t('open_courts'), root_url %>
  </p>
  <p class="muted">
    <%= t '.supporters' %>
  </p>
  <p class="muted">
  <%= t '.support_us' %>
  </p>
  <p class="centered">
    <%= external_link_to t('.support_project'), 'http://transparency.darujme.sk/238', class: :'btn btn-large' %>
  </p>
</div>
