<div class="header">
  <h1>
    <%= link_to t('open_courts'), root_url %>
    <small>
      <%= translate_with_count Court.total,      :court %>,
      <%= translate_with_count Judge.total,      :judge %>,
      <%= translate_with_count Hearing.total,    :hearing %> a
      <%= translate_with_count Decree.total,     :decree %>
<!--
      <%= translate_with_count Proceeding.total, :proceeding %>
-->
    </small>
  </h1>
</div>
