<div class="header">
  <h1>
    <%= link_to "Otvorené Súdy", root_url %>
    <small>
      <%= translate_with_count Court.probe.total,      :court %>,
      <%= translate_with_count Judge.probe.total,      :judge %>,
      <%= translate_with_count Hearing.probe.total,    :hearing %>,
      <%= translate_with_count Decree.probe.total,     :decree %> a
      <%= translate_with_count Proceeding.probe.total, :proceeding %>
    </small>
  </h1>
</div>
