<%= render 'header' %>

<div class="section">
  <h4><%= t '.search_settings' %>:</h4>
  
  <% if @subscription.query.value.any? %>
    <ul class="unstyled">
      <% @subscription.query.value.each do |name, values| %>
        <li>
          <%= t "#{@model.facets[name].key}.title" %> &ndash;
          <%= Array.wrap(values).join ', ' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= t '.no_filters' %>
    </p>
  <% end %>
</div>

<div class="section">
  <h4><%= t '.new' %> <%= translate_without_count(:other, @type) %>:</h4>
  
  <%= render "#{@type.to_s.pluralize}" %>

  <p>  
    <%= link_to_search @type, "#{t('.more')} #{translate_without_count(:other, @type)}", params: @params %>
    &middot;
    <%= link_to t('.cancel_subscription'), subscriptions_users_url %>
  </p>
</div>

<%= render 'footer' %>
