<li class="timeline-<%= timeline_distance(previous, decree) %>">
  <h4>
    <%= link_to decree_path(decree, nil, params: { q: params[:q] }) do %>
      <%= decree_headline decree, limit: 67 %>
      <% if decree.natures.any? %>
        <br/>
        <%= decree_natures decree, limit: 67 %>
      <% end %>
    <% end %>
    <br/>
    <small>
      <%= decree.date ? decree_date(decree.date) : "Neznámy dátum" %>
    </small>
  </h4>
</li>
