<li>
  <h4>
    <%= link_to_hearing hearing, hearing_headline(hearing) %>
    <br/>
    <small>
      Pojednávanie <%= hearing.date.past? ? "prebehlo" : "prebehne" %> dňa &ndash;
      <%= hearing_date hearing.date %>
    </small>
  </h4>
  
  <!-- TODO
  <div class="row">
    <div class="span6">
      <% if hearing.court %>
        Súd &ndash; <%= link_to_court hearing.court %>
      <% end %>
      <% if hearing.judgings.normal.any? %>
        <br/>
        Sudcovia &ndash; <%= links_to_judges hearing.judgings.normal.map(&:judge) %>
      <% end %>
  
      <% if hearing.proposers.any? %>
        <br/>
        Navrhovatelia &ndash; <%= hearing.proposers.pluck(:name).to_sentence %>
      <% end %>
      <% if hearing.opponents.any? %>
        <br/>
        Odporcovia &ndash; <%= hearing.opponents.pluck(:name).to_sentence %>
      <% end %>
      <% if hearing.defendants.any? %>
        <br/>
        Obžalovaní &ndash; <%= hearing.defendants.pluck(:name).to_sentence %>
      <% end %>
    </div>
  
    <div class="span2">
      <span class="pull-right">
        <%= tooltip_tag hearing.case_number, "Spisová značka", placement: :right %>
      </span>
      <br/>
      <span class="pull-right">
        <%= tooltip_tag hearing.file_number, "Identifikačné číslo súdneho spisu", placement: :right %>
      </span>
    </div>
  </div>
  -->
</li>
