<%= search_list_tag results, offset: offset do |proceeding, highlight| %>
  <li>
    <h4>
      <%= link_to proceeding_path(proceeding, nil, params: { q: params[:q] }, :'data-searchd-result' => "Proceeding ##{proceeding.id}") do %>
        <%= proceeding_headline(proceeding, limit: 67) %>
        <% if proceeding.legislation_area_and_subarea.any? %>
          <br/>
          <%= proceeding_subject proceeding, limit: 67 %>
        <% end %>
      <% end %>
      <br/>
      <small>
        <%= t 'proceedings.public_hearing' %>
        <% if proceeding.single_hearing? %>
          <%= proceeding.duration_events.first.historical ? t('proceedings.started') : t('proceedings.will_start') %>
          <%= t 'proceedings.in_day' %> &ndash; <%= proceeding_date proceeding.duration_events.first.date %>
        <% elsif proceeding.single_decree?  %>
          <%= t 'proceedings.closed_at' %> &ndash; <%= proceeding_date proceeding.duration_events.first.date %>
        <% else %>
          <% unless proceeding.probably_closed? %>
            <%= t 'proceedings.takes_from' %> &ndash; <%= proceeding_date proceeding.duration_events.first.date %>
          <% else %>
            <% if proceeding.duration_events.first.date.to_date == proceeding.duration_events.last.date.to_date %>
              <%= t 'proceedings.happende_at' %> &ndash; <%= proceeding_date proceeding.duration_events.first.date, format: :normal %>
            <% else %>
              <%= t 'proceedings.took_from' %> &ndash; <%= proceeding_date proceeding.duration_events.first.date, format: :normal %>
              <%= t 'proceedings.until_day' %> &ndash; <%= proceeding_date proceeding.duration_events.last.date, format: :normal %>
            <% end %>
          <% end %>
        <% end %>
      </small>
    </h4>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
        <% proceeding.case_numbers.each do |number| %>
          <%= tooltip_tag number || '?', t('file_reference'), placement: :right %><br/>
        <% end %>
        <%= tooltip_tag proceeding.file_number || '?', t('court_file_id'), placement: :right %>
      </div>

      <%= t '.register' %>
      <%= translate_with_count(proceeding.hearings.size, :hearing) %> <%= t 'and' %>
      <%= translate_with_count(proceeding.decrees.size, :decree) %>.
      <br/>
      <% if proceeding.courts.any? %>
        <%= translate_without_count(proceeding.courts.size, :court).upcase_first %> &ndash; <%= links_to_courts proceeding.courts %>
        <br/>
      <% end %>
      <% if proceeding.judges.any? %>
        <% if proceeding.judges_exact.any? %>
          <%= translate_without_count(proceeding.judges_exact.size, :judge).upcase_first %>
          &ndash; <%= links_to_judges proceeding.judges_exact.order(:last, :middle, :first) %>
        <% else %>
          <%= translate_without_count(proceeding.judges_inexact.size, :judge).upcase_first %>
          &ndash; <%= judge_processed_names proceeding.judges_inexact.order(:last, :middle, :first) %>
        <% end %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>

    <% if highlight %>
      <% highlight[:text].each do |text|  %>
        <blockquote>
          <%= strip_and_highlight text %>
        </blockquote>
      <% end %>
    <% end %>
  </li>
<% end %>
