<%= search_list_tag results, offset: offset do |proceeding| %>
  <li>
    <h4>
      <%= link_to_proceeding proceeding, proceeding_headline(proceeding, limit: 67) %>
      <br/>
      <small>
        Verejné súdne konanie
        <% if proceeding.single_hearing? %>
          <%= proceeding.events.first.historical ? "začalo" : "začne" %>
          dňa &ndash; <%= proceeding_date proceeding.events.first.date %>
        <% elsif proceeding.single_decree?  %>
          bolo ukončené dňa &ndash; <%= proceeding_date proceeding.events.first.date %>
        <% else %>
          <% unless proceeding.probably_closed? %>
            trvá odo dňa &ndash; <%= proceeding_date proceeding.events.first.date %>
          <% else %>
            trvalo odo dňa &ndash; <%= proceeding_date proceeding.events.first.date, format: :normal %>
            do dňa &ndash; <%= proceeding_date proceeding.events.last.date, format: :normal %>
          <% end %>
        <% end %>
      </small>
    </h4>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
        <% proceeding.case_numbers.each do |number| %>
          <%= tooltip_tag number || '?', "Spisová značka", placement: :right %><br/>
        <% end %>
        <%= tooltip_tag proceeding.file_number || '?', "Identifikačné číslo súdnych spisov", placement: :right %>
      </div>

      <% if proceeding.courts.any? %>
        <%= translate_without_count(proceeding.courts.size, :court).upcase_first %> &ndash; <%= links_to_courts proceeding.courts %>
        <br/>
      <% end %>
      <% if proceeding.judges.any? %>
        <% if proceeding.judges_exact.any? %>
          <%= translate_without_count(proceeding.judges_exact.size, :judge).upcase_first %>
          &ndash; <%= links_to_judges proceeding.judges_exact %>
        <% else %>
          <%= translate_without_count(proceeding.judges_inexact.size, :judge).upcase_first %>
          &ndash; <%= judge_processed_names proceeding.judges_inexact %>
        <% end %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>
  </li>
<% end %>
