<% provide :title, proceeding_title(@proceeding) %>

<section id="proceeding-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= proceeding_headline @proceeding, limit: 45, tooltip: true %>
      <br/>
      <small>
        Súdne konanie
        <% if @proceeding.single_hearing? %>
          <%= @events.first.historical ? "začalo" : "začne" %>
          dňa &ndash; <%= proceeding_date @events.first.date %>
        <% elsif @proceeding.single_decree?  %>
          bolo ukončené dňa &ndash; <%= proceeding_date @events.first.date %>
        <% else %>
          <% unless @proceeding.probably_closed? %>
            trvá odo dňa &ndash; <%= proceeding_date @events.first.date %>
          <% else %>
            trvalo odo dňa &ndash; <%= proceeding_date @events.first.date, format: :normal %>
            do dňa &ndash; <%= proceeding_date @events.last.date, format: :normal %>
          <% end %>
        <% end %>
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <p>
        Pre súdne konanie <%= 'zatiaľ ' unless @proceeding.probably_closed? %>evidujeme
        <%= translate_with_count(@hearings.size, :hearing) %> a
        <%= translate_with_count(@decrees.size, :decree) %>.
      </p>
      <% if @courts.any? %>
        <p><%= translate_without_count(@courts.size, :court).upcase_first %> &ndash; <%= links_to_courts @courts %></p>
      <% end %>
      <% if @judges.any? %>
        <p><%= translate_without_count(@judges.size, :judge).upcase_first %> &ndash; <%= links_to_judges @judges %></p>
      <% end %>
    </div>
  </div>
</section>

<section id="proceeding-timeline" class="timeline">
  <div class="row">
    <div class="span12">
      <ol class="unstyled">
        <% @events.each do |event| %>
          <%= render event.class.name.downcase, event.class.name.downcase.to_sym => event %>
        <% end %>
      </ol>
    </div>
  </div>
</section>

<section id="proceeding-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o udalostiach súdneho konania boli získané z dokumentov zverejnených na portáli
        <%= external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::Request::JudgeList.url, class: :muted, icon: true %>
      </small>
    </div>
  </div>
</section>
