<% provide :title, proceeding_title(@proceeding) %>

<section id="proceeding-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= proceeding_headline @proceeding, limit: 50, tooltip: true %>
      <br/>
      <% if @proceeding.legislation_area_and_subarea.any? %>
        <%= proceeding_subject @proceeding, limit: 45, tooltip: true %>
        <br/>
      <% end %>
      <small>
        <%= t 'proceedings.public_hearing' %>
        <% if @proceeding.single_hearing? %>
          <%= @proceeding.duration_events.first.historical ? t('proceedings.started') : t('proceedings.will_start') %>
          <%= t 'proceedings.in_day' %> &ndash; <%= proceeding_date @proceeding.duration_events.first.date %>
        <% elsif @proceeding.single_decree?  %>
          <%= t 'proceedings.closed_at' %> &ndash; <%= proceeding_date @proceeding.duration_events.first.date %>
        <% else %>
          <% unless @proceeding.probably_closed? %>
            <%= t 'proceedings.takes_from' %> &ndash; <%= proceeding_date @proceeding.duration_events.first.date %>
          <% else %>
            <% if @proceeding.duration_events.first.date.to_date == @proceeding.duration_events.last.date.to_date %>
              <%= t 'proceedings.happende_at' %> &ndash; <%= proceeding_date @proceeding.duration_events.first.date, format: :normal %>
            <% else %>
              <%= t 'proceedings.took_from' %> &ndash; <%= proceeding_date @proceeding.duration_events.first.date, format: :normal %>
              <%= t 'proceedings.until_day' %> &ndash; <%= proceeding_date @proceeding.duration_events.last.date, format: :normal %>
            <% end %>
          <% end %>
        <% end %>
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="span8">
      <p>
        <%= t '.for_proceeding' %> <%= t('.so_far') unless @proceeding.probably_closed? %><%= t '.register' %>
        <%= translate_with_count(@hearings.size, :hearing) %> <%= t 'proceedings.and' %>
        <%= translate_with_count(@decrees.size, :decree) %>.
      </p>
      <% if @courts.any? %>
        <p><%= translate_without_count(@courts.size, :court).upcase_first %> &ndash; <%= links_to_courts @courts %></p>
      <% end %>
      <% if @judges.any? %>
        <p>
          <% if @proceeding.judges_exact.any? %>
            <%= translate_without_count(@proceeding.judges_exact.size, :judge).upcase_first %>
            &ndash; <%= links_to_judges @proceeding.judges_exact %>
          <% else %>
            <%= translate_without_count(@proceeding.judges_inexact.size, :judge).upcase_first %>
            &ndash; <%= judge_processed_names @proceeding.judges_inexact %>.
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="span4">
      <div class="well well-small">
        <% @proceeding.case_numbers.each do |number| %>
          <p>
            <%= tooltip_tag t('fr'), t('file_reference'), placement: :left %>:
            <span class="pull-right"><%= number ? link_to_proceedings_search(number, params: { case_number: number }) : t('.not_present') %></span>
          </p>
        <% end %>
        <p>
          <%= tooltip_tag t('cfi'), t('court_file_id'), placement: :left %>:
          <span class="pull-right"><%= @proceeding.file_number ? link_to_proceedings_search(@proceeding.file_number, params: { file_number: @proceeding.file_number }) : t('.not_present_2') %></span>
        </p>
        <% @proceeding.eclis.each do |ecli| %>
          <p>
            <%= tooltip_tag "ECLI", "European Case Law Identifier", placement: :left %>:
            <span class="pull-right"><%= ecli ? link_to_proceedings_search(ecli, params: { q: ecli }) : t('.not_present_3') %></span>
          </p>
        <% end %>
      </div>

      <%= render 'shared/social' %>
    </div>
  </div>
</section>

<section id="proceeding-timeline" class="timeline">
  <div class="row">
    <div class="span12">
      <p class="centered muted"><em><%= t '.present' %></em></p>
      <ol class="unstyled">
        <% ([@events.last] + @events.reverse).each_cons(2) do |previous, event| %>
          <%= render event.class.name.downcase, event.class.name.downcase.to_sym => event, previous: previous %>
        <% end %>
        <li class="timeline-unknown">
          <h4>
            <%= t '.pleading' %><br/>
            <small><%= t 'unknown_date' %></small>
          </h4>
        </li>
      </ol>
      <p class="centered muted"><em><%= t '.past' %></em></p>
    </div>
  </div>
</section>

<section id="proceeding-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.info_source' %>
        <%= external_link_to t('.ministry_of_justice'), JusticeGovSk::URL.base, class: :muted, icon: true %>
      </small>
    </div>
  </div>
</section>
