<% provide :title, title("IČS #{@proceeding.file_number}", "Súdne konanie") %>

<section id="proceeding-profile" class="profile">
  <div class="page-header">
    <h1>
      Súdne konanie s
      <%= tooltip_tag "IČS #{@proceeding.file_number}", "Identifikačné číslo súdnych spisov", placement: :right %>
      <br/>
      <small>
        Súdne konanie
        <% if @proceeding.single_hearing? %>
          <%= @events.first.historical ? "začalo" : "začne" %>
          dňa &ndash; <%= proceeding_date @events.first.date %>
        <% elsif @proceeding.single_decree?  %>
          bolo ukončené dňa &ndash; <%= proceeding_date @events.first.date %>
        <% else %>
          <% unless @proceeding.probably_closed? %>
            trvá odo dňa &ndash; <%= proceeding_date @events.first.date %>
          <% else %>
            trvalo odo dňa &ndash; <%= proceeding_date @events.first.date, format: :normal %>
            do dňa &ndash; <%= proceeding_date @events.last.date, format: :normal %>
          <% end %>
        <% end %>
      </small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span8">
      <p>
        Pre súdne konanie <%= 'zatiaľ ' unless @proceeding.probably_closed? %>evidujeme 
        <%= translate_with_count(@hearings.count, :hearing) %> a
        <%= translate_with_count(@decrees.count, :decree) %>.
      </p>
      <% if @courts.any? %>
        <p><%= translate_without_count(@courts.count, :court).upcase_first %> &ndash; <%= links_to_courts @courts %></p>
      <% end %>
      <% if @judges.any? %>
        <p><%= translate_without_count(@judges.count, :judge).upcase_first %> &ndash; <%= links_to_judges @judges %></p>
      <% end %>
      <% if @proposers.any? %>
        <p><%= translate_without_count(@proposers.count, :proposer).upcase_first %> &ndash; <%= @proposers.pluck(:name).join ', ' %></p>
      <% end %>
      <% if @opponents.any? %>
        <p><%= translate_without_count(@opponents.count, :opponent).upcase_first %> &ndash; <%= @opponents.pluck(:name).join ', ' %></p>
      <% end %>
      <% if @defendants.any? %>
        <p><%= translate_without_count(@defendants.count, :defendant).upcase_first %> &ndash; <%= @defendants.pluck(:name).join ', ' %></p>
      <% end %>
    </div>
  </div>
</section>

<section id="proceeding-timeline" class="timeline">
  <div class="row">
    <div class="span12">
      <ol class="unstyled">
        <% @events.each do |event| %>
          <%= render event.class.name.downcase, event.class.name.downcase.to_sym => event %>
        <% end %>
      </ol>
    </div>
  </div>
</section>

<section id="proceeding-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o udalostiach súdneho konania boli získané z dokumentov zverejnených na portáli
        <%= external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::Request::JudgeList.url, class: :muted %>
      </small>
    </div>
  </div>
</section>
