<% provide :title, "IČS #{@proceeding.file_number} &middot; Súdne konanie".html_safe %>

<section id="proceeding-profile" class="profile">
  <div class="page-header">
    <h1>
      Súdne konanie
      <%= tooltip_tag @proceeding.file_number, "Identifikačné číslo súdnych spisov", placement: :right %>
      <br/>
      <small>
        Súdne konanie
        <% if @proceeding.single_hearing? %>
          <%= @events.first.historical ? "začalo" : "začne" %>
          dňa &ndash; <%= proceeding_date @events.first.date %>
        <% elsif @proceeding.single_decree?  %>
          bolo ukončené dňa &ndash; <%= proceeding_date @events.first.date %>
        <% else %>
          <% unless @proceeding.probably_closed? %>
            trvá odo dňa &ndash; <%= proceeding_date @events.first.date %>
          <% else %>
            trvalo odo dňa &ndash; <%= proceeding_date @events.first.date, format: :normal %>
            do dňa &ndash; <%= proceeding_date @events.last.date, format: :normal %>
          <% end %>
        <% end %>
      </small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span8">
      
      
        <%= number_with_translation(@hearings.count, key: :hearing) %>
        <%= number_with_translation(@decrees.count, key: :decree) %>
      <!-- TODO -->
    </div>
  </div>
</section>

<section id="proceeding-timeline" class="timeline">
  <div class="row">
    <div class="span12">
      <% @events.each do |event| %>
        <%= render event.class.name.downcase, event.class.name.downcase.to_sym => event %>
      <% end %>
    </div>
  </div>
</section>

<section id="proceeding-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o udalostiach súdneho konania boli získané z dokumentov zverejnených na portáli
        <%= external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::Request::JudgeList.url, class: :muted %>
      </small>
    </div>
  </div>
</section>
