<% provide :title, proceeding_title(@proceeding) %>

<h1 class="text-uppercase mb-4">
  <%= proceeding_headline @proceeding, limit: 49, tooltip: true %><span class="d-inline d-xl-none">,</span>
  <% if @proceeding.legislation_area_and_subarea.any? %>
    <br class="d-none d-xl-inline"/><%= proceeding_subject @proceeding, limit: 49, tooltip: true %>
  <% end %>
  <small class="d-block h6 font-weight-bold mt-2 mb-0">
    <%= t '.proceeding' %>
    <% if @proceeding.single_hearing? %>
      <%= t @proceeding.duration_events.first.historical ? '.single_hearing.past' : '.single_hearing.future' %>
      <%= proceeding_date @proceeding.duration_events.first.date %>
    <% elsif @proceeding.single_decree? %>
      <%= t '.single_decree.past' %> <%= proceeding_date @proceeding.duration_events.first.date %>
    <% else %>
      <% unless @proceeding.probably_closed? %>
        <%= t '.probably_open.from' %> <%= proceeding_date @proceeding.duration_events.first.date %>
      <% else %>
        <% if @proceeding.duration_events.first.date.to_date == @proceeding.duration_events.last.date.to_date %>
          <%= t '.probably_closed.point' %> <%= proceeding_date @proceeding.duration_events.first.date, format: :normal %>
        <% else %>
          <%= t '.probably_closed.from' %> <%= proceeding_date @proceeding.duration_events.first.date, format: :normal %>
          <%= t '.probably_closed.until' %> <%= proceeding_date @proceeding.duration_events.last.date, format: :normal %>
        <% end %>
      <% end %>
    <% end %>
  </small>
</h1>

<div class="row">
  <div class="col-xl-8">
    <p>
      <%= t '.for_proceeding' %> <%= t '.so_far' unless @proceeding.probably_closed? %><%= t '.register' %>
      <%= translate_with_count @hearings.size, :hearing %> <%= two_words_connector %> <%= translate_with_count @decrees.size, :decree %>.
    </p>
    <% if @courts.any? %>
      <p><%= translate_without_count(@courts.size, :court).upcase_first %> &ndash; <%= links_to_courts @courts %></p>
    <% end %>
    <% if @judges.any? %>
      <p>
        <% if @proceeding.judges_exact.any? %>
          <%= translate_without_count(@proceeding.judges_exact.size, :judge).upcase_first %>
          &ndash; <%= links_to_judges @proceeding.judges_exact %>
        <% else %>
          <%= translate_without_count(@proceeding.judges_inexact.size, :judge).upcase_first %>
          &ndash; <%= judge_processed_names @proceeding.judges_inexact %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="col-xl-4">
    <ul class="list-unstyled bg-light border mb-3 p-3">
      <% @proceeding.case_numbers.each do |case_number| %>
        <li class="d-flex justify-content-between mx-2">
          <span><%= tooltip_tag t('case_number.acronym'), t('case_number.full'), placement: 'left' %>:</span>
          <%= case_number ? link_to_proceedings_search(case_number, params: { case_number: case_number }) : t('case_number.missing') %>
        </li>
      <% end %>
      <li class="d-flex justify-content-between mx-2">
        <span><%= tooltip_tag t('file_number.acronym'), t('file_number.full'), placement: 'left' %>:</span>
        <%= @proceeding.file_number ? link_to_proceedings_search(@proceeding.file_number, params: { file_number: @proceeding.file_number }) : t('file_number.missing') %>
      </li>
      <% @proceeding.eclis.each do |ecli| %>
        <li class="d-flex justify-content-between mx-2">
          <span><%= tooltip_tag t('ecli.acronym'), t('ecli.full'), placement: 'left' %>:</span>
          <%= ecli ? link_to_proceedings_search(ecli, params: { q: ecli }) : t('ecli.missing') %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<nav class="border-top mt-3">
  <p class="h3 font-weight-bold text-center text-uppercase mt-4 mb-3"><%= t '.timeline.present' %></p>
  <ol class="timeline mb-0 py-3">
    <% ([nil] + @events.reverse).each_cons(2) do |previous, event| %>
      <%= render "proceedings/timeline/#{event.class.name.downcase}", event.class.name.downcase.to_sym => event, previous: previous %>
    <% end %>
    <li class="timeline-item timeline-distance-unknown d-flex flex-column-reverse p-3">
      <span class="h5 font-weight-bold mb-0">
        <%= t '.timeline.pleading' %>
      </span>
      <small class="h6 font-weight-bold mb-2">
        <%= t '.timeline.unknown_date' %>
      </small>
    </li>
  </ol>
  <p class="h3 font-weight-bold text-center text-uppercase mt-3 mb-4"><%= t '.timeline.past' %></p>
</nav>

<p class="small text-muted mt-4 mb-0">
  <%= t '.resource_note.description', ministry: link_to(t('.resource_note.ministry'), JusticeGovSk::URL.base) %>
</p>
