<ol class="unstyled">
  <% decrees.each_with_index do |decree, i| %>
    <li>
      <h4>
        <%= link_to "Rozhodnutie #{decree.file_number}", decree_path(decree.id) %>
        <br/>
        <small>
          Rozhodnutie bolo vydané dňa &ndash;
          <%= decree_date decree.date %>
        </small>
      </h4>

      <div class="row">
        <div class="span6">
          <% if decree.court %>
            Súd &ndash; <%= link_to_court decree.court %>
          <% end %>
          <% if decree.judgements.any? || decree.partial_judgements.any? %>
            <br/>
            Sudcovia &ndash; <%= links_to_judges(decree.judgements.map { |j| j.judge }.concat(decree.partial_judgements.map { |j| j.judge_name })) %>
          <% end %>

<!-- TODO consider adding other attributes such as:

          <% if decree.form %>
            <br/>
            Forma úkonu &ndash; <%= decree.form.value %>.
          <% end %>

-->

        </div>

        <div class="span2">
          <span class="pull-right">
            <%= tooltip_tag decree.case_number, "Spisová značka", :right %>
          </span>
          <br/>
          <span class="pull-right">
            <%= tooltip_tag decree.file_number, "Identifikačné číslo súdneho spisu", :right %>
          </span>
        </div>
      </div>


      <% if @highlights && @highlights[i] && @highlights[i][:text] %>
      <blockquote>
        <%= sanitize(@highlights[i][:text].first, tags: %w(em)) %>
      </blockquote>
      
      
    <% end %>
    </li>
  <% end %>
</ol>
