<%= search_list_tag results, offset: offset do |decree, highlight| %>
  <li>
    <h4>
      <%= link_to decree_path(decree, nil, params: { q: params[:q] }), :'data-searchd-result' => "Decree ##{decree.id}" do %>
        <%= decree_headline decree, limit: 67 %>
        <% if decree.natures.any? %>
          <br/>
          <%= decree_natures decree, limit: 67 %>
        <% end %>
      <% end %>
      <br/>
      <small>
        <%= t '.made_on' %> &ndash;
        <%= decree.date ? decree_date(decree.date) : t('.unknown_date') %>
      </small>
    </h4>

    <% if decree.unprocessed? %>
      <div class="alert alert-error">
        <%= icon_tag :'warning-sign' %>
        <%= t '.incomplete' %>
      </div>
    <% elsif decree.has_future_date? %>
      <div class="alert alert-warning">
        <%= icon_tag :'warning-sign' %>
        <%= t '.error_in_data' %>
      </div>
    <% end %>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
        <%= tooltip_tag decree.case_number || '?', t('file_reference'), placement: :right %><br/>
        <%= tooltip_tag decree.file_number || '?', t('.file_number'), placement: :right %>
      </div>

      <% if decree.court %>
        <%= t '.court' %> &ndash; <%= link_to_court decree.court %>
        <br/>
      <% end %>
      <% if decree.judges.any? %>
        <% if decree.exact_judges.any? %>
          <%= translate_without_count(decree.exact_judges.size, :judge).upcase_first %>
          &ndash; <%= links_to_judges decree.exact_judges %>
        <% else %>
          <%= translate_without_count(decree.inexact_judgements.map(&:judge_name_unprocessed).uniq.size, :judge).upcase_first %>
          &ndash; <%= judge_processed_names decree.inexact_judgements %>
        <% end %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>

    <% if highlight %>
      <% highlight[:text].each do |text|  %>
        <blockquote>
          <%= strip_and_highlight text %>
        </blockquote>
      <% end %>
    <% end %>
  </li>
<% end %>
