<ol class="unstyled">
  <% decrees.each_with_index do |decree, i| %>
    <% highlight = @highlights[i] %>

    <li>
      <h4>
        <%= link_to_decree decree, "Rozhodnutie #{decree.file_number}", params: { q: @query ? @query[:q] : nil } %>
        <br/>
        <small>
          Rozhodnutie bolo vydané dňa &ndash;
          <%= decree_date decree.date %>
        </small>
      </h4>

      <div class="row">
        <div class="span6">
          <% if decree.court %>
            Súd &ndash; <%= link_to_court decree.court %>
          <% end %>
          <% if decree.judgements.any? %>
            <br/>
            Sudcovia &ndash; <%= links_to_judges decree.judgements.map(&:judge) %>
          <% end %>

<!-- TODO consider adding other attributes such as:

          <% if decree.form %>
            <br/>
            Forma úkonu &ndash; <%= decree.form.value %>.
          <% end %>

-->

        </div>

        <div class="span2">
          <span class="pull-right">
            <%= tooltip_tag decree.case_number, "Spisová značka", placement: :right %>
          </span>
          <br/>
          <span class="pull-right">
            <%= tooltip_tag decree.file_number, "Identifikačné číslo súdneho spisu", placement: :right %>
          </span>
        </div>
      </div>

      <% if highlight && highlight[:text] %>
        <% highlight[:text].each do |text|  %>
          <blockquote>
            <%= strip_and_highlight text %>
          </blockquote>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ol>
