<%= search_list_tag results, offset: offset do |decree, highlight| %>
  <li>
    <h4>
      <%= link_to decree_path(decree, nil, params: { q: params[:q] }), :'data-searchd-result' => "Decree ##{decree.id}" do %>
        <%= decree_headline decree, limit: 67 %>
        <% if decree.natures.any? %>
          <br/>
          <%= decree_natures decree, limit: 67 %>
        <% end %>
      <% end %>
      <br/>
      <small>
        Rozhodnutie bolo vynesené dňa &ndash;
        <%= decree.date ? decree_date(decree.date) : "neznámy dátum" %>
      </small>
    </h4>

    <% if decree.unprocessed? %>
      <div class="alert alert-error">
        <%= icon_tag :'warning-sign' %>
        Rozhodnutie je neúplné, pri jeho spracovaní nastala neznáma chyba.
      </div>
    <% elsif decree.has_future_date? %>
      <div class="alert alert-warning">
        <%= icon_tag :'warning-sign' %>
        Rozhodnutie má budúci dátum vynesenia, ide o chybu v pôvodných dátach.
      </div>
    <% end %>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
        <%= tooltip_tag decree.case_number || '?', "Spisová značka", placement: :right %><br/>
        <%= tooltip_tag decree.file_number || '?', "Identifikačné číslo súdneho spisu", placement: :right %>
      </div>

      <% if decree.court %>
        Súd &ndash; <%= link_to_court decree.court %>
        <br/>
      <% end %>
      <% if decree.judges.any? %>
        <% if decree.judges.exact.any? %>
          <%= translate_without_count(decree.judges.exact.size, :judge).upcase_first %>
          &ndash; <%= links_to_judges decree.judges.exact %>
        <% else %>
          <%= translate_without_count(decree.judges.inexact.group(:judge_name_unprocessed).count.size, :judge).upcase_first %>
          &ndash; <%= judge_processed_names decree.judges.inexact %>
        <% end %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>

    <% if highlight %>
      <% highlight[:text].each do |text|  %>
        <blockquote>
          <%= strip_and_highlight text %>
        </blockquote>
      <% end %>
    <% end %>
  </li>
<% end %>
