<% provide :title, "Rozhodnutia" %>

<% render 'search/initialization.js', type: Decree %>

<section id="search-view">
  <div class="row">
    <div class="span6">
      <div data-id='q' class="input-append">
        <%= facet_input class: :'input-xlarge', placeholder: 'Vyhľadávanie v rozhodnutiach' %>
        <button type="button" class="btn" /><%= icon_tag 'search' %></button>
      </div>
    </div>

    <div class="span6">
      <div class="pull-right">
        Zoradiť podľa

        <select id="sort">
          <option value="_score">Relevancia</option>
          <option value="date">Dátum</option>
        </select>

        <div id="order" class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn" data-order="desc"><%= icon_tag :'angle-down' %></button>
          <button type="button" class="btn" data-order="asc"><%= icon_tag :'angle-up' %></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="search-panel" class="span4">
      <%= render 'facets/facets', type: Decree %> <!-- TODO try @model -->
    </div>

    <div class="span8">
      <div class="row">
        <div id="search-info" class="span8"></div>
      </div>

      <div class="row">
        <div id="search-results" class="span8"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="search-pagination" class="span12"></div>
  </div>
</section>
