<% provide :title, "Rozhodnutia" %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        window.app = new OpenCourts.Search.App({ type: 'decree' })
        window.app.start()
    })
  </script>
<% end %>

<section id="search-view">
  <div id="fulltext" class="input-append">
    <%= facet_input class: 'input-xlarge', placeholder: 'Vyhľadávanie v rozhodnutiach' %>
    <button class='btn' type="button"><%= icon_tag 'search' %></button>
  </div>

  <div class="row">
    <div id="search-panel" class="span4">
      <div class="facet">
        <%= facet_title 'Sudcovia' %>
        <%= facet_input id: 'judges', placeholder: 'Meno sudcu' %>
        <%= facet_list id: 'judges' %>
      </div>

      <div class="facet">
        <%= facet_title 'Súdy' %>
        <%= facet_input id: :court, placeholder: 'Názov súdu' %>
        <%= facet_list id: :court %>
      </div>

      <div class="facet">
        <%= facet_title 'Dátum' %>
        <%= facet_list id: :date %>
      </div>
    </div>

    <div class="span8">
      <div class="row">
        <div id="search-info" class="span8"></div>
      </div>

      <div class="row">
        <div id="search-results" class="span8"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="search-pagination" class="span12"></div>
  </div>
</section>
