<% provide :title, decree_title(@decree) %>

<% render 'document_viewer_initialization.js', decree: @decree %>

<section id="decree-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= decree_headline @decree, limit: 47, tooltip: true %>
      <% if @decree.natures.any? %>
        <br/>
        <%= decree_natures @decree, limit: 47, tooltip: true %>
      <% end %>
      <br/>
      <small>
        Rozhodnutie bolo vynesené dňa &ndash;
        <%= decree_date @decree.date %>
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="span8">
      <% if @court %>
        <p>Rozhodnuté bolo na súde <%= link_to_court @court %></p>
      <% end %>
      <% if @judges.any? %>
        <p>Rozhodutie vydal sudca <%= links_to_judges @judges %></p>
      <% end %>
      <% if @decree.legislation_area %>
        <p>
          Oblasti právnej úpravy &ndash; <%= link_to_decrees_search @decree.legislation_area.value, params: { legislation_area: @decree.legislation_area.value } %>
          <% if @decree.legislation_subarea %>
            &ndash; <%= link_to_decrees_search @decree.legislation_subarea.value, params: { legislation_area: @decree.legislation_area.value, legislation_subarea: @decree.legislation_subarea.value } %>
          <% end %>
        </p>
      <% end %>
      <% if @decree.form %>
        <p>Forma rozhodnutia &ndash; <%= link_to_decrees_search @decree.form.value, params: { form: @decree.form.value } %></p>
      <% end %>
      <% if @decree.natures.any? %>
        <p>Povaha rozhodnutia &ndash; <%= @decree.natures.map { |nature| link_to_decrees_search(nature.value, params: { natures: nature.value }) }.join(', ').html_safe %></p>
      <% end %>
      <% if @legislations.any? %>
        <p>Predpisy odkazované v rozhodnutí:</p>
        <ul>
          <% @legislations.each do |legislation| %>
            <li><%= external_link_to_legislation legislation %></li>
          <% end %>
        </ul>
      <% end %>

      <p><%= external_link_to 'Pôvodný dokument', @decree.uri %> (odkaz už <%= tooltip_tag 'nemusí', 'Viď poznámku na konci tohto dokumentu' %> byť platný)</p>

      <% if File.readable? @decree.document_path %>
        <p>Stiahnuť ako <%= link_to_decree_document @decree, icon_tag(:'download-alt', label: 'PDF dokument', join: :append), class: :icon %></p>
      <% end %>
    </div>

    <div class="span4">
      <div class="well well-small">
        <p>
          <%= tooltip_tag "ECLI", "European Case Law Identifier", placement: :left %>:
          <span class="pull-right"><%= @decree.ecli %></span>
        </p>
        <p>
          <%= tooltip_tag "SZ", "Spisová značka", placement: :left %>:
          <span class="pull-right"><%= @decree.case_number %></span>
        </p>
        <p>
          <%= tooltip_tag "IČS", "Identifikačné číslo súdneho spisu", placement: :left %>:
          <span class="pull-right"><%= @decree.file_number %></span>
        </p>
      </div>
      
      <% if @decree.proceeding %>
        <div class="centered">
          Zobraziť v rámci <%= icon_link_to :paste, "súdneho konania", @decree.proceeding, join: :append %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="decree-document">
  <div class="row">
    <div class="span12">
      <div class="document"></div>
    </div>
  </div>
</section>

<section id="decree-resource">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o súdnom rozhodnutí boli získané z <%= external_link_to 'dokumentu', @decree.uri, class: :muted %>,
        ktorého posledná aktualizácia bola vykonaná <%= time_tag @decree.updated_at.to_date, format: :default %>.
        <br/>
        Odkaz na <%= external_link_to 'pôvodný dokument', @decree.uri, class: :muted %> už nemusí byť platný,
        pretože portál Ministerstva spravodlivosti mohol zverejniť dokument pod týmto odkazom iba na určitú dobu.
        <% if File.readable? @decree.resource_path %>
          <br/>
          Z toho dôvodu poskytujeme odkaz na pôvodný <%= link_to_decree_resource @decree, icon_tag(:'file-alt', label: 'spracovaný dokument', join: :append), class: :icon %> v surovej forme.
        <% end %>
      </small>
    </div>
  </div>
</section>
