<% provide :title, decree_title(@decree) %>

<h1 class="m-t-3 m-b-1">
  <%= decree_headline @decree, limit: 45, tooltip: true %>
  <% if @decree.natures.any? %>
    <br/>
    <%= decree_natures @decree, limit: 45, tooltip: true %>
  <% end %>
  <small class="d-block text-muted">
    <%= t '.decree' %> <%= t '.past' %>
    <%= @decree.date ? decree_date(@decree.date) : t('.unknown') %>
  </small>
</h1>

<div class="row">
  <div class="col-lg-8">
    <% if @court %>
      <p>
        <%= t '.court' %> <%= link_to_court @court %>
      </p>
    <% end %>
    <% if @judges.any? %>
      <p>
        <%= t '.judge' %>
        <% if @judges.exact.any? %>
          <%= links_to_judges @judges.exact %>
        <% else %>
          <%= judge_processed_names @judges.inexact %>
        <% end %>
      </p>
    <% end %>
    <% if @decree.legislation_area %>
      <p>
        <%= t '.legislation_area' %> &ndash; <%= link_to_decrees_search @decree.legislation_area.value, params: { legislation_area: @decree.legislation_area.value } %>
        <% if @decree.legislation_subarea %>
          &ndash; <%= link_to_decrees_search @decree.legislation_subarea.value, params: { legislation_area: @decree.legislation_area.value, legislation_subarea: @decree.legislation_subarea.value } %>
        <% end %>
      </p>
    <% end %>
    <% if @decree.form %>
      <p><%= t '.form' %> &ndash; <%= link_to_decrees_search @decree.form.value, params: { form: @decree.form.value } %></p>
    <% end %>
    <% if @decree.natures.any? %>
      <p><%= t '.nature' %> &ndash; <%= @decree.natures.map { |nature| link_to_decrees_search nature.value, params: { natures: nature.value } }.join(', ').html_safe %></p>
    <% end %>

    <p class="m-b-0">
      <%= t '.resource' %> &ndash; <%= link_to t('.document'), @decree.uri %> <span class="text-muted">(<%= t '.document_note' %>)</span>
    </p>

    <div class="hidden-lg-up m-b-3"></div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-block">
        <ul class="list-unstyled m-b-0">
          <li>
            <%= tooltip_tag t('case_number.acronym'), t('case_number.full'), placement: 'left' %>:
            <span class="pull-xs-right"><%= @decree.case_number ? link_to_decrees_search(@decree.case_number, params: { case_number: @decree.case_number }) : t('case_number.missing') %></span>
          </li>
          <li>
            <%= tooltip_tag t('file_number.acronym'), t('file_number.full'), placement: 'left' %>:
            <span class="pull-xs-right"><%= @decree.file_number ? link_to_decrees_search(@decree.file_number, params: { file_number: @decree.file_number }) : t('file_number.missing') %></span>
          </li>
          <li>
            <%= tooltip_tag t('ecli.acronym'), t('ecli.full'), placement: 'left' %>:
            <span class="pull-xs-right"><%= @decree.ecli ? link_to_decrees_search(@decree.ecli, params: { q: @decree.ecli }) : t('ecli.missing') %></span>
          </li>
        </ul>
      </div>
    </div>

    <% if @decree.proceeding %>
      <div class="text-lg-center">
        <%= t '.show_within' %> <%= link_to t('.proceeding'), @decree.proceeding %>
      </div>
    <% end %>

    <% if File.readable? @decree.document_path %>
      <div class="text-lg-center">
        <%= t '.download_as' %> <%= link_to t('.pdf_document'), document_decree_path(@decree, l: nil) %>
      </div>
    <% end %>
  </div>
</div>

<% if @legislations.any? %>
  <p class="m-t-1 m-b-0"><%= t '.legislations' %>:</p>

  <ul class="list-unstyled m-b-0">
    <% @legislations.each do |legislation| %>
      <li>
        <%= link_to legislation.value('%t %u/%y %n ยง %p %d %s %l'), legislation.external_url %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @decree.summary %>
  <p><%= t '.summary' %> &ndash; <%= @decree.summary %></p>
<% end %>

<%= content_tag :iframe, nil, src: "https://docs.google.com/viewer?url=#{document_decree_url @decree, l: nil}&embedded=true", frameborder: '0', class: 'viewer m-t-3' %>

<p class="text-small text-muted m-t-3">
  <%= s t '.resource_note.description', document: link_to(t('.resource_note.document'), @decree.uri), update: time_tag(@decree.updated_at.to_date, format: :default) %>
  <%= s t '.link_note.description', document: link_to(t('.link_note.document'), @decree.uri) %>
</p>
