<div class="comment-box comment-top group">
  <div class="avatar">
    <img width="60" height="60" src="<%= avatar_url %>" alt="<%= user_name %>">
  </div>
  <div class="comment">
    <p class="date"><%= user_name %>, <%= DV.DateFormat.format(created_at) %></p>
    <div class="text">
        <p><%= moderated_comment %></p>
    </div>
  </div>

  <div class="group"></div>

  <% _(replies).each(function(reply) { %>
    <div class="comment-box comment-top group">
      <div class="avatar">
        <img width="60" height="60" src="<%= reply.get("avatar_url") %>" alt="<%= reply.get("user_name") %>">
      </div>
      <div class="comment">
        <p class="date"><%= reply.get("user_name") %>, <%= DV.DateFormat.format(reply.get("created_at")) %></p>
        <div class="text">
            <p><%= reply.get("moderated_comment") %></p>
        </div>
      </div>
    </div>
  <% }); %>
</div>
