<%= search_list_tag results, offset: offset do |hearing| %>
  <li>
    <h4>
      <%= link_to_hearing hearing, hearing_headline(hearing, limit: 67) %>
      <small>
        <%= t '.hearing' %> <%= hearing.historical ? t('hearings.supposed_to_happen') : t('hearings.will_happen') %> <%= t 'on_day' %> &ndash;
        <%= hearing.date ? hearing_date(hearing.date) : t('unknown_date') %>
      </small>
    </h4>

    <% if hearing.unprocessed? %>
      <div class="alert alert-error">
        <%= t '.processing_error' %>
      </div>
    <% elsif hearing.has_future_date? %>
      <div class="alert alert-warning">
        <%= t '.data_error' %>
      </div>
    <% end %>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
          <%= tooltip_tag hearing.case_number || '?', t('file_reference'), placement: :right %><br/>
          <%= tooltip_tag hearing.file_number || '?', t('court_file_id'), placement: :right %>
      </div>

      <% if hearing.court %>
        <%= t '.court' %> &ndash; <%= link_to_court hearing.court %>
        <br/>
      <% end %>
      <% if hearing.judges.any? %>
        <% if hearing.exact_judges.any? %>
          <%= translate_without_count(hearing.exact_judges.size, :judge).upcase_first %>
          &ndash; <%= links_to_judges hearing.exact_judges %>
        <% else %>
          <%= translate_without_count(hearing.inexact_judgings.map(&:judge_name_unprocessed).uniq.size, :judge).upcase_first %>
          &ndash; <%= judge_processed_names hearing.inexact_judgings %>
        <% end %>
        <br/>
      <% end %>
      <% if hearing.proposers.any? %>
        <%= translate_without_count(hearing.proposers.size, :proposer).upcase_first %> &ndash; <%= hearing.proposers.map(&:name).to_sentence %>
        <br/>
      <% end %>
      <% if hearing.opponents.any? %>
        <%= translate_without_count(hearing.opponents.size, :opponent).upcase_first %> &ndash; <%= hearing.opponents.map(&:name).to_sentence %>
        <br/>
      <% end %>
      <% if hearing.defendants.any? %>
        <%= translate_without_count(hearing.defendants.size, :defendant).upcase_first %> &ndash; <%= hearing.defendants.map(&:name).to_sentence %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>
  </li>
<% end %>
