<%= table_tag class: 'table' do %>
  <thead>
    <tr>
      <%= table_header_tag tooltip_tag(t('.activity'), t('.activity_help')), class: 'text-center', sorter: false %>
      <%= table_header_tag t('.title'), class: 'w-20', sorter: 'text' %>
      <%= table_header_tag t('.name'), class: 'w-60', sorter: 'text' %>
      <%= table_header_tag t('.position'), class: 'w-40', sorter: 'text' %>
      <%= table_header_tag tooltip_tag(t('.hearings'), t('.hearings_help')), sorter: 'digit' %>
      <%= table_header_tag tooltip_tag(t('.decrees'), t('.decrees_help')), sorter: 'digit' %>
    </tr>
  </thead>
  <tbody>
    <% judges.each do |judge| %>
      <tr>
        <td class="text-center">
          <%= judge_activity_icon_tag judge, judge.active_at?(court) %>
        </td>
        <td>
          <%= judge_title judge, mute_by_activity_at: court %>
        </td>
        <td data-value="<%= judge.name '%l %m %f, %a' %>">
          <%= link_to_judge judge, mute_by_activity_at: court, format: '%f %m %l, %a' %>
        </td>
        <td>
          <% judge.employments.at_court(court).each do |employment| %>
            <p><%= judge_position_by_employment employment, mute_by_activity_on: employment %></p>
          <% end %>
        </td>
        <td class="text-right" data-value="<%= judge.hearings.exact.size %>">
          <% judge.employments.at_court(court).each do |employment| %>
            <p><%= judge_hearings_count_by_employment employment, mute_by_activity_on: employment %></p>
          <% end %>
        </td>
        <td class="text-right" data-value="<%= judge.decrees.exact.size %>">
          <% judge.employments.at_court(court).each do |employment| %>
            <p><%= judge_decrees_count_by_employment employment, mute_by_activity_on: employment %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
