<% provide :title, selection_procedure_title(@procedure) %>

<section id="selection-procedure-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= selection_procedure_headline @procedure, limit: 45, tooltip: true %>
      <br/>
      <small>
        <%= t '.selection_procedure' %> <%= @procedure.closed_at.future? ? t('.will_close') : t('.was_closed')  %> <%= t 'on_day' %>
        <%= time_tag @procedure.closed_at.to_date, format: :long %>
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <p>Stav &ndash; <%= @procedure.state %></p>
      <% if @procedure.position %>
        <p><%= t '.position' %> &ndash; <%= @procedure.position %></p>
      <% end %>
      <p>
        <%= t '.organization' %> &ndash; <%= @procedure.court ? link_to_court(@procedure.court) : @procedure.organization_name %>
        <% if @procedure.organization_description %>
          &ndash; <%= @procedure.organization_description %>
        <% end %>
      </p>
      <% if @procedure.workplace %>
        <p><%= t '.workplace' %> &ndash; <%= @procedure.workplace %></p>
      <% end %>
      <% if @procedure.place %>
        <p><%= t '.place' %> &ndash; <%= @procedure.place %></p>
      <% end %>
      <% if @procedure.date %>
        <p><%= t '.date' %> &ndash; <%= time_tag @procedure.date.to_date, format: :long %></p>
      <% end %>

      <p><%= external_link_to t('.original_document'), @procedure.uri, icon: true %> (<%= t '.link' %> <%= tooltip_tag t('.may_not'), t('.see_note') %> <%= t '.be_valid' %>)</p>

      <% if File.readable? @procedure.declaration_path %>
        <p><%= external_link_to icon_tag(:'download-alt', label: t('.announcement'), join: :append), declaration_selection_procedure_path(@procedure), class: :icon %></p>
      <% end %>
      <% if File.readable? @procedure.report_path %>
        <p><%= external_link_to icon_tag(:'download-alt', label: t('.report'), join: :append), report_selection_procedure_path(@procedure), class: :icon %></p>
      <% end %>

      <% if @procedure.description %>
        <hr/>
        <p class="justified"><%= @procedure.description %></p>
      <% end %>
    </div>
  </div>
</section>

<% if @commissioners.any? %>
  <section id="selectoin-procedure-commissioners">
    <h2><%= t '.selection_comittee' %></h2>

    <div class="row">
      <div class="span12">
        <%= @commissioners.map { |person| person.judge ? link_to_judge(person.judge) : person.name }.to_sentence.html_safe %>
      </div>
    </div>
  </section>
<% end %>

<% if @candidates.any? %>
  <section id="selectoin-procedure-candidates">
    <h2><%= t '.candidates' %></h2>

    <div class="row">
      <div class="span12">
        <%= sortable_table_tag class: 'table table-striped' do %>
          <thead>
            <tr>
              <th class="span3"><%= t '.name' %></th>
              <th class="span2" data-sorter="digit"><%= t '.written_part' %></th>
              <th class="span2" data-sorter="digit"><%= t '.oral_part' %></th>
              <th class="span1" data-sorter="digit"><%= t '.result' %></th>
              <th class="span4" colspan="3" data-sorter="false"><%= t '.documents' %></th>
            </tr>
          </thead>
          <tbody>
            <% @candidates.each do |candidate| %>
              <tr>
                <td data-value="<%= candidate.judge ? candidate.judge.last : candidate.name.match(/\s(([^\s]|\,\s)*)\z/)[1] %>">
                  <%= candidate.judge ? link_to_judge(candidate.judge) : candidate.name %>
                </td>
                <td class="number" data-value="<%= candidate.written_score %>">
                  <%= tooltip_tag candidate.written_score, candidate.written_result, placement: :top if candidate.written_score %>
                </td>
                <td class="number" data-value="<%= candidate.oral_score %>">
                  <%= tooltip_tag candidate.oral_score, candidate.oral_result, placement: :top if candidate.oral_score %>
                </td>
                <td class="number" data-value="<%= candidate.rank %>">
                  <% if candidate.rank %>
                    <%= candidate.rank %>.
                  <% end %>
                  <% if candidate.score %>
                    <span class="muted">(<%= candidate.score %>)</span>
                  <% end %>
                </td>
                <td>
                  <%= external_link_to t('.resume'), curriculum_selection_procedure_candidate_path(@procedure, candidate) %>
                </td>
                <td>
                  <%= external_link_to t('.motivation_letter'), motivation_letter_selection_procedure_candidate_path(@procedure, candidate) %>
                </td>
                <td>
                  <%= external_link_to t('.statement'), declaration_selection_procedure_candidate_path(@procedure, candidate) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<section id="selection-procedure-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.information_source_1' %> <%= external_link_to t('.document'), @procedure.uri, class: :muted, icon: true %>,
        <%= t '.information_source_2' %> <%= time_tag @procedure.updated_at.to_date, format: :default %>.
        <br/>
        <%= t '.link_validity_1' %> <%= external_link_to t('.original_document'), @procedure.uri, class: :muted, icon: true %> <%= t '.link_validity_2' %>
      </small>
    </div>
  </div>
</section>
