<% provide :title, selection_procedure_title(@procedure) %>

<h1 class="text-uppercase my-4">
  <%= selection_procedure_headline @procedure, limit: 49, tooltip: true %>
  <small class="d-block h6 font-weight-bold mt-2 mb-0">
    <%= t '.selection_procedure' %> <%= t @procedure.closed_at.future? ? '.future' : '.past' %>
    <%= time_tag @procedure.closed_at.to_date, format: :long %>
  </small>
</h1>

<p><%= t '.state' %> &ndash; <%= @procedure.state %></p>
<% if @procedure.position %>
  <p><%= t '.position' %> &ndash; <%= @procedure.position %></p>
<% end %>
<p>
  <%= t '.organization' %> &ndash; <%= @procedure.court ? link_to_court(@procedure.court) : @procedure.organization_name %>
  <% if @procedure.organization_description && @procedure.organization_description != (@procedure.court ? @procedure.court.name : @procedure.organization_name) %>
    &ndash; <%= @procedure.organization_description %>
  <% end %>
</p>
<% if @procedure.workplace %>
  <p><%= t '.workplace' %> &ndash; <%= @procedure.workplace %></p>
<% end %>
<% if @procedure.place %>
  <p><%= t '.place' %> &ndash; <%= @procedure.place %></p>
<% end %>
<% if @procedure.date %>
  <p><%= t '.date' %> &ndash; <%= time_tag @procedure.date.to_date, format: :long %></p>
<% end %>

<p>
  <%= t '.resource' %> &ndash; <%= link_to t('.document'), @procedure.uri %> <span class="text-muted">(<%= t '.document_note' %>)</span>
</p>

<% if File.readable?(@procedure.declaration_path) || File.readable?(@procedure.report_path) %>
  <p>
    <%= t '.attached_documents' %> &ndash;
    <% if File.readable? @procedure.declaration_path %>
      <%= link_to t('.declaration'), declaration_selection_path(@procedure) %>
    <% end %>
    <% if File.readable? @procedure.report_path %>
      <%= two_words_connector if File.readable? @procedure.declaration_path %>
      <%= link_to t('.report'), report_selection_path(@procedure) %>
    <% end %>
  </p>
<% end %>

<% if @procedure.description %>
  <p class="border-top pt-3">xs<%= @procedure.description %></p>
<% end %>

<% if @commissioners.any? %>
  <h2 class="h4 text-uppercase mt-4"><%= t '.commissioners' %></h2>

  <p>
    <%= @commissioners.map { |person| person.judge ? link_to_judge(person.judge) : person.name }.to_sentence.html_safe %>
  </p>
<% end %>

<% if @candidates.any? %>
  <h2 class="h4 text-uppercase mt-4"><%= t '.candidates' %></h2>

  <%= table_tag class: 'table' do %>
    <thead>
      <tr>
        <%= table_header_tag t('.name'), class: 'w-50', sorter: 'text' %>
        <%= table_header_tag t('.written_part'), sorter: 'digit' %>
        <%= table_header_tag t('.oral_part'), sorter: 'digit' %>
        <%= table_header_tag t('.rank'), sorter: 'digit' %>
        <%= table_header_tag t('.documents'), sorter: false %>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do |candidate| %>
        <tr>
          <td data-value="<%= candidate.judge ? candidate.judge.last : candidate.name.match(/\s(([^\s]|\,\s)*)\z/)[1] %>">
            <%= candidate.judge ? link_to_judge(candidate.judge) : candidate.name %>
          </td>
          <td class="text-right" data-value="<%= candidate.written_score %>">
            <%= tooltip_tag candidate.written_score, candidate.written_result, placement: 'right' if candidate.written_score %>
          </td>
          <td class="text-right" data-value="<%= candidate.oral_score %>">
            <%= tooltip_tag candidate.oral_score, candidate.oral_result, placement: 'right' if candidate.oral_score %>
          </td>
          <td class="text-right" data-value="<%= candidate.rank %>">
            <%= tooltip_tag "#{candidate.rank}.", candidate.score, placement: 'right' if candidate.rank %>
          </td>
          <td>
            <%= link_to t('.statement'), declaration_selection_candidate_path(@procedure, candidate) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
<% end %>

<p class="small text-muted mt-4 mb-0">
  <%= s t '.resource_note.description', document: link_to(t('.resource_note.document'), @procedure.uri), update: time_tag(@procedure.updated_at.to_date, format: :default) %>
  <%= s t '.link_note.description', document: link_to(t('.link_note.document'), @procedure.uri) %>
</p>
