<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h4>Otvorené Súdy <%= icon_tag :legal %></h4>
        <nav class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li><%= link_to "O projekte", static_page_path(:about) %></li>
            <li><%= link_to "Často kladené otázky", static_page_path(:faq) %></li>
            <li><%= external_link_to "Podporte projekt", 'http://transparency.darujme.sk/238/', icon: false %></li>
            <li><%= link_to "Kontakt", static_page_path(:contact) %></li>
          </ul>
        </nav>
      </div>

      <div class="span3">
        <h4>Prehlásenia <%= icon_tag :'file-text-alt' %></h4>
        <nav class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li><%= link_to "Podmienky používania", static_page_path(:'terms-of-use') %></li>
            <li><%= link_to "Ochrana súkromia", static_page_path(:privacy) %></li>
            <li><%= link_to "Autorské práva", static_page_path(:copyright) %></li>
          </ul>
        </nav>
      </div>

      <div class="span3">
        <h4>Transparentnosť <%= icon_tag :ok %></h4>
        <nav class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li><%= link_to "Našli ste chybu?", static_page_path(:feedback) %></li>
            <li><%= external_link_to "Zdrojové kódy", 'https://github.com/otvorenesudy', icon: false %></li>
            <li><%= link_to "Bezpečnosť", static_page_path(:security) %></li>
          </ul>
        </nav>
      </div>

      <div class="span3">
        <h4>Dáta <%= icon_tag :hdd %></h4>
        <nav class="nav-collapse collapse">
          <ul class="nav pull-left">
            <li><%= link_to "Ako to funguje?", static_page_path(:'how-it-works') %></li>
            <li><%= link_to "História dát", static_page_path(:'data-history') %></li>
            <li><%= link_to "API", static_page_path(:api) %></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="note muted">
          Projekt využíva výhradne dáta verejných inštitúcií. Za ich vecnú správnosť autori nenesú zodpovednosť.
          <br/>
          Projekt vznikol za podpory <%= external_link_to "Transparency International", 'http://transparency.org', icon: false %>
          v Berlíne a projektu <%= external_link_to "Reštart", 'http://restartslovensko.sk/', icon: false %>
          <%= external_link_to "Centra pre filantropiu", 'http://cpf.sk', icon: false %>.
        </div>
        <div class="note muted">
          Copyright <%= external_link_to "Samuel Molnár", 'https://twitter.com/samuelmolnar', icon: false %>
          a <%= external_link_to "Pavol Zbell", 'https://twitter.com/pavolzbell', icon: false %> v&nbsp;spolupráci
          s <%= external_link_to "Transparency International Slovensko", 'http://transparency.sk', icon: false %>
          &copy; 2013
        </div>
      </div>
    </div>
  </div>
</footer>
