<footer>
  <div class="container">
    <nav class="nav nav-inline">
      <%= link_to t('.about'), static_page_path('about'), class: 'nav-link' %>
      <%= link_to t('.faq'), static_page_path('faq'), class: 'nav-link' %>
      <%= link_to t('.feedback'), static_page_path('feedback'), class: 'nav-link' %>
      <%= link_to t('.tos'), static_page_path('tos'), class: 'nav-link' %>
      <%= link_to t('.contact'), static_page_path('contact'), class: 'nav-link' %>
    </nav>

    <div class="disclaimer text-small">
      <%= t '.disclaimer.resources' %>
      <br class="hidden-lg-up" />
      <%= t '.disclaimer.correctness' %>
    </div>

    <nav class="nav nav-inline text-small">
      <%= link_to 'Transparency International Slovensko', 'http://transparency.sk', class: 'nav-link' %>
      <%= link_to 'Copyright 2013-2016', static_page_path('copyright'), class: 'nav-link' %>
      <%= link_to Configuration.github.organization, organization_url, class: 'nav-link hidden-md-down' %>
      <%= link_to OpenCourts::VERSION::STRING, repository_url("releases/tag/v#{OpenCourts::VERSION::STRING}"), class: 'nav-link hidden-md-down' %>
    </nav>
  </div>
</footer>
