<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav class="nav-collapse collapse">
        <ul class="nav pull-left">
          <%= navbar_logo_tag "Otvorené Súdy" %>
          <li class="divider-vertical"></li>
          <%= navbar_li_tag :building, "Súdy", courts_path %>
          <%= navbar_li_tag :user, "Sudcovia", judges_path %>
          <%= navbar_li_tag :comments, "Pojednávania", search_hearings_path %>
          <%= navbar_li_tag :legal, "Rozhodnutia", search_decrees_path %>
        </ul>
        <ul class="nav pull-right">
          <%= navbar_li_tag :signal, 'Štatistiky', stats_path %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="search">
  <div class="container">
    <div class="row">
      <div class="offset4 span4">
        <%= form_tag nil, method: :get, class: :'form-search' do %>
          <div class="input-append">
            <%= search_field_tag :search, params[:search], class: :'search-query' %>
            <%= button_tag icon_tag(:search), name: nil, class: :btn %>
          </div>
        <% end %>
      </div>
      <div class="span4">
        <%= link_to "Rozšírené vyhľadávanie", search_decrees_path %>
      </div>
    </div>
  </div>
</div>

<%= yield :header %>
