<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav class="nav-collapse collapse">
        <ul class="nav pull-left">
          <%= navbar_logo_tag "Otvorené Súdy" %>
          <li class="divider-vertical"></li>
          <%= navbar_li_tag :home, "Súdy", courts_path %>
          <%= navbar_li_tag :group, "Sudcovia", judges_path %>
          <%= navbar_li_tag :comments, "Pojednávania", hearings_path %>
          <%= navbar_li_tag :legal, "Rozhodnutia", decrees_path %>
        </ul>
        
        <ul class="nav pull-right">
          <%= navbar_li_tag :signal, 'Štatistiky', stats_path %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="search">
  <%= form_tag nil, method: :get, class: :'form-search' do |f| %>
    <div class="input-append">
      <%= search_field_tag :search, params[:search], class: :'search-query' %>
      <%= button_tag icon_tag(:search), name: nil, class: :btn %>
    </div>
 
    <%= link_to "Rozšírené vyhľadávanie", nil %>
  <% end %>

</div>

<%= yield :header %>
