<div class="beta">
  <%= icon_tag :wrench %>
  <span>Testovacia verzia</span>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav class="nav-collapse collapse">
        <ul class="nav pull-left">
          <%= navbar_logo_tag "Otvorené Súdy" %>
          <li class="divider-vertical"></li>
          <%= navbar_link_tag :building, "Súdy", search_courts_path %>
          <%= navbar_link_tag :user, "Sudcovia", search_judges_path %>
          <%= navbar_link_tag :comments, "Pojednávania", search_hearings_path %>
          <%= navbar_link_tag :legal, "Rozhodnutia", search_decrees_path %>
          <%= navbar_link_tag :paste, "Konania", search_proceedings_path %>
        </ul>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <%= navbar_dropdown_tag :'caret-down', current_user.email, '#', join: :append do %>
              <li><%= icon_link_to :bell, "Notifikácie", subscriptions_users_path %></li>
              <li><%= icon_link_to :cog, "Nastavenia", edit_user_registration_path %></li>
              <li><%= icon_link_to :signout, "Odhlásiť", destroy_user_session_path, method: :delete %></li>
            <% end %>
          <% else %>
            <li><%= icon_link_to :signin, "Prihlásiť", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<%= yield :header %>
