<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag(asset_path('logo-white.png'), alt: :logo), root_path, :class => :brand %>

      <nav class="nav-collapse collapse">
        <ul class="nav pull-left">
          <% # TODO rm
           #content_tag :li, link_to('Súdy', courts_path), class: current_page?(courts_path) ? :active : nil
           %>
          <li><%= link_to 'Súdy', courts_path %></li>
          <li><%= link_to 'Sudcovia', judges_path %></li>
          <li><%= link_to 'Pojednávania', hearings_path %></li>
          <li><%= link_to 'Rozhodnutia', decrees_path %></li>
        </ul>
        
        <ul class="nav pull-right">
          <li><%= link_to_with_tooltip icon_tag(:signal), stats_path, 'Štatistiky' %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<header class="jumbotron subhead">
  <div class="container">
    <h1>Customize and download</h1>
    <p class="lead"><a href="https://github.com/twitter/bootstrap/zipball/master">Download Bootstrap</a> or customize variables, components, JavaScript plugins, and more.</p>
  </div>
</header>

