<div class="donate">
  <%= external_link_to t('.donate'), 'http://transparency.darujme.sk/238', icon: :gift %>
</div>

<div class="beta">
  <%= icon_tag :wrench %>
  <span><%= t '.beta_version' %></span>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav class="nav-collapse collapse">
        <ul class="nav pull-left">
          <li><%= external_link_to image_tag(asset_path('logos/sme-colored-76.png'), alt: nil), 'http://sme.sk', { class: :'logo-sme' }.merge(track_data :'sme') %></li>
          <li class="divider-vertical"></li>
          <li><%= navbar_logo_tag nil, type: :logo %></li>
<!--
          <%= navbar_logo_tag "Otvorené Súdy" %>
-->
          <li class="divider-vertical"></li>
          <%= navbar_link_tag :building, t('.courts'), search_courts_path %>
          <%= navbar_link_tag :user, t('.judges'), search_judges_path %>
          <%= navbar_link_tag :comments, t('.hearings'), search_hearings_path %>
          <%= navbar_link_tag :legal, t('.decrees'), search_decrees_path %>
          <%= navbar_link_tag :paste, t('.proceedings'), search_proceedings_path %>
          <%= navbar_link_tag :paste, t('.procedures'), search_selection_procedures_path %>
        </ul>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <%= navbar_dropdown_tag :'caret-down', current_user.email, '#', join: :append do %>
              <li><%= icon_link_to :bell, t('.notifications'), subscriptions_users_path %></li>
              <li><%= icon_link_to :cog, t('.settings'), edit_user_registration_path %></li>
              <li><%= icon_link_to :signout, t('.sign_out'), destroy_user_session_path, method: :delete %></li>
            <% end %>
          <% else %>
            <li><%= icon_link_to :signin, t('.sign_in'), new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<%= yield :header %>
