<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title(yield :title) %></title>
    <meta charset="utf-8">
    <%= favicon_link_tag asset_path('favicon.ico'), type: 'image/x-icon' %>
    <%= stylesheet_link_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/shim' %>
    <%= render 'layouts/debug' if Rails.env.development? %>
  </body>
</html>
