<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <title><%= resolve_title(yield :title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="<%= t '.description'%>" />
    <meta name="keywords" content="<%= t '.keywords' %>" />
    <meta name="author" content="<%= t '.authors' %>" />
    <meta property="og:title" content="<%= resolve_title(yield :title) %>" />
    <meta property="og:description" content="<%= t '.content' %>" />
    <meta property="og:image" content="<%= asset_path 'brands/otvorene-sudy.svg' %>" />
    <meta property="og:url" content="<%= canonical_url %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= resolve_title(yield :title) %>" />
    <meta name="twitter:description" content="<%= t '.content' %>" />
    <meta name="twitter:image" content="<%= asset_path 'brands/otvorene-sudy.svg' %>" />
    <meta name="twitter:url" content="<%= canonical_url %>" />
    <link rel="mask-icon" href="<%= asset_path 'maskicon.svg' %>" sizes="any" />
    <link rel="apple-touch-icon" href="<%= asset_path 'touchicon.png' %>" />
    <link rel="icon" href="<%= asset_path 'favicon.png' %>" />
    <meta name="msapplication-TileImage" content="<%= asset_path 'tileicon.png' %>" />
    <meta name="msapplication-TileColor" content="#fff" />
    <link rel="prefetch" href="<%= asset_path 'icons.svg' %>" />
    <link rel="prefetch" href="<%= asset_path 'brands.svg' %>" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,700&subset=latin-ext" />
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
    <%= Garelic.monitoring 'UA-38636233-1' if Rails.env.production? %>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson:true,isDebug:false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"],function(L){L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"62c76c96e9ce8b3e2492ebf24","lid":"63d692ade5"})})</script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container mt-4 px-sm-0">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
