<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Zverejňovanie súdnych rozhodnutí a pojednávaní" />
    <meta name="keywords" content="otvorené súdy, slovenské súdnictvo, súdne rozhodnutia, súdne pojednávania" />
    <meta name="author" content="Samuel Molnár a Pavol Zbell" />
    <title><%= title yield :title %></title>
    <%= favicon_link_tag asset_path('favicon.ico'), type: :'image/x-icon' %>
    <%= stylesheet_link_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/debug' if Rails.env.development? %>
    <%= render 'shared/shim' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
  </body>
</html>
