<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <title><%= obtain yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Transparentný pohľad na slovenské súdnictvo." />
    <meta name="keywords" content="slovenské súdnictvo, sudcovia, súdne rozhodnutia, súdne pojednávania" />
    <meta name="author" content="Samuel Molnár a Pavol Zbell" />
    <meta name="og:title" content="<%= obtain yield :title %>" />
    <meta name="og:description" content="Transparentný pohľad na súdy. Ktoré sú najrýchlejšie a ktoré platia najvyššie pokuty za zlé verdikty? Aké majú sudcovia majetky? Hľadajte v súdnych rozhodnutiach a pojednávaniach!" />
    <meta name="og:image" content="<%= asset_path 'icons/icon.png' %>" />
    <meta name="og:url" content="<%= canonical_url %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= obtain yield :title %>" />
    <meta name="twitter:description" content="Transparentný pohľad na súdy. Ktoré sú najrýchlejšie a ktoré platia najvyššie pokuty za zlé verdikty? Aké majú sudcovia majetky? Hľadajte v súdnych rozhodnutiach a pojednávaniach!" />
    <meta name="twitter:image" content="<%= asset_path 'icons/icon.png' %>" />
    <meta name="twitter:url" content="<%= canonical_url %>" />
    <meta itemprop="name" content="<%= obtain yield :title %>" />
    <meta itemprop="description" content="Transparentný pohľad na súdy. Ktoré sú najrýchlejšie a ktoré platia najvyššie pokuty za zlé verdikty? Aké majú sudcovia majetky? Hľadajte v súdnych rozhodnutiach a pojednávaniach!" />
    <meta itemprop="image" content="<%= asset_path 'icons/icon.png' %>" />
    <link rel="apple-touch-icon" href="<%= asset_path 'icons/touchicon.png' %>" />
    <link rel="icon" href="<%= asset_path 'icons/favicon.png' %>" />
    <!--[if IE]><link rel="shortcut icon" href="<%= asset_path 'icons/favicon.ico' %>" /><![endif]-->
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-TileImage" content="<%= asset_path 'icons/tileicon.png' %>" />
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'shared/debug' if Rails.env.development? %>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
    <%= Garelic.monitoring 'UA-38636233-1' %>
  </body>
</html>
