<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <title><%= resolve_title(yield :title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= t '.meta_description'%>" />
    <meta name="keywords" content="<%= t '.meta_keywords' %>" />
    <meta name="author" content="<%= "Samuel Molnár #{t('and')} Pavol Zbell"%>" />
    <meta property="og:title" content="<%= resolve_title(yield :title) %>" />
    <meta property="og:description" content="<%= t '.meta_og_description' %>" />
    <meta property="og:image" content="<%= asset_path 'icons/icon.png' %>" />
    <meta property="og:url" content="<%= canonical_url %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= resolve_title(yield :title) %>" />
    <meta name="twitter:description" content="<%= t '.meta_og_description' %>" />
    <meta name="twitter:image" content="<%= asset_path 'icons/icon.png' %>" />
    <meta name="twitter:url" content="<%= canonical_url %>" />
    <meta itemprop="name" content="<%= resolve_title(yield :title) %>" />
    <meta itemprop="description" content="<%= t '.meta_og_description' %>" />
    <meta itemprop="image" content="<%= asset_path 'icons/icon.png' %>" />
    <link rel="apple-touch-icon" href="<%= asset_path 'icons/touchicon.png' %>" />
    <link rel="icon" href="<%= asset_path 'icons/favicon.png' %>" />
    <!--[if IE]><link rel="shortcut icon" href="<%= asset_path 'icons/favicon.ico' %>" /><![endif]-->
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-TileImage" content="<%= asset_path 'icons/tileicon.png' %>" />
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
    <%= Garelic.monitoring 'UA-38636233-1' %>
    <script async src="http://d3nr6w5i9vqvic.cloudfront.net/assets/collector.js" onload="initializeSearchD();"></script>
  </body>
</html>
